Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

Use non-null dataset ids in tests merged from main
  backend/crates/econ-graph-graphql/src/graphql/cross_section/tests.rs
  backend/crates/econ-graph-services/src/services/cross_section_service/tests.rs
Due: rust-fmt, rust-clippy

Add world map release spec
  frontend/tests/e2e/release/world-map/world-map.spec.ts
Due: typescript-check

REL-3: "nothing fake" check on the release build
  .github/workflows/ci-core.yml
  frontend/package.json
  frontend/scripts/__tests__/check-release-authenticity.test.ts
  frontend/scripts/check-release-authenticity.mjs
  frontend/scripts/nothing-fake-allowlist.json
  scripts/check-release-features.sh
Due: typescript-check, npm-audit

Fix check-release-features.sh's Dockerfile check for the removed CARGO_FEATURES arg
  scripts/check-release-features.sh
Due: none

Drop the sampleCountryData allowlist entry, which this PR makes stale
  frontend/scripts/nothing-fake-allowlist.json
Due: none

World map on real data
  frontend/scripts/nothing-fake-allowlist.json
  frontend/src/__tests__/graphqlOperationSkipList.ts
  frontend/src/components/global/CountryTooltip.tsx
  frontend/src/components/global/GlobalEconomicNetworkMap.tsx
  frontend/src/components/global/InteractiveWorldMap.tsx
  frontend/src/components/global/MapLegend.tsx
  frontend/src/components/global/MapValuesTable.tsx
  frontend/src/components/global/WorldMapControls.tsx
  frontend/src/components/global/WorldMapTab.tsx
  frontend/src/components/global/__tests__/InteractiveWorldMap.error.test.tsx
  frontend/src/components/global/__tests__/WorldMapTab.test.tsx
  frontend/src/components/global/__tests__/mapFormat.test.ts
  frontend/src/components/global/__tests__/worldAtlas.test.tsx
  frontend/src/components/global/hooks/__tests__/useCountryData.test.ts
  frontend/src/components/global/hooks/__tests__/useWorldMap.test.ts
  frontend/src/components/global/hooks/__tests__/useWorldMapData.test.ts
  frontend/src/components/global/hooks/useCountryData.ts
  frontend/src/components/global/hooks/useWorldMap.ts
  frontend/src/components/global/hooks/useWorldMapData.ts
  frontend/src/components/global/mapFormat.ts
  frontend/src/components/global/worldAtlas.ts
  frontend/src/contexts/GlobalAnalysisContext.tsx
  frontend/src/data/sampleCountryData.ts
  frontend/src/pages/GlobalAnalysis.tsx
  frontend/src/pages/GlobalAnalysisDemo.tsx
  frontend/src/utils/graphql.ts
  frontend/tests/e2e/d3-visualization.spec.ts
  frontend/tests/e2e/global-analysis/global-analysis-accessibility.spec.ts
  frontend/tests/e2e/global-analysis/global-analysis-context.spec.ts
  frontend/tests/e2e/global-analysis/global-analysis-enhanced.spec.ts
  frontend/tests/e2e/global-analysis/global-analysis-performance.spec.ts
  frontend/tests/e2e/global-analysis/global-analysis.spec.ts
  frontend/tests/e2e/global-analysis/world-atlas.spec.ts
  frontend/tests/e2e/global-analysis/world-map.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Gate crawler static catalogs on the static_catalogs build flag
  .github/workflows/ci-core.yml
  backend/Cargo.lock
  backend/Dockerfile
  backend/crates/econ-graph-crawler-worker/Cargo.toml
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/README.md
  backend/crates/econ-graph-crawler/build.rs
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/src/sources/static_catalogs.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/flags/dev.json
  backend/flags/release.json
  config/flags/README.md
  config/flags/dev.flagd.json
  config/flags/flags.flagd.json
  docs/data-sources/README.md
  frontend/flags/dev.json
  frontend/flags/release.json
  scripts/check-release-features.sh
Due: rust-fmt, rust-clippy, rust-audit

Allow-list the outline request check's legitimate origins
  frontend/tests/e2e/release/world-map/world-map.spec.ts
Due: typescript-check

Allow Google Fonts in the outline request check
  frontend/tests/e2e/release/world-map/world-map.spec.ts
Due: typescript-check

Register technical_analysis build flag for the compiled-out indicator module
  backend/flags/dev.json
  backend/flags/release.json
  config/flags/flags.flagd.json
  frontend/flags/dev.json
  frontend/flags/release.json
  frontend/src/utils/__tests__/technicalAnalysis.test.ts
  frontend/src/utils/technicalAnalysis.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Six-source release sweep, with the two bugs it found
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  backend/crates/econ-graph-services/src/services/search_service.rs
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/fixtures.ts
  frontend/tests/e2e/release/journey.spec.ts
  frontend/tests/e2e/release/seriesPage.ts
  frontend/tests/e2e/release/sources/six-source-sweep.spec.ts
Due: rust-fmt, rust-clippy, typescript-check

Add version, changelog and tag-triggered release workflow
  .github/workflows/release.yml
  CHANGELOG.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/crates/econ-graph-metrics/Cargo.toml
  docs/deployment/K8S_DEPLOYMENT_GUIDE.md
  frontend/package-lock.json
  frontend/package.json
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/crawler-worker.yaml
  k8s/manifests/frontend-deployment.yaml
  scripts/deploy/build-images.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/release/changelog-section.sh
  scripts/release/tag.sh
Due: rust-audit, npm-audit

Address CodeRabbit review on #317
  .github/workflows/release.yml
  scripts/release/changelog-section.sh
  scripts/release/tag.sh
Due: none

Make the rc build skip already-pushed images instead of refusing to rebuild
  .github/workflows/release.yml
Due: none

Close two remaining gaps in the rc build/publish concurrency handling
  .github/workflows/release.yml
Due: none

Restore explicit flavor: latest=false on the rc build's metadata steps
  .github/workflows/release.yml
Due: none

Stop create-secrets.sh generating the retired in-house login secrets
  k8s/README.md
  scripts/deploy/create-secrets.sh
Due: none

Transform the latest revisions by default in seriesData
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/query/series_data_tests.rs
  backend/crates/econ-graph-graphql/src/types.rs
Due: rust-fmt, rust-clippy

Answer a malformed /graphql body with a 400 JSON error
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Keep pre-dataset series when migrating an existing database
  backend/migrations/2026-10-01-000100_series_dataset_required/up.sql
Due: migration-date-order-check

Version, changelog and tag-triggered release workflow
  .github/workflows/release.yml
  CHANGELOG.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/crates/econ-graph-metrics/Cargo.toml
  docs/deployment/K8S_DEPLOYMENT_GUIDE.md
  frontend/package-lock.json
  frontend/package.json
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/crawler-worker.yaml
  k8s/manifests/frontend-deployment.yaml
  scripts/deploy/build-images.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/release/changelog-section.sh
  scripts/release/tag.sh
Due: rust-audit, npm-audit

Run the log-difference and dashboard release tests
  frontend/tests/e2e/release/series-ui/dashboard.spec.ts
  frontend/tests/e2e/release/series-ui/transformations.spec.ts
Due: typescript-check

Never schedule series parked in a legacy dataset
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/migrations/2026-10-01-000100_series_dataset_required/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Keep operational endpoints off the public API
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  k8s/manifests/ingress-cloudflare-dns01.yaml
Due: rust-fmt, rust-clippy

Format the legacy-dataset scheduler test
  backend/crates/econ-graph-crawler/src/scheduler.rs
Due: rust-fmt, rust-clippy

Build the complexity-limit tests from a real field
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
Due: rust-fmt, rust-clippy

Fix Prometheus backend scrape config, drop dead nightly E2E workflow
  .github/workflows/README.md
  .github/workflows/e2e-tests-nightly.yml
  docs/development/CI_CD_PIPELINE.md
  docs/development/e2e-testing-strategy.md
  docs/roadmap/global-analysis.md
  k8s/manifests/backend-deployment.yaml
  k8s/monitoring/prometheus-config.yaml
Due: none

Refuse oversize /graphql bodies
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Route only backend paths on the Terraform API host and pin the landing page
  backend/crates/econ-graph-backend/src/main.rs
  terraform/modules/ingress/main.tf
Due: rust-fmt, rust-clippy

docs: bring data-sources pages up to date with release 1
  docs/data-sources/README.md
  docs/data-sources/bls.md
  docs/data-sources/census-bds.md
  docs/data-sources/fhfa.md
  docs/data-sources/fred.md
  docs/data-sources/world-bank.md
Due: none

Run the log-difference and dashboard release tests (forward-port to main)
  frontend/tests/e2e/release/series-ui/dashboard.spec.ts
  frontend/tests/e2e/release/series-ui/transformations.spec.ts
Due: typescript-check

Stop tracking Terraform state and provider binaries
  .gitignore
  docs/roadmap/README.md
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_amd64/terraform-provider-local_v2.5.3_x5
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/linux_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/linux_amd64/terraform-provider-local_v2.5.3_x5
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_amd64/terraform-provider-null_v3.2.4_x5
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/linux_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/linux_amd64/terraform-provider-null_v3.2.4_x5
  terraform/k8s/terraform.tfstate
  terraform/k8s/terraform.tfstate.backup
Due: none

fix: remove Grafana from the public ingress
  README.md
  ci/docs/README.md
  config/ports.env
  config/ports.env.backup
  docs/deployment/DEPLOYMENT_RESTART.md
  docs/deployment/K8S_DEPLOYMENT_GUIDE.md
  docs/deployment/K8S_RESTART_COMMANDS.md
  docs/deployment/KUBERNETES_DEPLOYMENT.md
  docs/deployment/MICROK8S_DEPLOYMENT.md
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/manifests/ingress.yaml
  k8s/manifests/ssl-ingress.yaml
  k8s/monitoring/grafana-service.yaml
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/setup-port-forwarding.sh
  scripts/setup-microk8s-complete.sh
  scripts/setup-microk8s.sh
  scripts/test-cluster-comprehensive.sh
  scripts/test-ingress-routing.sh
Due: none

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
