Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-doc-check, rust-file-headers, frontend-prettier, frontend-eslint, typescript-check, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  rust-doc-check: any of: ^backend/.*\.rs$
  rust-file-headers: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

feat: sync CI clippy checks with enhanced pre-commit configuration
  .github/workflows/ci-core.yml
Due: none

feat: centralize clippy configuration in single script
  .github/workflows/ci-core.yml
  .pre-commit-config.yaml
  scripts/run-clippy.sh
Due: none

Fix Playwright crypto error: Cf.charCodeAt is not a function
  admin-frontend/playwright-report/index.html
  admin-frontend/test-results/.last-run.json
  admin-frontend/test-results/configuration-page.png
  admin-frontend/test-results/controls-demo.png
  admin-frontend/test-results/dashboard-content.png
  admin-frontend/test-results/dashboard-overview.png
  admin-frontend/test-results/logs-page.png
  admin-frontend/test-results/mobile-config.png
  admin-frontend/test-results/mobile-view.png
  admin-frontend/test-results/results.json
  admin-frontend/test-results/results.xml
  admin-frontend/test-results/tablet-view.png
  admin-frontend/tests/crawler-admin.spec.ts
  admin-frontend/tests/demo.spec.ts
Due: none

feat: Add eslint-plugin-jsdoc for frontend documentation quality
  .github/workflows/ci-core.yml
  .pre-commit-config.yaml
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/e2e-integration.test.tsx
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/charts/ChartCollaborationConnected.tsx
  frontend/src/components/financial/FinancialMobile.tsx
  frontend/src/components/financial/__tests__/TrendAnalysisChart.test.tsx
  frontend/src/components/global/hooks/useCountryData.ts
  frontend/src/components/global/hooks/useWorldMap.ts
  frontend/src/contexts/__tests__/ThemeContext.test.tsx
  frontend/src/hooks/useSeriesData.ts
  frontend/src/pages/FinancialComponentsDemo.tsx
  frontend/src/pages/__tests__/SeriesDetail.test.tsx
  frontend/src/setupTests.vitest.ts
  frontend/src/test-utils/mocks/data.ts
  frontend/src/test-utils/mocks/graphql-response-loader.ts
  frontend/src/test-utils/mocks/graphql/financial-mocks.ts
  frontend/src/test-utils/mocks/graphql/ratio-mocks.ts
  frontend/src/test-utils/mocks/server.ts
  frontend/src/test-utils/polyfills.js
  frontend/src/utils/__tests__/graphql.test.ts
  frontend/src/utils/chartCollaborationUtils.ts
  frontend/src/utils/technicalAnalysis.ts
Due: frontend-prettier, frontend-eslint, typescript-check, npm-audit

Clean up MSW debug output - disabled by default
  admin-frontend/src/__mocks__/msw/README.md
  admin-frontend/src/__mocks__/msw/server.ts
  admin-frontend/src/__mocks__/msw/simpleServer.ts
Due: none

docs: add crate documentation standards to AI developer expectations
  backend/crates/econ-graph-core/README.md
  personas/ai-developer-standards.md
  scripts/run-clippy.sh
Due: none

🔧 Clean up MSW debug output across all server files
  admin-frontend/src/__mocks__/msw/simpleServer.ts
  admin-frontend/src/mocks/handlers.js
  admin-frontend/src/pages/__tests__/MSWDebug.test.tsx
Due: none

🔧 Fix CI/CD to exclude Playwright tests from admin frontend unit tests
  .github/workflows/ci-core.yml
Due: none

Remove unused E2E Test Container build step
  .github/workflows/ci-core.yml
  ci/docker/e2e/build-containers-optimized.sh
  ci/docker/e2e/build-containers.sh
Due: none

Update VIBE_CODING.md with CI pipeline optimization completion
  docs/development/VIBE_CODING.md
Due: none

Optimize rust-doc-check to run only on changed crates
  .pre-commit-config.yaml
  backend/crates/econ-graph-core/src/auth_models.rs
  backend/crates/econ-graph-core/src/config.rs
  backend/crates/econ-graph-core/src/database.rs
  backend/crates/econ-graph-core/src/enums.rs
  backend/crates/econ-graph-core/src/error.rs
  backend/crates/econ-graph-core/src/lib.rs
  backend/crates/econ-graph-core/src/models/company.rs
  backend/crates/econ-graph-core/src/models/data_point.rs
  backend/crates/econ-graph-core/src/models/financial_statement.rs
  backend/crates/econ-graph-core/src/models/mod.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-core/src/test_utils.rs
  scripts/run-clippy-changed.sh
  scripts/run-doc-check-changed.sh
Due: rust-fmt, rust-clippy, rust-doc-check, rust-file-headers

Fix trailing whitespace in run-clippy-changed.sh
  scripts/run-clippy-changed.sh
Due: none

Remove unused E2E Test Container build step from CI pipeline (#134)
  .github/workflows/ci-core.yml
  ci/docker/e2e/build-containers-optimized.sh
  ci/docker/e2e/build-containers.sh
  docs/development/VIBE_CODING.md
Due: none

Fix trailing whitespace in run-doc-check-changed.sh
  scripts/run-doc-check-changed.sh
Due: none

feat: Enhanced Clippy checks and pre-commit optimizations (#135)
  .pre-commit-config.yaml
  backend/crates/econ-graph-core/README.md
  backend/crates/econ-graph-core/src/auth_models.rs
  backend/crates/econ-graph-core/src/config.rs
  backend/crates/econ-graph-core/src/database.rs
  backend/crates/econ-graph-core/src/enums.rs
  backend/crates/econ-graph-core/src/error.rs
  backend/crates/econ-graph-core/src/lib.rs
  backend/crates/econ-graph-core/src/models/company.rs
  backend/crates/econ-graph-core/src/models/data_point.rs
  backend/crates/econ-graph-core/src/models/financial_statement.rs
  backend/crates/econ-graph-core/src/models/mod.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-core/src/test_utils.rs
  personas/ai-developer-standards.md
  scripts/run-clippy-changed.sh
  scripts/run-clippy.sh
  scripts/run-doc-check-changed.sh
Due: rust-fmt, rust-clippy, rust-doc-check, rust-file-headers

Update frontend documentation configuration
  .pre-commit-config.yaml
  frontend/eslint.config.js
Due: none

docs: Add comprehensive documentation for econ-graph-metrics crate
  backend/crates/econ-graph-metrics/README.md
  backend/crates/econ-graph-metrics/src/crawler.rs
  backend/crates/econ-graph-metrics/src/lib.rs
Due: rust-fmt, rust-clippy, rust-doc-check, rust-file-headers

perf: Optimize frontend pre-commit hooks with pass_filenames
  .pre-commit-config.yaml
Due: none

Increase ESLint warning limit for documentation branch
  .pre-commit-config.yaml
Due: none

docs: Add comprehensive documentation for econ-graph-graphql and econ-graph-services crates
  backend/crates/econ-graph-graphql/README.md
  backend/crates/econ-graph-services/README.md
  backend/crates/econ-graph-services/src/lib.rs
Due: rust-fmt, rust-clippy, rust-doc-check, rust-file-headers

docs: Document econ-graph-metrics crate and optimize pre-commit hooks (#136)
  .pre-commit-config.yaml
  backend/crates/econ-graph-graphql/README.md
  backend/crates/econ-graph-metrics/README.md
  backend/crates/econ-graph-metrics/src/crawler.rs
  backend/crates/econ-graph-metrics/src/lib.rs
  backend/crates/econ-graph-services/README.md
  backend/crates/econ-graph-services/src/lib.rs
Due: rust-fmt, rust-clippy, rust-doc-check, rust-file-headers

Temporarily disable admin-frontend pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix TypeScript compilation and initial JSDoc warnings
  .pre-commit-config.yaml
  frontend/src/App.tsx
  frontend/src/__tests__/e2e-integration.test.tsx
  frontend/src/__tests__/e2e-user-workflows.test.tsx
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/api/__tests__/chartApi.test.ts
  frontend/src/api/chartApi.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
Due: frontend-prettier, frontend-eslint, typescript-check

Fix CI ESLint command for new flat config format
  .github/workflows/ci-core.yml
Due: none

Fix frontend test issues
  frontend/src/api/chartApi.ts
  frontend/src/setupTests.vitest.ts
  frontend/src/test-utils/mocks/graphql-responses/get_financial_dashboard/success.json
Due: frontend-prettier, frontend-eslint, typescript-check

Fix frontend test issues
  frontend/src/components/financial/__tests__/FinancialStatementViewer.test.tsx
  frontend/src/components/financial/__tests__/RatioAnalysisPanel.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/test-utils/mocks/graphql-responses/get_ratio_benchmarks/success.json
  frontend/src/utils/__tests__/graphql.test.ts
Due: frontend-prettier, frontend-eslint, typescript-check

Fix TypeScript error in MSW server
  frontend/src/test-utils/mocks/server.ts
Due: frontend-prettier, frontend-eslint, typescript-check

Remove console output for number of ratios
  frontend/src/components/financial/TrendAnalysisChart.tsx
Due: frontend-prettier, frontend-eslint, typescript-check

Make MSW debugging optional using MSW_DEBUG environment variable
  frontend/src/test-utils/mocks/server.ts
  frontend/src/utils/graphql.ts
Due: frontend-prettier, frontend-eslint, typescript-check

Fix MSW server setup for Node.js mode
  frontend/src/components/financial/__tests__/FinancialStatementViewer.test.tsx
  frontend/src/components/financial/__tests__/RatioAnalysisPanel.test.tsx
  frontend/src/setupTests.vitest.ts
  frontend/src/test-utils/mocks/server.ts
Due: frontend-prettier, frontend-eslint, typescript-check

docs: Add comprehensive documentation for remaining EconGraph crates
  backend/crates/econ-graph-auth/README.md
  backend/crates/econ-graph-auth/src/lib.rs
  backend/crates/econ-graph-backend/README.md
  backend/crates/econ-graph-backend/src/lib.rs
  backend/crates/econ-graph-crawler/README.md
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-mcp/README.md
  backend/crates/econ-graph-mcp/src/lib.rs
  backend/crates/econ-graph-sec-crawler/README.md
Due: rust-fmt, rust-clippy, rust-doc-check, rust-file-headers

docs: Add comprehensive backend README with architecture overview
  backend/README.md
Due: none

Remove mock data from components
  frontend/src/components/financial/FinancialAlerts.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/RatioAnalysisPanel.tsx
  frontend/src/test-utils/mocks/server.ts
Due: frontend-prettier, frontend-eslint, typescript-check

Implement simple MSW approach based on admin-frontend
  frontend/src/setupTests.vitest.ts
  frontend/src/test-utils/mocks/simpleServer.ts
Due: frontend-prettier, frontend-eslint, typescript-check
