Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

Enforce GraphQL depth and complexity limits; serve /playground only when enabled
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
  docker-compose.yml
  docs/api/GRAPHQL_API.md
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/setup-local-k8s.sh
Due: rust-fmt, rust-clippy

Drop cdn.jsdelivr.net from the CSP script-src
  k8s/manifests/security-configmap.yaml
  k8s/manifests/ssl-ingress.yaml
Due: none

Cut the Core CI queue: cancel superseded PR runs, test stacked PRs, skip frontend jobs on backend-only PRs
  .github/workflows/README.md
  .github/workflows/ci-core.yml
Due: none

Run the audit, license, Docker build and migration jobs only when the files they check change
  .github/workflows/README.md
  .github/workflows/ci-core.yml
Due: none

Clean up the frontend pages nobody owned
  frontend/src/App.tsx
  frontend/src/__tests__/navigation-targets.test.ts
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/pages/About.tsx
  frontend/src/pages/PrivacyPolicy.tsx
  frontend/src/pages/UserDataDeletion.tsx
  frontend/tests/e2e/release/crawl/every-control.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Remove the mock professional analysis page
  .github/workflows/ci-core.yml
  .github/workflows/e2e-tests-nightly.yml
  ci/README.md
  ci/configs/playwright-analysis.config.ts
  ci/configs/playwright-mobile-analysis.config.ts
  ci/docker/docker-compose.test.yml
  ci/docs/README.md
  ci/scripts/dev-workflow.sh
  docs/archive/ci/docs/E2E_TEST_FAILURE_ANALYSIS.md
  docs/business/ROADMAP.md
  docs/development/CI_CD_PIPELINE.md
  docs/development/e2e-testing-strategy.md
  frontend/ci/configs/playwright-comprehensive.config.ts
  frontend/ci/configs/playwright-mobile-comprehensive.config.ts
  frontend/ci/configs/playwright-mobile-professional-analysis.config.ts
  frontend/ci/configs/playwright-professional-analysis.config.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/e2e-user-workflows.test.tsx
  frontend/src/__tests__/navigation-targets.test.ts
  frontend/src/components/charts/ChartCollaboration.tsx
  frontend/src/components/charts/ProfessionalChart.tsx
  frontend/src/components/charts/__tests__/ChartCollaboration.test.tsx
  frontend/src/components/charts/__tests__/ProfessionalChart.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/ProfessionalAnalysis.tsx
  frontend/src/pages/__tests__/NotFound.test.tsx
  frontend/tests/e2e/comprehensive/complete-workflow.spec.ts
  frontend/tests/e2e/professional-analysis/professional-analysis.spec.ts
  frontend/tests/e2e/release/crawl/allowlist.ts
  frontend/tests/e2e/release/crawl/every-control.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Put the XBRL parser behind a cargo feature
  .github/workflows/ci-core.yml
  backend/README.md
  backend/crates/econ-graph-core/Cargo.toml
  backend/crates/econ-graph-core/src/models/mod.rs
  backend/crates/econ-graph-sec-crawler/Cargo.toml
  backend/crates/econ-graph-sec-crawler/README.md
  backend/crates/econ-graph-sec-crawler/src/bin/sec_crawler.rs
  backend/crates/econ-graph-sec-crawler/src/crawler.rs
  backend/crates/econ-graph-sec-crawler/src/lib.rs
  backend/crates/econ-graph-sec-crawler/src/models.rs
  backend/crates/econ-graph-sec-crawler/src/storage.rs
  backend/scripts/run-tests-optimized.sh
  docs/testing/XBRL_FINANCIAL_CI_INTEGRATION_TESTS.md
Due: rust-fmt, rust-clippy

Remove deprecated isVisible alias from annotation mutations
  backend/crates/econ-graph-core/src/enums.rs
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/annotation_visibility_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/imports.rs
  backend/crates/econ-graph-graphql/src/types.rs
Due: rust-fmt, rust-clippy

Preserve application database Secret and share PostgreSQL superuser credential
  k8s/manifests/secret.yaml
Due: none

Preserve application database Secret and share PostgreSQL superuser credential
  k8s/manifests/postgres-deployment.yaml
Due: none

Preserve application database Secret and share PostgreSQL superuser credential
  k8s/manifests/postgres-backup-cronjob.yaml
Due: none

Preserve application database Secret and share PostgreSQL superuser credential
  scripts/deploy/restore-postgres-backup.sh
Due: none

Retain PostgreSQL backup volume as well as primary data volume
  scripts/deploy/protect-postgres-pv.sh
Due: none

Fail teardown closed unless both database and backup volumes are retained
  scripts/deploy/teardown.sh
Due: none

Document credential and retained backup volume deployment
  scripts/deploy/setup-local-k8s.sh
Due: none

Document credential and retained backup volume deployment
  docs/deployment/POSTGRES_BACKUP_RESTORE.md
Due: none

Add graceful shutdown to backend and a migration advisory lock (#259)
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/database.rs
Due: rust-fmt, rust-clippy

Correct backup runbook Secret reference after main integration
  docs/deployment/POSTGRES_BACKUP_RESTORE.md
Due: none

Scope documented backup verification to commands actually exercised
  docs/deployment/POSTGRES_BACKUP_RESTORE.md
Due: none

Lint Markdown and check relative links on every PR (#197)
  .github/workflows/docs-checks.yml
  .lycheeignore
  .markdownlint.json
  .pre-commit-config.yaml
  docs/business/COST_ASSUMPTIONS_AND_PRODUCTIVITY_ANALYSIS.md
  docs/deployment/CLUSTER_DNS_TROUBLESHOOTING.md
  docs/development/CI_CD_PIPELINE.md
  docs/user-guides/GLOBAL_ANALYSIS_USER_GUIDE.md
  frontend/docs/storybook-testing.md
  frontend/src/components/financial/README.md
  personas/devops-engineer.md
  personas/frontend-developer.md
Due: frontend-prettier

Commit backend/Cargo.lock for reproducible builds (#256)
  .gitignore
  backend/.dockerignore
  backend/Cargo.lock
  backend/Dockerfile
Due: rust-audit

Add nightly Postgres backups, PV Retain policy, and teardown safety prompt (#257)
  docs/deployment/POSTGRES_BACKUP_RESTORE.md
  k8s/manifests/postgres-backup-configmap.yaml
  k8s/manifests/postgres-backup-cronjob.yaml
  k8s/manifests/postgres-backup-pvc.yaml
  scripts/deploy/backup-postgres-now.sh
  scripts/deploy/deploy.sh
  scripts/deploy/protect-postgres-pv.sh
  scripts/deploy/restore-postgres-backup.sh
  scripts/deploy/setup-local-k8s.sh
  scripts/deploy/teardown.sh
Due: none

Use one atomic user update and honor scoped admin roles
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
Due: rust-fmt, rust-clippy

Use one atomic user update and honor scoped admin roles (#260)
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
Due: rust-fmt, rust-clippy

Page seriesData to the end and compute a real log difference
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/query/series_data_tests.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
  docs/api/GRAPHQL_API.md
Due: rust-fmt, rust-clippy

Series page loads every page of data
  frontend/eslint.config.js
  frontend/src/components/charts/SeriesChart.tsx
  frontend/src/components/charts/__tests__/SeriesChart.test.tsx
  frontend/src/hooks/__tests__/useSeriesDataPaging.test.tsx
  frontend/src/hooks/useSeriesData.ts
  frontend/src/pages/__tests__/SeriesDetail.test.tsx
  frontend/src/pages/__tests__/fixtures/seriesAnnotations.ts
  frontend/src/pages/__tests__/fixtures/seriesDetail.ts
  frontend/src/utils/graphql.ts
  frontend/src/utils/transformations.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Download the shown series points as CSV
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/__tests__/SeriesDetailCsvDownload.test.tsx
  frontend/src/utils/__tests__/seriesCsv.test.ts
  frontend/src/utils/seriesCsv.ts
  frontend/tests/e2e/release/journey.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Flag owners are Linear ids; flag check runs on every PR
  .github/workflows/feature-flags.yml
  config/flags/README.md
  config/flags/flags.flagd.json
  scripts/check-flags/check.js
  scripts/check-flags/cli.js
  scripts/check-flags/test/check.test.js
  scripts/check-flags/test/fixtures/bad-key/flags.flagd.json
  scripts/check-flags/test/fixtures/build-disabled/flags.flagd.json
  scripts/check-flags/test/fixtures/build-missing-remove-by/flags.flagd.json
  scripts/check-flags/test/fixtures/build-non-boolean/flags.flagd.json
  scripts/check-flags/test/fixtures/build-with-targeting/flags.flagd.json
  scripts/check-flags/test/fixtures/dev-changes-state/flags.flagd.json
  scripts/check-flags/test/fixtures/dev-changes-variants/flags.flagd.json
  scripts/check-flags/test/fixtures/dev-schema-invalid/flags.flagd.json
  scripts/check-flags/test/fixtures/dev-unknown-default-variant/flags.flagd.json
  scripts/check-flags/test/fixtures/dev-unknown-flag/flags.flagd.json
  scripts/check-flags/test/fixtures/dev-with-metadata/flags.flagd.json
  scripts/check-flags/test/fixtures/dev-with-targeting/flags.flagd.json
  scripts/check-flags/test/fixtures/experiment-malformed-remove-by/flags.flagd.json
  scripts/check-flags/test/fixtures/inherited-default-variant/flags.flagd.json
  scripts/check-flags/test/fixtures/malformed-remove-by/flags.flagd.json
  scripts/check-flags/test/fixtures/missing-kind/flags.flagd.json
  scripts/check-flags/test/fixtures/missing-metadata/flags.flagd.json
  scripts/check-flags/test/fixtures/missing-owner/flags.flagd.json
  scripts/check-flags/test/fixtures/owner-not-linear/dev.flagd.json
  scripts/check-flags/test/fixtures/owner-not-linear/flags.flagd.json
  scripts/check-flags/test/fixtures/owner-roadmap-doc/dev.flagd.json
  scripts/check-flags/test/fixtures/owner-roadmap-doc/flags.flagd.json
  scripts/check-flags/test/fixtures/preview-missing-remove-by/flags.flagd.json
  scripts/check-flags/test/fixtures/preview-missing-stage/flags.flagd.json
  scripts/check-flags/test/fixtures/preview-unknown-stage/flags.flagd.json
  scripts/check-flags/test/fixtures/remove-by-on-ops-flag/flags.flagd.json
  scripts/check-flags/test/fixtures/schema-bad-targeting/flags.flagd.json
  scripts/check-flags/test/fixtures/schema-missing-variants/flags.flagd.json
  scripts/check-flags/test/fixtures/stage-on-build-flag/flags.flagd.json
  scripts/check-flags/test/fixtures/unknown-default-variant/flags.flagd.json
  scripts/check-flags/test/fixtures/unknown-kind/flags.flagd.json
  scripts/check-flags/test/fixtures/unknown-metadata-key/flags.flagd.json
  scripts/check-flags/test/fixtures/valid-dev-variants-reordered/flags.flagd.json
  scripts/check-flags/test/fixtures/valid/flags.flagd.json
Due: none

UI-10 follow-up: un-fixme the CSV download spec
  frontend/tests/e2e/release/series-ui/csv-download.spec.ts
Due: typescript-check

Hide series and sources with no data points
  backend/Cargo.lock
  backend/crates/econ-graph-graphql/Cargo.toml
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/search_service.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
Due: rust-fmt, rust-clippy, rust-audit

Keep static catalogs out of release builds and delete the IMF adapter
  .github/workflows/ci-core.yml
  backend/Dockerfile
  backend/README.md
  backend/crates/econ-graph-crawler-worker/Cargo.toml
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/README.md
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/source.rs
  backend/crates/econ-graph-crawler/src/sources/imf.rs
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/src/sources/static_catalogs.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-crawler/tests/fixtures/imf/dataflow.json
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  docs/data-sources/README.md
  docs/data-sources/imf.md
Due: rust-fmt, rust-clippy

Use a placeholder issue id in flag owner examples
  config/flags/README.md
  scripts/check-flags/check.js
Due: none

Recover from a late-committing navigation in the release e2e crawl
  frontend/tests/e2e/release/crawl/controls-recovery.spec.ts
  frontend/tests/e2e/release/crawl/controls.ts
Due: typescript-check

Add frontend build-time flags
  .github/workflows/ci-core.yml
  frontend/Dockerfile
  frontend/docs/build-flags.md
  frontend/eslint.config.js
  frontend/flags.config.ts
  frontend/package.json
  frontend/playwright.release.config.ts
  frontend/scripts/check-flag-bundle.mjs
  frontend/src/App.tsx
  frontend/src/__tests__/flags.test.ts
  frontend/src/flags.ts
  frontend/src/pages/FlagCanary.tsx
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/crawl/every-control.spec.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  frontend/vitest.integration.config.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit
