Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

Clarify keycloak README: role deletion also removes its user mappings
  config/keycloak/README.md
Due: none

Escape every JSON control character in render-realm.sh, not just \n\r\t
  scripts/keycloak/render-realm.sh
  scripts/keycloak/test-render-realm.sh
Due: none

Define the fine-grained roles and staff composites in the Keycloak realm
  .github/workflows/ci-core.yml
  config/keycloak/README.md
  config/keycloak/dev/econ-graph-users-0.json
  config/keycloak/econ-graph-realm.json
  docker-compose.yml
  k8s/README.md
  k8s/manifests/keycloak/deployment.yaml
  k8s/manifests/keycloak/realm-import-job.yaml
  scripts/check-keycloak-roles
  scripts/deploy/deploy.sh
  scripts/keycloak/dev-token.sh
  scripts/keycloak/render-realm.sh
  scripts/keycloak/test-check-keycloak-roles.sh
  scripts/keycloak/test-render-realm.sh
  scripts/keycloak/testdata/check-roles/catalog.txt
  scripts/keycloak/testdata/check-roles/realm-admin-incomplete.json
  scripts/keycloak/testdata/check-roles/realm-default-has-staff-role.json
  scripts/keycloak/testdata/check-roles/realm-duplicate-role.json
  scripts/keycloak/testdata/check-roles/realm-extra-role.json
  scripts/keycloak/testdata/check-roles/realm-match.json
  scripts/keycloak/testdata/check-roles/realm-missing-role.json
  scripts/keycloak/testdata/check-roles/realm-unknown-composite.json
  scripts/keycloak/testdata/check-roles/realm-user-has-staff-role.json
Due: none

Verify Keycloak access tokens in the backend
  backend/crates/econ-graph-auth/Cargo.toml
  backend/crates/econ-graph-auth/src/bearer.rs
  backend/crates/econ-graph-auth/src/lib.rs
  backend/crates/econ-graph-auth/src/oidc.rs
  backend/crates/econ-graph-auth/src/roles.rs
  backend/crates/econ-graph-auth/src/testkit.rs
  backend/crates/econ-graph-backend/Cargo.toml
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/models/user.rs
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/context.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  docker-compose.yml
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/network-policy.yaml
Due: rust-fmt, rust-clippy

Describe the backend OIDC settings in the v4.0.0 QA plan
  docs/release/v4.0.0-qa.md
Due: none

Stop deploying admin-frontend until it moves to Keycloak (ECO-243)
  scripts/deploy/build-images.sh
  scripts/deploy/deploy.sh
Due: none

Replace chart_annotations.is_visible with a native visibility enum
  backend/crates/econ-graph-core/src/enums.rs
  backend/crates/econ-graph-core/src/models/user.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-graphql/src/graphql/annotation_visibility_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/imports.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
  backend/migrations/2026-09-27-000001_annotation_visibility_enum/down.sql
  backend/migrations/2026-09-27-000001_annotation_visibility_enum/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Fix test helper for the merged Caller-based GraphQLContext
  backend/crates/econ-graph-graphql/src/graphql/annotation_visibility_tests.rs
Due: rust-fmt, rust-clippy

Annotation visibility: native enum, ownership, updateAnnotation
  backend/crates/econ-graph-core/src/enums.rs
  backend/crates/econ-graph-core/src/models/user.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-graphql/src/graphql/annotation_visibility_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/imports.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
  backend/migrations/2026-09-27-000001_annotation_visibility_enum/down.sql
  backend/migrations/2026-09-27-000001_annotation_visibility_enum/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Commit schema.graphql and validate frontend GraphQL operations against it
  .gitattributes
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-graphql/README.md
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
  backend/crates/econ-graph-graphql/tests/schema_snapshot.rs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/graphql-operations.test.ts
  frontend/src/__tests__/graphqlOperationSkipList.ts
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Wire Keycloak into the release e2e stack
  .github/workflows/release-e2e.yml
  docker-compose.release-e2e.yml
  frontend/playwright.release.config.ts
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/auth/sign-in.spec.ts
  scripts/release-e2e.sh
Due: typescript-check

Regenerate schema.graphql for seriesByExternalId and latestObservation
  backend/crates/econ-graph-graphql/schema.graphql
Due: none

Add role=img so the chart's aria-label is announced
  frontend/src/components/charts/SeriesChart.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix stale comments after AUTH-7 landed
  frontend/playwright.release.config.ts
  frontend/tests/e2e/release/README.md
Due: typescript-check

Fold the series charts into one SeriesChart with annotations
  frontend/src/__tests__/e2e-user-workflows.test.tsx
  frontend/src/__tests__/graphql-operations.test.ts
  frontend/src/__tests__/graphqlOperationSkipList.ts
  frontend/src/components/charts/ChartCollaborationConnectedQuery.tsx
  frontend/src/components/charts/InteractiveChart.tsx
  frontend/src/components/charts/InteractiveChartWithCollaboration.tsx
  frontend/src/components/charts/SeriesChart.tsx
  frontend/src/components/charts/__tests__/ChartCollaborationConnectedQuery.test.tsx
  frontend/src/components/charts/__tests__/InteractiveChart.test.tsx
  frontend/src/components/charts/__tests__/InteractiveChartWithCollaboration.test.tsx
  frontend/src/components/charts/__tests__/SeriesChart.test.tsx
  frontend/src/components/charts/__tests__/seriesChartData.test.ts
  frontend/src/components/charts/seriesChartData.ts
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/__tests__/SeriesDetail.test.tsx
  frontend/src/setupTests.vitest.ts
  frontend/src/utils/__tests__/chartCollaborationUtils.test.ts
  frontend/src/utils/chartCollaborationUtils.ts
  frontend/src/utils/graphql.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Address CodeRabbit findings on deploy scripts
  scripts/deploy/build-images.sh
  scripts/deploy/deploy.sh
Due: none

Fix deploy.sh for a clean kind cluster
  scripts/deploy/build-images.sh
  scripts/deploy/deploy.sh
Due: none

Track RELEASE_FRONTEND_PORT in Keycloak's registered origin
  docker-compose.release-e2e.yml
  frontend/playwright.release.config.ts
Due: typescript-check

Show public annotations on the series chart
  frontend/src/__tests__/graphqlOperationSkipList.ts
  frontend/src/components/charts/SeriesAnnotationsPanel.tsx
  frontend/src/components/charts/__tests__/SeriesAnnotationsPanel.test.tsx
  frontend/src/hooks/useCollaboration.ts
  frontend/src/hooks/useSeriesAnnotations.ts
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/__tests__/SeriesDetail.test.tsx
  frontend/src/pages/__tests__/SeriesDetailAnnotations.test.tsx
  frontend/src/pages/__tests__/fixtures/seriesAnnotations.ts
  frontend/src/setupTests.vitest.ts
  frontend/src/utils/graphql.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Align the roadmap index with the merged release and workspace roadmaps
  docs/roadmap/README.md
Due: none

Document the data shape of each crawler source
  docs/data-sources/README.md
  docs/data-sources/bea.md
  docs/data-sources/bls.md
  docs/data-sources/census-bds.md
  docs/data-sources/fhfa.md
  docs/data-sources/fred.md
  docs/data-sources/imf.md
  docs/data-sources/sec-xbrl.md
  docs/data-sources/world-bank.md
Due: none

Align the roadmap index with the merged release and workspace roadmaps (#247)
  docs/roadmap/README.md
Due: none

Point the roadmap index at Linear for the topics that moved there
  docs/roadmap/README.md
Due: none

Point the roadmap index at Linear for the topics that moved there (#268)
  docs/roadmap/README.md
Due: none

Mark the roadmap index and release plan as moved to Linear
  docs/roadmap/README.md
  docs/roadmap/analysis-workspace.md
  docs/roadmap/auth-plans-permissions.md
  docs/roadmap/releases.md
Due: none

Mark the roadmap index and release plan as moved to Linear (#269)
  docs/roadmap/README.md
  docs/roadmap/analysis-workspace.md
  docs/roadmap/auth-plans-permissions.md
  docs/roadmap/releases.md
Due: none

Re-run the annotation list's scroll-into-view when its rows remount
  frontend/src/components/charts/SeriesAnnotationsPanel.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Annotate on the series page
  frontend/src/__tests__/graphqlOperationSkipList.ts
  frontend/src/components/annotations/AnnotationComments.tsx
  frontend/src/components/annotations/AnnotationFormDialog.tsx
  frontend/src/components/annotations/useSeriesAnnotationEditor.tsx
  frontend/src/components/charts/SeriesAnnotationsPanel.tsx
  frontend/src/components/charts/SeriesChart.tsx
  frontend/src/components/charts/__tests__/SeriesAnnotationsPanel.test.tsx
  frontend/src/components/charts/__tests__/SeriesChart.test.tsx
  frontend/src/components/charts/seriesChartData.ts
  frontend/src/hooks/useAnnotationEditing.ts
  frontend/src/hooks/useSeriesAnnotations.ts
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/__tests__/SeriesDetailAnnotationEditing.test.tsx
  frontend/src/pages/__tests__/SeriesDetailAnnotations.test.tsx
  frontend/src/pages/__tests__/fixtures/seriesAnnotations.ts
  frontend/src/utils/graphql.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Explore page: real search results, no made-up time or dates
  frontend/src/__tests__/graphqlOperationSkipList.ts
  frontend/src/hooks/__tests__/useSeriesSearch.test.tsx
  frontend/src/hooks/useSeriesData.ts
  frontend/src/pages/DataSources.tsx
  frontend/src/pages/SeriesExplorer.tsx
  frontend/src/pages/__tests__/DataSources.test.tsx
  frontend/src/pages/__tests__/SeriesExplorer.test.tsx
  frontend/src/pages/__tests__/SeriesExplorerEmptyStates.test.tsx
  frontend/src/utils/graphql.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Require CENSUS_API_KEY for the Census adapter
  .github/workflows/crawler-integration-test.yml
  backend/crates/econ-graph-core/src/models/data_source.rs
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/policy.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/migrations/2026-09-26-000010_census_api_key_required/down.sql
  backend/migrations/2026-09-26-000010_census_api_key_required/up.sql
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  docs/technical/CRAWLER_POLITENESS.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Fix CodeRabbit findings on the Census API key PR
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
Due: rust-fmt, rust-clippy

Rename Census API key migration to sort after main's latest
  backend/migrations/2026-09-28-000001_census_api_key_required/down.sql
  backend/migrations/2026-09-28-000001_census_api_key_required/up.sql
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
Due: migration-date-order-check

Require CENSUS_API_KEY for the Census adapter
  .github/workflows/crawler-integration-test.yml
  backend/crates/econ-graph-core/src/models/data_source.rs
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/policy.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/migrations/2026-09-28-000001_census_api_key_required/down.sql
  backend/migrations/2026-09-28-000001_census_api_key_required/up.sql
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  docs/technical/CRAWLER_POLITENESS.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Treat a false deleteAnnotation as a failure; reset queries in a layout effect
  frontend/src/auth/ResetQueriesOnUserChange.tsx
  frontend/src/hooks/useAnnotationEditing.ts
  frontend/src/pages/__tests__/SeriesDetailAnnotationEditing.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Annotate on the series page
  frontend/src/__tests__/graphqlOperationSkipList.ts
  frontend/src/auth/ResetQueriesOnUserChange.tsx
  frontend/src/components/annotations/AnnotationComments.tsx
  frontend/src/components/annotations/AnnotationFormDialog.tsx
  frontend/src/components/annotations/useSeriesAnnotationEditor.tsx
  frontend/src/components/charts/SeriesAnnotationsPanel.tsx
  frontend/src/components/charts/SeriesChart.tsx
  frontend/src/components/charts/__tests__/SeriesAnnotationsPanel.test.tsx
  frontend/src/components/charts/__tests__/SeriesChart.test.tsx
  frontend/src/components/charts/seriesChartData.ts
  frontend/src/hooks/useAnnotationEditing.ts
  frontend/src/hooks/useSeriesAnnotations.ts
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/__tests__/SeriesDetailAnnotationEditing.test.tsx
  frontend/src/pages/__tests__/SeriesDetailAnnotations.test.tsx
  frontend/src/pages/__tests__/fixtures/seriesAnnotations.ts
  frontend/src/utils/graphql.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
