Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

fix: Add proper error handling for MicroK8s permission errors
  scripts/deploy/restart-k8s-rollout.sh
Due: none

fix: Resolve cert-manager webhook connection issues
  scripts/deploy/restart-k8s-rollout.sh
Due: none

fix: Resolve PodSecurityPolicy validation and cert-manager webhook issues
  k8s/manifests/pod-security-policy.yaml
  scripts/deploy/restart-k8s-rollout.sh
Due: none

fix: Resolve kubeflow webhook conflicts blocking cert-manager
  scripts/deploy/restart-k8s-rollout.sh
Due: none

feat: Add comprehensive Storybook stories for financial components
  frontend/src/components/financial/AnnotationPanel.stories.tsx
  frontend/src/components/financial/BenchmarkComparison.stories.tsx
  frontend/src/components/financial/EducationalPanel.stories.tsx
  frontend/src/components/financial/FinancialAlerts.stories.tsx
  frontend/src/components/financial/FinancialExport.stories.tsx
  frontend/src/components/financial/FinancialMobile.stories.tsx
  frontend/src/components/financial/FinancialStatementViewer.stories.tsx
  frontend/src/components/financial/PeerComparisonChart.stories.tsx
  frontend/src/components/financial/RatioAnalysisPanel.stories.tsx
  frontend/src/components/financial/TrendAnalysisChart.stories.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

feat: Create richer GraphQL mock data and update stories to use MSW
  frontend/src/components/financial/BenchmarkComparison.stories.tsx
  frontend/src/components/financial/FinancialStatementViewer.stories.tsx
  frontend/src/components/financial/PeerComparisonChart.stories.tsx
  frontend/src/components/financial/TrendAnalysisChart.stories.tsx
  frontend/src/test-utils/mocks/graphql-responses/get_financial_statement_detailed/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_trend_analysis/success.json
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

feat: Add Storybook testing integration for frontend
  .github/workflows/ci-core.yml
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/financial/AnnotationPanel.stories.tsx.disabled
  frontend/src/components/financial/EducationalPanel.stories.tsx.disabled
  frontend/src/components/financial/FinancialAlerts.stories.tsx.disabled
  frontend/src/components/financial/FinancialExport.stories.tsx.disabled
  frontend/src/components/financial/FinancialMobile.stories.tsx.disabled
  frontend/src/components/financial/RatioAnalysisPanel.stories.tsx.disabled
Due: npm-audit

Fix Pod Security Standards violations and PostgreSQL 18 mount issues
  k8s/manifests/admin-frontend-deployment.yaml
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/chart-api-deployment.yaml
  k8s/manifests/frontend-deployment.yaml
  k8s/manifests/pod-security-policy.yaml
  k8s/manifests/postgres-deployment.yaml
  k8s/monitoring/grafana-statefulset.yaml
  k8s/monitoring/loki-deployment.yaml
  k8s/monitoring/prometheus-deployment.yaml
  k8s/monitoring/promtail-daemonset.yaml
  scripts/deploy/restart-k8s-rollout.sh
Due: none

Add main entry point ingress and HTTPS termination testing
  k8s/manifests/ingress.yaml
  scripts/deploy/restart-k8s-rollout.sh
Due: none

Fix domain names from econ-graph.com to econgraph.com
  k8s/manifests/ssl-ingress.yaml
  scripts/deploy/restart-k8s-rollout.sh
Due: none

Fix SSL certificate configuration for econgraph.com domain
  k8s/manifests/letsencrypt-issuer.yaml
  k8s/manifests/ssl-ingress.yaml
Due: none

Fix ACME challenge configuration and HTTPS redirect issues
  k8s/manifests/ssl-ingress.yaml
Due: none

Fix Network Policy for ACME challenges
  k8s/manifests/network-policy.yaml
Due: none

Update K8s deployment documentation
  docs/deployment/K8S_DEPLOYMENT_GUIDE.md
  docs/deployment/K8S_RESTART_COMMANDS.md
  docs/deployment/KUBERNETES_DEPLOYMENT.md
  docs/deployment/MICROK8S_DEPLOYMENT.md
Due: none

Fix backend service connectivity and update documentation
  docs/deployment/K8S_DEPLOYMENT_GUIDE.md
  docs/deployment/MICROK8S_TROUBLESHOOTING.md
  k8s/manifests/network-policy.yaml
Due: none

fix(frontend): remove unused Express.js backend code from frontend
  frontend/src/api/privateChartEndpoint.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

fix(frontend): remove redundant privateChartEndpoint.ts and fix build issues
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit

feat: Complete Storybook integration with MSW and component renaming
  .github/workflows/ci-core.yml
  frontend/src/Button.stories.tsx
  frontend/src/TestFinancial.stories.tsx
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/financial/BenchmarkComparison.stories.tsx
  frontend/src/components/financial/FinancialDashboard.stories.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialDashboardSimple.tsx
  frontend/src/components/financial/FinancialMobile.tsx
  frontend/src/components/financial/PeerComparisonChart.stories.tsx
  frontend/src/components/financial/__tests__/FinancialDashboard.test.tsx
  frontend/src/components/financial/index.ts
  frontend/src/test-utils/mocks/graphql-response-loader.ts
  frontend/src/test-utils/mocks/simpleServer.ts
  frontend/tsconfig.json
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

fix: resolve series explorer blanking out in deployment
  k8s/manifests/postgres-deployment.yaml
Due: none

feat: add comprehensive empty state tests for SeriesExplorer
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/pages/__tests__/SeriesExplorer.test.tsx
  frontend/src/pages/__tests__/SeriesExplorerEmptyStates.test.tsx
  frontend/src/test-utils/mocks/graphql-responses/get_data_sources/empty.json
  frontend/src/test-utils/mocks/graphql-responses/get_data_sources/network_error.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_list/empty.json
  frontend/src/test-utils/mocks/graphql-responses/search_series_fulltext/empty.json
  frontend/src/test-utils/mocks/graphql-responses/search_series_fulltext/network_error.json
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

fix: complete empty state tests implementation
  frontend/src/pages/__tests__/SeriesExplorerEmptyStates.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

fix: resolve linting error in SeriesExplorer test
  frontend/src/pages/__tests__/SeriesExplorer.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

fix: update SeriesExplorer tests to use MSW with GraphQL files
  frontend/src/pages/__tests__/SeriesExplorer.test.tsx
  frontend/src/test-utils/mocks/graphql-responses/get_data_sources/success.json
  frontend/src/test-utils/mocks/graphql-responses/search_series_fulltext/success.json
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

feat: add comprehensive empty state tests for SeriesExplorer (#148)
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/pages/__tests__/SeriesExplorer.test.tsx
  frontend/src/pages/__tests__/SeriesExplorerEmptyStates.test.tsx
  frontend/src/test-utils/mocks/graphql-responses/get_data_sources/empty.json
  frontend/src/test-utils/mocks/graphql-responses/get_data_sources/network_error.json
  frontend/src/test-utils/mocks/graphql-responses/get_data_sources/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_list/empty.json
  frontend/src/test-utils/mocks/graphql-responses/search_series_fulltext/empty.json
  frontend/src/test-utils/mocks/graphql-responses/search_series_fulltext/network_error.json
  frontend/src/test-utils/mocks/graphql-responses/search_series_fulltext/success.json
  k8s/manifests/postgres-deployment.yaml
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

fix: Apply code formatting and fix minor issues
  frontend/src/components/financial/BenchmarkComparison.stories.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

feat: Add comprehensive fine-grained permissions system
  backend/crates/econ-graph-auth/src/auth/mod.rs
  backend/crates/econ-graph-auth/src/auth/permissions.rs
Due: rust-fmt, rust-clippy

style: format code with cargo fmt
  backend/crates/econ-graph-auth/src/auth/permissions.rs
Due: rust-fmt, rust-clippy

feat: implement SEC crawler admin UI and API
  admin-frontend/src/components/sec/CompanySearch.tsx
  admin-frontend/src/components/sec/SecCrawlerManager.tsx
  admin-frontend/src/hooks/useCompanySearch.ts
  admin-frontend/src/hooks/useSecCrawler.ts
  backend/src/graphql/mutation.rs
  backend/src/graphql/query.rs
  backend/src/graphql/types.rs
  backend/src/services/company_service.rs
  backend/src/services/financial_statement_service.rs
  backend/src/services/mod.rs
  backend/src/services/sec_crawler_service.rs
  docs/development/SEC_CRAWLER_ADMIN_IMPLEMENTATION.md
  frontend/src/components/financial/FinancialDataViewer.tsx
  frontend/src/hooks/useFinancialData.ts
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

feat: Add complete Keycloak deployment infrastructure
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/configmap.yaml
  k8s/manifests/keycloak-db-init.yaml
  k8s/manifests/keycloak-deployment.yaml
  k8s/manifests/keycloak-ingress.yaml
  k8s/manifests/keycloak-postgres-deployment.yaml
  k8s/manifests/keycloak-postgres-service.yaml
  k8s/manifests/keycloak-secrets.yaml
  k8s/manifests/keycloak-service.yaml
  scripts/deploy/build-images.sh
  scripts/deploy/configure-keycloak.sh
  scripts/deploy/deploy-keycloak.sh
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
Due: none

fix: Regenerate package-lock.json to resolve dependency conflicts
  frontend/package-lock.json
Due: npm-audit

fix: remove duplicate EconGraph logo from sidebar on desktop
  frontend/public/favicon.ico.backup
  frontend/public/favicon.svg
  frontend/public/manifest.json
Due: none

chore: apply code formatting and linting fixes
  frontend/scripts/generate-favicon.js
  frontend/src/components/layout/Sidebar.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

fix: remove duplicate EconGraph logo and add TrendingUp favicon (#150)
  frontend/public/favicon.ico.backup
  frontend/public/favicon.svg
  frontend/public/manifest.json
  frontend/scripts/generate-favicon.js
  frontend/src/components/layout/Sidebar.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix frontend tests: align mock data with backend GraphQL schema
  frontend/src/components/financial/RatioExplanationModal.tsx
  frontend/src/components/financial/__tests__/FinancialDashboard.test.tsx
  frontend/src/test-utils/mocks/graphql-response-loader.ts
  frontend/src/test-utils/mocks/graphql-responses/get_financial_alerts/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_ratios/empty.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_ratios/error.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_ratios/loading.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_ratios/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_peer_companies/success.json
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix package-lock.json synchronization for CI
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit

feat: add comprehensive testing and documentation for SEC crawler admin
  admin-frontend/src/components/sec/__tests__/CompanySearch.test.tsx
  admin-frontend/src/components/sec/__tests__/SecCrawlerManager.test.tsx
  backend/src/graphql/tests.rs
  backend/src/services/company_service.rs
  docs/api/SEC_CRAWLER_GRAPHQL_API.md
  docs/development/SEC_CRAWLER_DEVELOPER_GUIDE.md
  docs/user-guides/SEC_CRAWLER_ADMIN_UI_GUIDE.md
  tests/integration/sec_crawler_workflow.test.ts
  tests/test-config.md
Due: rust-fmt, rust-clippy

feat: integrate Let's Encrypt with Cloudflare DNS-01 challenge
  LETSENCRYPT_CLOUDFLARE_INTEGRATION_SUMMARY.md
  docs/deployment/LETSENCRYPT_CLOUDFLARE_DNS01_INTEGRATION.md
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/monitoring/letsencrypt-cloudflare-dns01.yaml
  scripts/deploy/setup-letsencrypt-cloudflare.sh
  scripts/deploy/test-letsencrypt-cloudflare.sh
  terraform/main.tf
  terraform/modules/ingress/main.tf
  terraform/terraform.tfvars.example
Due: none
