Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

Give the query that finds databases skipping the fold
  docs/development/MIGRATIONS.md
Due: none

Seed BEA table titles without leaking the UserID key
  backend/crates/econ-graph-crawler/src/sources/bea.rs
Due: rust-fmt, rust-clippy

Fix admin-frontend npm audit failures: 1 high + 5 critical
  .github/workflows/ci-core.yml
  .pre-commit-config.yaml
  admin-frontend/package-lock.json
  admin-frontend/package.json
  admin-frontend/scripts/npm-audit-allowlist.json
  frontend/scripts/__tests__/check-npm-audit.test.ts
  frontend/scripts/check-npm-audit.mjs
Due: typescript-check

Reserve the FHFA master download before reading stored validators
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/testkit/mod.rs
Due: rust-fmt, rust-clippy

Fold the release/v4.0 migrations into the v4.0.0 baseline
  backend/crates/econ-graph-core/src/database.rs
  backend/crates/econ-graph-core/src/models/data_source.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/migrations/2026-10-02-000100_reference_file_cache/down.sql
  backend/migrations/2026-10-02-000100_reference_file_cache/up.sql
  backend/migrations/2026-10-02-000200_drop_us_states_codelist/down.sql
  backend/migrations/2026-10-02-000200_drop_us_states_codelist/up.sql
  backend/migrations/2026-10-02-000250_seed_reference_codes/down.sql
  backend/migrations/2026-10-02-000250_seed_reference_codes/up.sql
  backend/migrations/2026-10-02-000300_reference_file_cache_payload/down.sql
  backend/migrations/2026-10-02-000300_reference_file_cache_payload/up.sql
  backend/migrations/2026-10-02-000400_fetch_validators/down.sql
  backend/migrations/2026-10-02-000400_fetch_validators/up.sql
  backend/migrations/2026-10-02-000500_enable_r1_data_sources/down.sql
  backend/migrations/2026-10-02-000500_enable_r1_data_sources/up.sql
  backend/migrations/2026-10-02-000500_v4_0_baseline/down.sql
  backend/migrations/2026-10-02-000500_v4_0_baseline/up.sql
  backend/scripts/compare_migrations.sh
  docs/development/MIGRATIONS.md
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/FULLTEXT_SEARCH.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Reflow the release e2e README to the Markdown print width
  frontend/tests/e2e/release/README.md
Due: none

Pin the If-Modified-Since test to the 304, and fix validator docs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference_file.rs
  docs/data-sources/bls.md
Due: rust-fmt, rust-clippy

Make the world map usable at phone widths
  frontend/playwright.release.config.ts
  frontend/src/App.tsx
  frontend/src/__tests__/app-sidebar-mobile.test.tsx
  frontend/src/components/global/InteractiveWorldMap.tsx
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/mobile/navigation.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Document databases that ran the baseline before the seed function gained validators
  docs/development/MIGRATIONS.md
Due: none

Count the third squash limit
  docs/development/MIGRATIONS.md
Due: none

Skip unchanged reference files by Last-Modified and body hash, and seed those validators
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference_file.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/migrations/2026-10-02-000500_v4_0_baseline/up.sql
  docs/data-sources/bls.md
  docs/development/MIGRATIONS.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Name World Bank aggregates from the World Bank's own country list
  backend/crates/econ-graph-core/data/countries.csv
  backend/crates/econ-graph-core/src/models/dataset.rs
  backend/crates/econ-graph-core/src/models/dataset/tests.rs
  backend/crates/econ-graph-core/src/reference.rs
  backend/crates/econ-graph-crawler/data/datasets/README.md
  backend/crates/econ-graph-crawler/data/datasets/world_bank.toml
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference_file.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank/tests.rs
  backend/crates/econ-graph-graphql/src/graphql/cross_section/tests.rs
  backend/crates/econ-graph-graphql/src/graphql/datasets.rs
  backend/crates/econ-graph-services/src/services/cross_section_service.rs
  backend/crates/econ-graph-services/src/services/cross_section_service/tests.rs
  backend/migrations/2026-10-02-000500_v4_0_baseline/up.sql
  backend/scripts/build_countries_csv.py
  docs/data-sources/world-bank.md
  docs/development/MIGRATIONS.md
  docs/roadmap/global-analysis.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Fix crawler soak test: wire up dataset catalog, fix BLS mock id echo
  backend/crates/econ-graph-crawler/tests/soak.rs
Due: rust-fmt, rust-clippy

Date the v4.0.0 changelog and add the changes since the branch was cut
  CHANGELOG.md
Due: none

Update generated cost analysis from validated source inputs
  data/cost-analysis.json
  docs/archive/generated/development-costs/analysis.md
Due: none
