Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

docs: bring data-sources pages up to date with release 1 (forward-port to main)
  docs/data-sources/README.md
  docs/data-sources/bls.md
  docs/data-sources/census-bds.md
  docs/data-sources/fhfa.md
  docs/data-sources/fred.md
  docs/data-sources/world-bank.md
Due: none

Tidy the complexity-limit test docs
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
Due: rust-fmt, rust-clippy

fix: use a private temp file for Grafana session cookies in test-monitoring.sh
  scripts/deploy/recreate-kind-cluster.sh
  scripts/setup-kind-with-port-mappings.sh
  scripts/test-monitoring.sh
Due: none

Stop create-secrets.sh generating the retired in-house login secrets
  k8s/README.md
  scripts/deploy/create-secrets.sh
Due: none

Count the bytes received when limiting /graphql bodies
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Answer a malformed /graphql body with a 400 JSON error
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Run the world-map e2e specs on PR CI
  .github/workflows/ci-core.yml
  frontend/ci/configs/playwright-global-analysis.config.ts
  frontend/ci/configs/playwright-mobile-global-analysis.config.ts
  frontend/playwright.config.ts
  frontend/playwright.mobile.config.ts
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/world-map/world-atlas.spec.ts
  frontend/tests/e2e/release/world-map/world-map-mocked.spec.ts
Due: typescript-check

Fix PERCENT_CHANGE blanking a series when its first value is null or zero
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/query/series_data_tests.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
  frontend/src/components/charts/__tests__/SeriesChart.test.tsx
  frontend/src/pages/__tests__/SeriesDetail.test.tsx
  frontend/src/utils/transformations.ts
  frontend/tests/e2e/release/fixtures.ts
  frontend/tests/e2e/release/series-ui/transformations.spec.ts
  frontend/tests/e2e/release/sources/six-source-sweep.spec.ts
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix crawler soak test: wire up dataset catalog, fix BLS mock id echo
  backend/crates/econ-graph-crawler/tests/soak.rs
Due: rust-fmt, rust-clippy

Check user-admin permissions before taking a DB connection
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
Due: rust-fmt, rust-clippy

Keep pre-dataset series when migrating an existing database
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/migrations/2026-10-01-000100_series_dataset_required/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Fix search frequency filter to match source-specific frequency text
  backend/crates/econ-graph-core/src/models/economic_series.rs
  backend/crates/econ-graph-core/src/models/economic_series/tests.rs
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/search_service.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
Due: rust-fmt, rust-clippy

Fix Prometheus backend scrape config, drop dead nightly E2E workflow
  .github/workflows/README.md
  .github/workflows/e2e-tests-nightly.yml
  docs/development/CI_CD_PIPELINE.md
  docs/development/e2e-testing-strategy.md
  docs/roadmap/global-analysis.md
  k8s/manifests/backend-deployment.yaml
  k8s/monitoring/prometheus-config.yaml
Due: none

Exclude confirmed-NotFound series from crawl coverage
  backend/crates/econ-graph-crawler/README.md
  backend/crates/econ-graph-crawler/src/coverage.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Stop tracking Terraform state and provider binaries
  .gitignore
  docs/roadmap/README.md
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_amd64/terraform-provider-local_v2.5.3_x5
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/linux_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/linux_amd64/terraform-provider-local_v2.5.3_x5
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_amd64/terraform-provider-null_v3.2.4_x5
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/linux_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/linux_amd64/terraform-provider-null_v3.2.4_x5
  terraform/k8s/terraform.tfstate
  terraform/k8s/terraform.tfstate.backup
Due: none

Build the complexity-limit tests from a real field
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
Due: rust-fmt, rust-clippy

Split /health into /livez and /readyz probes
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/database.rs
  backend/crates/econ-graph-core/src/lib.rs
  k8s/manifests/backend-deployment.yaml
Due: rust-fmt, rust-clippy

Answer a malformed GraphQL body with a 400 JSON error (forward-port to main)
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Stop create-secrets.sh generating the retired in-house login secrets (forward-port to main)
  k8s/README.md
  scripts/deploy/create-secrets.sh
Due: none

Make the world map usable at phone widths
  frontend/playwright.release.config.ts
  frontend/src/App.tsx
  frontend/src/__tests__/app-sidebar-mobile.test.tsx
  frontend/src/components/global/InteractiveWorldMap.tsx
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/mobile/navigation.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Transform the latest revisions by default in seriesData
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/query/series_data_tests.rs
  backend/crates/econ-graph-graphql/src/types.rs
Due: rust-fmt, rust-clippy

Keep pre-dataset series when migrating an existing database (forward-port to main)
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/migrations/2026-10-01-000100_series_dataset_required/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Fix Prometheus backend scrape config, drop dead nightly E2E workflow (forward-port to main)
  .github/workflows/README.md
  .github/workflows/e2e-tests-nightly.yml
  docs/development/CI_CD_PIPELINE.md
  docs/development/e2e-testing-strategy.md
  docs/roadmap/global-analysis.md
  k8s/manifests/backend-deployment.yaml
  k8s/monitoring/prometheus-config.yaml
Due: none

Build the complexity-limit tests from a real field (forward-port to main)
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
Due: rust-fmt, rust-clippy

Stop tracking Terraform state and provider binaries (forward-port to main)
  .gitignore
  docs/roadmap/README.md
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_amd64/terraform-provider-local_v2.5.3_x5
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/linux_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/linux_amd64/terraform-provider-local_v2.5.3_x5
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_amd64/terraform-provider-null_v3.2.4_x5
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/linux_amd64/LICENSE.txt
  terraform/k8s/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/linux_amd64/terraform-provider-null_v3.2.4_x5
  terraform/k8s/terraform.tfstate
  terraform/k8s/terraform.tfstate.backup
Due: none

Run the world-map e2e specs on PR CI (forward-port to main)
  .github/workflows/ci-core.yml
  frontend/ci/configs/playwright-global-analysis.config.ts
  frontend/ci/configs/playwright-mobile-global-analysis.config.ts
  frontend/playwright.config.ts
  frontend/playwright.mobile.config.ts
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/world-map/world-atlas.spec.ts
  frontend/tests/e2e/release/world-map/world-map-mocked.spec.ts
Due: typescript-check

Remove Grafana from the public ingress
  README.md
  ci/docs/README.md
  config/ports.env
  config/ports.env.backup
  docs/deployment/DEPLOYMENT_RESTART.md
  docs/deployment/K8S_DEPLOYMENT_GUIDE.md
  docs/deployment/K8S_RESTART_COMMANDS.md
  docs/deployment/KUBERNETES_DEPLOYMENT.md
  docs/deployment/MICROK8S_DEPLOYMENT.md
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/manifests/ingress.yaml
  k8s/manifests/ssl-ingress.yaml
  k8s/monitoring/grafana-service.yaml
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/setup-port-forwarding.sh
  scripts/setup-microk8s-complete.sh
  scripts/setup-microk8s.sh
  scripts/test-cluster-comprehensive.sh
  scripts/test-ingress-routing.sh
Due: none

Use a private temp file for Grafana session cookies in test-monitoring.sh
  scripts/deploy/recreate-kind-cluster.sh
  scripts/setup-kind-with-port-mappings.sh
  scripts/test-monitoring.sh
Due: none
