Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

Remove unused financial-mocks.ts file
  frontend/src/test-utils/mocks/graphql/financial-mocks.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix TypeScript error in ci-test-helpers.ts
  frontend/src/test-utils/ci-test-helpers.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Remove non-existent serial tests from CI
  .github/workflows/ci-core.yml
Due: none

Fix Prettier formatting in ci-test-helpers.ts
  frontend/src/test-utils/ci-test-helpers.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

feat: Add fine-grained JWT permissions for news and stock data
  backend/crates/econ-graph-auth/src/auth/keycloak.rs
  backend/crates/econ-graph-auth/src/auth/mod.rs
  backend/crates/econ-graph-auth/src/auth/permissions.rs
  backend/crates/econ-graph-auth/src/auth/unified_auth.rs
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-graphql/src/graphql/collaboration.rs
  backend/crates/econ-graph-graphql/src/graphql/context_keycloak.rs
  backend/crates/econ-graph-graphql/src/graphql/export.rs
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
  backend/crates/econ-graph-mcp/src/mcp_server.rs
Due: rust-fmt, rust-clippy

fix: Resolve BigDecimal GraphQL compatibility issues
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-mcp/src/mcp_server.rs
Due: rust-fmt, rust-clippy

style: Format all Rust code with cargo fmt
  backend/crates/econ-graph-arrow-storage/src/lib.rs
  backend/crates/econ-graph-arrow-storage/src/storage/iceberg_storage.rs
  backend/crates/econ-graph-arrow-storage/src/storage/in_memory_storage.rs
  backend/crates/econ-graph-arrow-storage/src/storage/mod.rs
  backend/crates/econ-graph-arrow-storage/src/storage/parquet_storage.rs
  backend/crates/econ-graph-financial-core/src/main.rs
  backend/crates/econ-graph-financial-core/src/models/input.rs
  backend/crates/econ-graph-financial-core/src/models/mod.rs
  backend/crates/econ-graph-financial-core/src/storage.rs
  backend/crates/econ-graph-financial-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-financial-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-financial-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-metrics/src/crawler.rs
Due: rust-fmt, rust-clippy

fix: Restore FinancialDashboard.tsx from main
  frontend/src/components/financial/FinancialDashboard.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

fix: Resolve remaining backend compilation errors
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-mcp/src/mcp_server.rs
Due: rust-fmt, rust-clippy

Fix failing test by adding semantic selector to RatioExplanationModal
  frontend/src/components/financial/RatioExplanationModal.tsx
  frontend/src/components/financial/__tests__/RatioAnalysisPanel.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Improve test reliability and code quality
  frontend/src/components/financial/RatioExplanationModal.tsx
  frontend/src/components/financial/__tests__/RatioAnalysisPanel.test.tsx
  frontend/src/test-utils/ci-test-helpers.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix failing RatioAnalysisPanel test with semantic selectors (#143)
  frontend/src/components/financial/RatioExplanationModal.tsx
  frontend/src/components/financial/__tests__/RatioAnalysisPanel.test.tsx
  frontend/src/test-utils/ci-test-helpers.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix CI change detection for main branch
  .github/workflows/ci-core.yml
Due: none

Fix CI change detection for main branch (#144)
  .github/workflows/ci-core.yml
Due: none

Fix CI: Skip change detection entirely on main/develop
  .github/workflows/ci-core.yml
Due: none

Fix CI: Skip change detection entirely on main/develop branches
  .github/workflows/ci-core.yml
Due: none

Fix CI: Skip change detection entirely on main/develop branches (#145)
  .github/workflows/ci-core.yml
Due: none

grafana: wrap dashboards under dashboard root; fix ConfigMap JSON size mismatch; update YAML extraction tooling; add CI validation pass
  grafana-dashboards/crawler-overview.json
  grafana-dashboards/crawler-politeness.json
  grafana-dashboards/crawler-status.json
  grafana-dashboards/database-statistics.json
  grafana-dashboards/econgraph-backend-metrics.json
  grafana-dashboards/econgraph-overview.json
  grafana-dashboards/logging-dashboard.json
  grafana-dashboards/sec-edgar-crawler.json
  k8s/monitoring/grafana-dashboards.yaml
Due: none

scripts: fail fast with clear error if yq is not installed
  scripts/test-grafana-dashboards.sh
Due: none

scripts: fix yq v3 compatibility with -r flag for raw output
  scripts/test-grafana-dashboards.sh
Due: none

scripts: improve yq extraction logic for better compatibility
  scripts/test-grafana-dashboards.sh
Due: none

scripts: fix yq command syntax for proper file parameter order
  scripts/test-grafana-dashboards.sh
Due: none

deploy: make restart-k8s-rollout robust: explicit monitoring applies, yq v3-compatible extraction, preflight lint, readiness waits
  scripts/deploy/restart-k8s-rollout.sh
Due: none

deploy: parameterize VERSION, tag latest and versioned images, load versioned tags into kind
  scripts/deploy/build-images.sh
Due: none

deploy: add --linter-only mode to skip backend readiness wait in restart script
  scripts/deploy/restart-k8s-rollout.sh
Due: none

deploy: only wait for backend if deployment exists (handles first run case)
  scripts/deploy/restart-k8s-rollout.sh
Due: none

frontend: switch Dockerfile to Vite (use dist/), avoid CRA public/index.html duplication
  frontend/Dockerfile
Due: none

deploy: only wait for monitoring; drop global pods wait to avoid backend blocking on first run
  scripts/deploy/restart-k8s-rollout.sh
Due: none

monitoring: skip waiting for backend if deployment not present; only wait for Grafana on first run
  scripts/test-monitoring.sh
Due: none

admin-frontend: fix Dockerfile for Vite build: use npm ci, copy dist/
  admin-frontend/Dockerfile
Due: none

frontend: remove CRA remnants, fix Vite config
  frontend/package.json
  frontend/vite.config.ts
Due: typescript-check, npm-audit

fix: Docker builds for all services
  admin-frontend/Dockerfile
  frontend/Dockerfile
  frontend/package.json
  frontend/vite.config.ts
Due: typescript-check, npm-audit

feat: Add SSL termination with Let's Encrypt for www.econ-graph.com
  k8s/manifests/letsencrypt-issuer.yaml
  k8s/manifests/ssl-ingress.yaml
  scripts/deploy/build-images.sh
  scripts/deploy/restart-k8s-rollout.sh
Due: none

feat: Switch from kind to MicroK8s for local Kubernetes development
  scripts/deploy/build-images.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/setup-microk8s.sh
Due: none

feat: Add comprehensive HTTP security features
  k8s/manifests/network-policy.yaml
  k8s/manifests/pod-security-policy.yaml
  k8s/manifests/security-configmap.yaml
  k8s/manifests/ssl-ingress.yaml
  scripts/deploy/restart-k8s-rollout.sh
Due: none

fix: Resolve MicroK8s image import errors
  scripts/deploy/build-images.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/setup-microk8s-complete.sh
Due: none

fix: Resolve cert-manager readiness check error
  scripts/deploy/restart-k8s-rollout.sh
Due: none
