Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

Fetch BLS dimension code labels from BLS's own reference files
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/persist/reference_data_tests.rs
  backend/crates/econ-graph-crawler/src/persist/stable_id_tests.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/migrations/2026-10-02-000100_reference_file_cache/down.sql
  backend/migrations/2026-10-02-000100_reference_file_cache/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Remove Grafana from the public ingress and keep its session cookies private
  README.md
  ci/docs/README.md
  config/ports.env
  config/ports.env.backup
  docs/deployment/DEPLOYMENT_RESTART.md
  docs/deployment/K8S_DEPLOYMENT_GUIDE.md
  docs/deployment/K8S_RESTART_COMMANDS.md
  docs/deployment/KUBERNETES_DEPLOYMENT.md
  docs/deployment/MICROK8S_DEPLOYMENT.md
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/manifests/ingress.yaml
  k8s/manifests/ssl-ingress.yaml
  k8s/monitoring/grafana-service.yaml
  scripts/deploy/deploy.sh
  scripts/deploy/recreate-kind-cluster.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/setup-port-forwarding.sh
  scripts/setup-kind-with-port-mappings.sh
  scripts/setup-microk8s-complete.sh
  scripts/setup-microk8s.sh
  scripts/test-cluster-comprehensive.sh
  scripts/test-ingress-routing.sh
  scripts/test-monitoring.sh
Due: none

Drop the ingress-wide rewrite-target from the Terraform app ingress
  terraform/modules/ingress/main.tf
Due: none

Fix label precedence, ETag/no-op race, and ce.datatype column name
  backend/crates/econ-graph-crawler/data/datasets/bls.toml
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
Due: rust-fmt, rust-clippy

Fix broken rustdoc intra-doc link in refresh_reference_data
  backend/crates/econ-graph-crawler/src/sources/bls.rs
Due: rust-fmt, rust-clippy

Fix the actual rustdoc link break, verified against CI's real command
  backend/crates/econ-graph-crawler/src/sources/bls.rs
Due: rust-fmt, rust-clippy

Fix a regression: fetch CU area labels, don't drop them
  backend/crates/econ-graph-crawler/src/sources/bls.rs
Due: rust-fmt, rust-clippy

Keep operational endpoints off the public API
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  k8s/manifests/ingress-cloudflare-dns01.yaml
  terraform/modules/ingress/main.tf
Due: rust-fmt, rust-clippy

Skip unchanged FHFA, FRED and World Bank data on scheduled re-crawls
  backend/Cargo.lock
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/persist/validator_tests.rs
  backend/crates/econ-graph-crawler/src/sources/bea.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank/tests.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/migrations/2026-10-02-000200_fetch_validators/down.sql
  backend/migrations/2026-10-02-000200_fetch_validators/up.sql
Due: rust-fmt, rust-clippy, rust-audit, migration-date-order-check

Fetch BLS dimension code labels from BLS's own reference files
  backend/crates/econ-graph-crawler/data/datasets/bls.toml
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/persist/reference_data_tests.rs
  backend/crates/econ-graph-crawler/src/persist/stable_id_tests.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/migrations/2026-10-02-000100_reference_file_cache/down.sql
  backend/migrations/2026-10-02-000100_reference_file_cache/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Renumber the fetch_validators migration to 2026-10-02-000220
  backend/migrations/2026-10-02-000220_fetch_validators/down.sql
  backend/migrations/2026-10-02-000220_fetch_validators/up.sql
Due: migration-date-order-check

Assert merge_dataset_dimension_codes reports no-op merges
  backend/crates/econ-graph-crawler/src/persist/reference_data_tests.rs
Due: rust-fmt, rust-clippy

Renumber the fetch_validators migration to 2026-10-02-000400
  backend/migrations/2026-10-02-000400_fetch_validators/down.sql
  backend/migrations/2026-10-02-000400_fetch_validators/up.sql
Due: migration-date-order-check

Fetch the Census state list from the source; seed reference codes with a recorded SQL migration
  backend/Dockerfile
  backend/crates/econ-graph-backend/Cargo.toml
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/models/dataset.rs
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/data/bls_series.csv
  backend/crates/econ-graph-crawler/data/datasets/README.md
  backend/crates/econ-graph-crawler/data/datasets/census.toml
  backend/crates/econ-graph-crawler/data/datasets/fhfa.toml
  backend/crates/econ-graph-crawler/data/us_states.csv
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/coverage.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/reference_file.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/tests/fixtures/census/README.md
  backend/crates/econ-graph-crawler/tests/fixtures/census/state.txt
  backend/crates/econ-graph-graphql/src/graphql/datasets.rs
  backend/migrations/2026-10-02-000200_drop_us_states_codelist/down.sql
  backend/migrations/2026-10-02-000200_drop_us_states_codelist/up.sql
  backend/migrations/2026-10-02-000250_seed_reference_codes/down.sql
  backend/migrations/2026-10-02-000250_seed_reference_codes/up.sql
  ci/docker/e2e/Dockerfile.optimized
  docs/data-sources/census-bds.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  k8s/manifests/backend-deployment.yaml
Due: rust-fmt, rust-clippy, migration-date-order-check

Squash the pre-v4.0.0 migrations into one baseline
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
  backend/migrations/2025-02-01-000001_consolidated_initial_schema/up.sql
  backend/migrations/2025-02-02-000002_upgrade_to_postgres_18_uuidv7/down.sql
  backend/migrations/2025-02-02-000002_upgrade_to_postgres_18_uuidv7/up.sql
  backend/migrations/2026-09-25-000001_fix_crawl_queue/down.sql
  backend/migrations/2026-09-25-000001_fix_crawl_queue/up.sql
  backend/migrations/2026-09-25-000002_crawl_queue_timing/down.sql
  backend/migrations/2026-09-25-000002_crawl_queue_timing/up.sql
  backend/migrations/2026-09-25-000003_annotation_type_values/down.sql
  backend/migrations/2026-09-25-000003_annotation_type_values/up.sql
  backend/migrations/2026-09-26-000001_drop_redundant_indexes/down.sql
  backend/migrations/2026-09-26-000001_drop_redundant_indexes/up.sql
  backend/migrations/2026-09-26-000003_drop_uuidv7_shim/down.sql
  backend/migrations/2026-09-26-000003_drop_uuidv7_shim/up.sql
  backend/migrations/2026-09-26-000004_series_search/down.sql
  backend/migrations/2026-09-26-000004_series_search/up.sql
  backend/migrations/2026-09-26-000100_datasets/down.sql
  backend/migrations/2026-09-26-000100_datasets/up.sql
  backend/migrations/2026-09-26-233000_stable_seed_series_ids/down.sql
  backend/migrations/2026-09-26-233000_stable_seed_series_ids/up.sql
  backend/migrations/2026-09-27-000001_annotation_visibility_enum/down.sql
  backend/migrations/2026-09-27-000001_annotation_visibility_enum/up.sql
  backend/migrations/2026-09-28-000001_census_api_key_required/down.sql
  backend/migrations/2026-09-28-000001_census_api_key_required/up.sql
  backend/migrations/2026-09-30-000100_unique_chart_collaborators/down.sql
  backend/migrations/2026-09-30-000100_unique_chart_collaborators/up.sql
  backend/migrations/2026-10-01-000100_series_dataset_required/down.sql
  backend/migrations/2026-10-01-000100_series_dataset_required/up.sql
  backend/migrations/2026-10-01-000100_v4_0_baseline/down.sql
  backend/migrations/2026-10-01-000100_v4_0_baseline/up.sql
  backend/scripts/README.md
  backend/scripts/compare_migrations.sh
  backend/scripts/create_consolidated_migration.py
  backend/scripts/schema_snapshot.sql
  docs/development/MIGRATIONS.md
  docs/development/RELEASE_PROCESS.md
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/FULLTEXT_SEARCH.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Label FHFA place_id from the HPI master file, not a hand-typed list
  backend/crates/econ-graph-crawler/data/datasets/fhfa.toml
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
Due: rust-fmt, rust-clippy

fhfa: pin down the no-op write and the one-download cost in tests
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
Due: rust-fmt, rust-clippy

Move place_id labelling into refresh_reference_data, not discover
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
Due: rust-fmt, rust-clippy

fhfa.rs: drop the now-unneeded bool-vs-unit shim at the merge call site
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
Due: rust-fmt, rust-clippy

De-duplicate seed codes on every path; compare seed versions by timestamp
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/migrations/2026-10-02-000250_seed_reference_codes/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Describe BLS series from BLS's own series files, not a hand-typed CSV
  backend/crates/econ-graph-crawler/data/bls_series.csv
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/tests/fixtures/bls/series/README.md
  backend/crates/econ-graph-crawler/tests/fixtures/bls/series/ce.series
  backend/crates/econ-graph-crawler/tests/fixtures/bls/series/cu.series
  backend/crates/econ-graph-crawler/tests/fixtures/bls/series/la.series
  backend/crates/econ-graph-crawler/tests/fixtures/bls/series/ln.series
  backend/migrations/2026-10-02-000300_reference_file_cache_payload/down.sql
  backend/migrations/2026-10-02-000300_reference_file_cache_payload/up.sql
  docs/data-sources/bls.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  frontend/tests/e2e/release/fixtures.ts
Due: rust-fmt, rust-clippy, typescript-check, migration-date-order-check

Fix PERCENT_CHANGE blanking a series when its first value is null or zero
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/query/series_data_tests.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
  frontend/src/components/charts/__tests__/SeriesChart.test.tsx
  frontend/src/pages/__tests__/SeriesDetail.test.tsx
  frontend/src/utils/transformations.ts
  frontend/tests/e2e/release/fixtures.ts
  frontend/tests/e2e/release/series-ui/transformations.spec.ts
  frontend/tests/e2e/release/sources/six-source-sweep.spec.ts
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Let code lists carry descriptions and a keyed request URL
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference_file.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
Due: rust-fmt, rust-clippy

Keep the first entry of a repeated code in refresh and seed alike
  backend/crates/econ-graph-crawler/src/reference_file.rs
Due: rust-fmt, rust-clippy

Stop a code-list batch on a refused or throttled request; record seeds past per-list failures
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/reference_file.rs
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: rust-fmt, rust-clippy

Write a new seed recording before removing the old; refuse a version already taken
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/reference_file.rs
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: rust-fmt, rust-clippy

fhfa: move place labels onto SourceAdapter::code_lists
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
Due: rust-fmt, rust-clippy

fhfa.rs: cargo fmt
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
Due: rust-fmt, rust-clippy

Refuse oversize /graphql request bodies
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
