Repository jmalicki/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, github-actions-validate, docker-compose-validate, rust-audit, npm-audit

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 20'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

github-actions-validate:
  name: GitHub Actions Workflow Validation
  entry: python3 scripts/validate-github-actions.py
  language: system
  pass_filenames: true

docker-compose-validate:
  name: Docker Compose Validation
  entry: bash -c 'for file in "$@"; do echo "Validating $file:"; docker-compose -f "$file" config > /dev/null && echo "✅ Valid" || echo "❌ Invalid"; done'
  language: system
  pass_filenames: true

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

Fix queue service test isolation issues
  backend/crates/econ-graph-services/src/services/queue_service.rs
Due: rust-fmt, rust-clippy

fix: resolve backend smoke test failures and add comprehensive test categorization guidelines
  backend/crates/econ-graph-services/src/services/series_discovery/world_bank/tests.rs
  backend/tests/world_bank_integration_tests.rs
  personas/ai-developer-standards.md
Due: rust-fmt, rust-clippy

fix: add database cleanup to queue service and auth tests
  backend/src/auth/integration_tests.rs
  backend/src/services/queue_service.rs
Due: rust-fmt, rust-clippy

Fix integration test configuration and test isolation issues
  backend/crates/econ-graph-auth/src/auth/comprehensive_integration_tests.rs
  backend/crates/econ-graph-auth/src/auth/integration_tests.rs
  backend/crates/econ-graph-core/Cargo.toml
  backend/crates/econ-graph-core/tests/schema_validation_test.rs
  backend/crates/econ-graph-core/tests/world_bank_integration_tests.rs
  backend/crates/econ-graph-mcp/Cargo.toml
  backend/crates/econ-graph-mcp/src/mcp_server.rs
  backend/crates/econ-graph-mcp/tests/mcp_server_integration_tests.rs
  backend/src/lib.rs
Due: rust-fmt, rust-clippy

Fix remaining auth integration test failures
  backend/crates/econ-graph-auth/Cargo.toml
  backend/crates/econ-graph-auth/src/auth/comprehensive_integration_tests.rs
  backend/crates/econ-graph-auth/src/auth/integration_tests.rs
Due: rust-fmt, rust-clippy

Fix CI failures: queue test isolation and Docker build context
  backend/Dockerfile
  backend/crates/econ-graph-services/src/services/queue_service.rs
Due: rust-fmt, rust-clippy

Fix additional CI issues: Docker build order and auth test isolation
  backend/Dockerfile
  backend/src/auth/integration_tests.rs
Due: rust-fmt, rust-clippy

Fix CI Backend Integration Tests: move integration tests and add git mv guideline
  backend/crates/econ-graph-backend/Cargo.toml
  backend/crates/econ-graph-backend/src/integration_tests.rs
  backend/crates/econ-graph-backend/src/main.rs
  personas/ai-developer-standards.md
Due: rust-fmt, rust-clippy

Fix integration test isolation issues
  backend/crates/econ-graph-backend/src/integration_tests.rs
Due: rust-fmt, rust-clippy

Fix MCP integration test expectations to match actual system behavior
  backend/crates/econ-graph-mcp/tests/mcp_server_integration_tests.rs
Due: rust-fmt, rust-clippy

Fix E2E test failures: frontend ESLint warnings and mobile E2E dependencies
  .github/workflows/ci-core.yml
  frontend/src/components/global/MapLegend.tsx
  frontend/src/components/global/WorldMapControls.tsx
  frontend/src/pages/GlobalAnalysisDemo.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, github-actions-validate

Fix remaining CI failures: Docker build and backend integration tests
  .github/workflows/ci-core.yml
  backend/Dockerfile
Due: github-actions-validate

Remove redundant test files from old src/ locations
  backend/src/auth/comprehensive_integration_tests.rs
  backend/src/auth/integration_tests.rs
  backend/src/models/crawl_queue/tests.rs
  backend/src/models/data_point/tests.rs
  backend/src/models/data_source/tests.rs
  backend/src/models/economic_series/tests.rs
  backend/src/models/search/tests.rs
  backend/src/services/__tests__/search_service_tests.rs
  backend/src/services/crawler/tests.rs
  backend/src/services/series_discovery/census/integration_tests.rs
  backend/src/services/series_discovery/census/tests.rs
  backend/src/services/series_discovery/world_bank/tests.rs
Due: rust-fmt, rust-clippy

Fix backend integration tests CI command: use --bin instead of --lib
  .github/workflows/ci-core.yml
Due: github-actions-validate

Create missing Playwright CI config files for E2E tests
  frontend/ci/configs/playwright-analysis.config.ts
  frontend/ci/configs/playwright-core.config.ts
  frontend/ci/configs/playwright-debug.config.ts
  frontend/ci/configs/playwright-mobile-analysis.config.ts
  frontend/ci/configs/playwright-mobile-comprehensive.config.ts
  frontend/ci/configs/playwright-mobile-core.config.ts
Due: typescript-check

Fix E2E Comprehensive Tests: add backend/frontend services and proper config
  .github/workflows/ci-core.yml
  frontend/ci/configs/playwright-comprehensive.config.ts
  frontend/package.json
Due: typescript-check, github-actions-validate, npm-audit

Add centralized port configuration and AI developer standards
  ci-env.config
  personas/ai-developer-standards.md
Due: none

Add critical debugging methodology and false confidence prevention to AI standards
  personas/ai-developer-standards.md
Due: none

Add local iteration capability and Docker-based CI steps to RelEng standards
  personas/releng-engineer.md
Due: none

feat: comprehensive persona documentation improvements
  ci-env.config
  personas/ai-developer-standards.md
  personas/releng-engineer.md
Due: none

feat: comprehensive persona documentation improvements (#68)
  ci-env.config
  personas/ai-developer-standards.md
  personas/releng-engineer.md
Due: none

feat: optimize E2E tests with pre-built Docker containers
  .github/workflows/ci-core.yml
  ci/docker/e2e/Dockerfile
  ci/docker/e2e/Dockerfile.mobile
  ci/docker/e2e/build-containers.sh
  ci/docker/e2e/run-e2e-tests.sh
Due: github-actions-validate

fix: complete E2E container optimization for all test types
  .github/workflows/ci-core.yml
Due: github-actions-validate

chore: update dependencies
  frontend/package-lock.json
Due: npm-audit

fix: resolve E2E container build and test issues
  .github/workflows/ci-core.yml
  ci/docker/e2e/Dockerfile.mobile
  ci/docker/e2e/build-containers.sh
  personas/ai-developer-standards.md
Due: github-actions-validate

fix: resolve 'No tests found' error in E2E tests
  .github/workflows/ci-core.yml
Due: github-actions-validate

fix: resolve mobile E2E container build dependency issue
  .github/workflows/ci-core.yml
Due: github-actions-validate

Add test Dockerfile for mobile container root user fix
  ci/docker/e2e/Dockerfile.mobile.test1
Due: none

Add additional test Dockerfiles for mobile container fixes
  ci/docker/e2e/Dockerfile.mobile.test2
  ci/docker/e2e/Dockerfile.mobile.test3
Due: none

Fix mobile container permission issue by switching to root user
  ci/docker/e2e/Dockerfile.mobile
Due: none

Fix 'No tests found' error in non-mobile E2E tests
  .dockerignore
  .github/workflows/ci-core.yml
  ci/docker/e2e/debug-container.sh
  ci/docker/e2e/test-local.sh
Due: github-actions-validate

feat: add comprehensive test coverage for metrics system
  backend/src/metrics_enhanced.rs
  backend/src/metrics_service.rs
Due: rust-fmt, rust-clippy

feat: Implement comprehensive XBRL parser with real functionality
  FINANCIAL_DATA_USER_RESEARCH_PLAN.md
  SEC_EDGAR_XBRL_IMPLEMENTATION_PLAN.md
  backend/crates/econ-graph-core/src/models/annotation_assignment.rs
  backend/crates/econ-graph-core/src/models/annotation_reply.rs
  backend/crates/econ-graph-core/src/models/annotation_template.rs
  backend/crates/econ-graph-core/src/models/company.rs
  backend/crates/econ-graph-core/src/models/educational_content.rs
  backend/crates/econ-graph-core/src/models/financial_annotation.rs
  backend/crates/econ-graph-core/src/models/financial_line_item.rs
  backend/crates/econ-graph-core/src/models/financial_ratios.rs
  backend/crates/econ-graph-core/src/models/financial_statement.rs
  backend/crates/econ-graph-core/src/models/mod.rs
  backend/crates/econ-graph-sec-crawler/Cargo.toml
  backend/crates/econ-graph-sec-crawler/src/bin/sec_company_crawler.rs
  backend/crates/econ-graph-sec-crawler/src/bin/sec_crawler.rs
  backend/crates/econ-graph-sec-crawler/src/crawler.rs
  backend/crates/econ-graph-sec-crawler/src/financial_ratio_calculator.rs
  backend/crates/econ-graph-sec-crawler/src/lib.rs
  backend/crates/econ-graph-sec-crawler/src/models.rs
  backend/crates/econ-graph-sec-crawler/src/rate_limiter.rs
  backend/crates/econ-graph-sec-crawler/src/storage.rs
  backend/crates/econ-graph-sec-crawler/src/utils.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
  backend/migrations/2024-01-15-000001_financial_data_schema/down.sql
  backend/migrations/2024-01-15-000001_financial_data_schema/up.sql
  backend/migrations/2024-01-15-000002_collaborative_annotations/down.sql
  backend/migrations/2024-01-15-000002_collaborative_annotations/up.sql
  backend/src/graphql/financial_mutation.rs
  backend/src/graphql/financial_query.rs
  backend/src/graphql/financial_subscription.rs
  backend/src/schema.rs
  backend/src/services/financial_data_service.rs
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/RatioAnalysisPanel.tsx
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check

feat: Externalize financial analysis configuration for analyst customization
  backend/crates/econ-graph-sec-crawler/config/README.md
  backend/crates/econ-graph-sec-crawler/config/concept_mappings.json
  backend/crates/econ-graph-sec-crawler/config/ratio_benchmarks.json
  backend/crates/econ-graph-sec-crawler/config/ratio_formulas.json
  backend/crates/econ-graph-sec-crawler/config/ratio_interpretations.json
  backend/crates/econ-graph-sec-crawler/src/config_loader.rs
  backend/crates/econ-graph-sec-crawler/src/financial_ratio_calculator.rs
  backend/crates/econ-graph-sec-crawler/src/lib.rs
  backend/src/schema.rs
Due: rust-fmt, rust-clippy

feat: Externalize financial analysis configuration and fix frontend components
  backend/crates/econ-graph-sec-crawler/src/config_loader.rs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/financial/AnnotationPanel.tsx
  frontend/src/components/financial/BenchmarkComparison.tsx
  frontend/src/components/financial/CollaborativePresence.tsx
  frontend/src/components/financial/EducationalPanel.tsx
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/RatioAnalysisPanel.tsx
  frontend/src/components/financial/RatioExplanationModal.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/graphql/financial.ts
  frontend/src/types/financial.ts
  frontend/tsconfig.json
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, npm-audit

fix: Resolve all TypeScript and ESLint errors in frontend components
  frontend/src/api/chartApi.ts
  frontend/src/api/privateChartEndpoint.ts
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/RatioAnalysisPanel.tsx
  frontend/src/routes/privateApiRoutes.tsx
Due: frontend-prettier, frontend-eslint, typescript-check

fix: Apply Prettier formatting to FinancialStatementViewer component
  frontend/src/components/financial/FinancialStatementViewer.tsx
Due: frontend-prettier, frontend-eslint, typescript-check

feat: Add custom git commands for PR, commit, and review
  .cursor/commands.json
Due: none

Add new commands for e2e tests, CI, k8s, and more
  .cursor/commands.json
Due: none

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  github-actions-validate: any of: ^\.github/workflows/.*\.yml$|^ci/workflows/.*\.yml$
  docker-compose-validate: any of: ^ci/docker/.*\.yml$|^docker-compose.*\.yml$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
