Repository jmalicki/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, github-actions-validate, docker-compose-validate, rust-audit, npm-audit

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 20'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

github-actions-validate:
  name: GitHub Actions Workflow Validation
  entry: python3 scripts/validate-github-actions.py
  language: system
  pass_filenames: true

docker-compose-validate:
  name: Docker Compose Validation
  entry: bash -c 'for file in "$@"; do echo "Validating $file:"; docker-compose -f "$file" config > /dev/null && echo "✅ Valid" || echo "❌ Invalid"; done'
  language: system
  pass_filenames: true

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

Checkpoint before follow-up message
  .github/workflows/ci-core.yml
  .pre-commit-config.yaml
Due: github-actions-validate

Refactor: Convert Cursor commands to Markdown documentation
  .cursor/commands.json
  .cursor/commands.md
Due: none

Refactor: Organize commands into individual markdown files
  .cursor/commands.md
  .cursor/commands/ci-latest.md
  .cursor/commands/commit.md
  .cursor/commands/db-migrate.md
  .cursor/commands/debug-backend.md
  .cursor/commands/debug-k8s.md
  .cursor/commands/deploy.md
  .cursor/commands/docker-logs.md
  .cursor/commands/e2e.md
  .cursor/commands/k8s-context.md
  .cursor/commands/k8s-deploy.md
  .cursor/commands/k8s-logs.md
  .cursor/commands/k8s-restart.md
  .cursor/commands/pr-checks.md
  .cursor/commands/pr-ready.md
  .cursor/commands/pr.md
  .cursor/commands/review.md
  .cursor/commands/workflow-audit.md
Due: none

ci: speed up Rust CI with rust-cache+sccache, nextest, reviewdog
  .github/workflows/ci-core.yml
Due: github-actions-validate

Checkpoint before follow-up message
  .cursor/commands/pr.md
Due: none

Checkpoint before follow-up message
  .cursor/commands/pr-checks.md
Due: none

Update commit command docs with Conventional Commits
  .cursor/commands/commit.md
Due: none

Docs: Add Conventional Commits link to commit message
  .cursor/commands/commit.md
Due: none

ci: fix failing CI steps (clippy annotations, sccache fallback)
  .github/workflows/ci-core.yml
Due: github-actions-validate

Fix: Resolve sccache artifact cache error
  .cursor/.agent-tools/a23126af-51aa-4cf3-b34c-a3bae3dc0bc8.txt
  .cursor/.agent-tools/b58c3469-5e6a-4a03-8fe1-10e183168d29.txt
Due: none

Refactor debug-k8s command documentation for clarity
  .cursor/commands/debug-k8s.md
Due: none

Refactor: Add Cursor-native commands to personas
  personas/ai-developer-standards.md
  personas/backend-engineer.md
  personas/devops-engineer.md
  personas/frontend-developer.md
  personas/product-manager.md
  personas/releng-engineer.md
  personas/security-engineer.md
Due: none

ci: fix pre-commit invocation and avoid sccache for diesel_cli install
  .github/workflows/ci-core.yml
Due: github-actions-validate

Fix: Resolve pre-commit hook failures
  .cursor/.agent-tools/4ef66702-3557-4b8d-a246-9d8829f98860.txt
  .cursor/.agent-tools/71736b5c-8ada-4061-b6c5-d857ed52c1c3.txt
  .cursor/.agent-tools/c1faab0e-c9df-40ce-a706-da0422c8a6b8.txt
Due: none

Checkpoint before follow-up message
  .cursor/commands/branch.md
Due: none

Refactor workflow-audit command documentation
  .cursor/commands/pr.md
  .cursor/commands/workflow-audit.md
Due: none

Refactor workflow-audit example to single line command
  .cursor/commands/workflow-audit.md
Due: none

Refactor branch command docs and backend persona
  .cursor/commands/branch.md
  personas/backend-engineer.md
Due: none

ci(pre-commit): reduce flakes and strictness in CI-run hooks
  .pre-commit-config.yaml
Due: none

Fix: Resolve pre-commit hook failures
  .cursor/.agent-tools/372d6a27-0ad1-4c21-9b27-0dc632185d4f.txt
  .cursor/.agent-tools/a0799b2b-9585-48bc-885c-49dae91faa1c.txt
  .cursor/.agent-tools/cc7bb8dd-0b7a-48f6-9916-04d87d52c597.txt
Due: none

ci(cache): add diagnostics and sccache health fallback
  .github/workflows/ci-core.yml
Due: github-actions-validate

Refactor: Improve AI developer standards documentation
  personas/ai-developer-standards.md
Due: none

Review persona docs for slash command integration (#155)
  .cursor/commands/branch.md
  .cursor/commands/ci-latest.md
  .cursor/commands/commit.md
  .cursor/commands/db-migrate.md
  .cursor/commands/debug-backend.md
  .cursor/commands/debug-k8s.md
  .cursor/commands/deploy.md
  .cursor/commands/docker-logs.md
  .cursor/commands/e2e.md
  .cursor/commands/k8s-context.md
  .cursor/commands/k8s-deploy.md
  .cursor/commands/k8s-logs.md
  .cursor/commands/k8s-restart.md
  .cursor/commands/pr-checks.md
  .cursor/commands/pr-ready.md
  .cursor/commands/pr.md
  .cursor/commands/review.md
  .cursor/commands/workflow-audit.md
  personas/ai-developer-standards.md
  personas/backend-engineer.md
  personas/devops-engineer.md
  personas/frontend-developer.md
  personas/product-manager.md
  personas/releng-engineer.md
  personas/security-engineer.md
Due: none

ci(sccache): add runtime fallback to plain rustc if sccache fails
  .github/workflows/ci-core.yml
Due: github-actions-validate

Fix: Resolve pre-commit hook failures
  .cursor/.agent-tools/c6e74ede-dcff-4c68-af65-64e7dbab7691.txt
  .cursor/.agent-tools/f5a3208f-5619-41f9-9fbb-bf720a97466c.txt
Due: none

Checkpoint before follow-up message
  .github/workflows/ci-core.yml
Due: github-actions-validate

chore(k8s): fix duplicate NGINX annotations and timeouts in ingress YAMLs
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/manifests/ssl-ingress.yaml
Due: none

Refactor: Clean up unused code and improve test stability
  .cursor/.agent-tools/48bb0fc0-abab-486c-8b1f-f02c0bedecc6.txt
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
  frontend/eslint.config.js
  frontend/public/favicon.svg
  frontend/scripts/generate-favicon.js
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/auth/__tests__/LoginDialog.test.tsx
  frontend/src/components/charts/__tests__/ChartCollaboration.test.tsx
  frontend/src/components/charts/__tests__/ChartCollaborationConnectedQuery.test.tsx
  frontend/src/components/financial/__tests__/FinancialStatementViewer.test.tsx
  frontend/src/components/financial/__tests__/RatioAnalysisPanel.test.tsx
  frontend/src/pages/__tests__/DataSources.test.tsx
  frontend/src/pages/__tests__/SeriesExplorer.test.tsx
  frontend/src/pages/__tests__/SeriesExplorerEmptyStates.test.tsx
  frontend/src/test-utils/mocks/graphql-responses/get_financial_alerts/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_ratios/empty.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_ratios/error.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_ratios/loading.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_ratios/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_peer_companies/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_trend_analysis/success.json
  frontend/storybook-static/assets/DocsRenderer-CFRXHY34-D80CFwMc.js
  frontend/storybook-static/assets/FinancialStatementViewer.stories-BS818aKy.js
  frontend/storybook-static/assets/iframe-CdtdDCIt.js
  frontend/storybook-static/assets/index-DAwoCGuO.js
  frontend/storybook-static/iframe.html
  frontend/storybook-static/index.html
  frontend/storybook-static/sb-addons/essentials-controls-3/manager-bundle.js
  frontend/storybook-static/sb-addons/essentials-docs-5/manager-bundle.js
  frontend/storybook-static/sb-addons/interactions-11/manager-bundle.js
  frontend/storybook-static/sb-addons/onboarding-1/manager-bundle.js
  frontend/storybook-static/sb-manager/globals-runtime.js
  k8s/manifests/postgresql-config.yaml
  k8s/manifests/security-configmap.yaml
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/setup-letsencrypt-cloudflare.sh
  scripts/deploy/test-letsencrypt-cloudflare.sh
  terraform/main.tf
Due: frontend-prettier, frontend-eslint, typescript-check

ci(nextest): add sccache fallback for fast unit tests
  .github/workflows/ci-core.yml
Due: github-actions-validate

Fix: Resolve sccache cache storage error in CI
  .cursor/.agent-tools/533c19ad-ea79-4ed2-82f3-fa655d65c734.txt
  .cursor/.agent-tools/ff26cc98-8ca4-441f-bcb4-e83a17e01897.txt
Due: none

Checkpoint before follow-up message
  .cursor/.agent-tools/ea4824f6-b58b-4b46-8457-b96845cae55a.txt
  backend/crates/econ-graph-core/src/database.rs
  backend/crates/econ-graph-core/src/enums.rs
  backend/crates/econ-graph-core/src/models/annotation_assignment.rs
  backend/crates/econ-graph-core/src/models/annotation_reply.rs
  backend/crates/econ-graph-core/src/models/crawl_queue/tests.rs
  backend/crates/econ-graph-core/src/models/data_point/tests.rs
  backend/crates/econ-graph-core/src/models/data_source/tests.rs
  backend/crates/econ-graph-core/src/models/economic_series/tests.rs
  backend/crates/econ-graph-core/src/models/financial_ratios.rs
  backend/crates/econ-graph-core/src/models/search/tests.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-core/src/test_utils.rs
  backend/crates/econ-graph-metrics/src/crawler.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  github-actions-validate: any of: ^\.github/workflows/.*\.yml$|^ci/workflows/.*\.yml$
  docker-compose-validate: any of: ^ci/docker/.*\.yml$|^docker-compose.*\.yml$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
