Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

docs: Complete backend documentation for all remaining crates (#138)
  backend/README.md
  backend/crates/econ-graph-auth/README.md
  backend/crates/econ-graph-auth/src/lib.rs
  backend/crates/econ-graph-backend/README.md
  backend/crates/econ-graph-backend/src/lib.rs
  backend/crates/econ-graph-crawler/README.md
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-mcp/README.md
  backend/crates/econ-graph-mcp/src/lib.rs
  backend/crates/econ-graph-sec-crawler/README.md
Due: rust-fmt, rust-clippy

Fix frontend tests: upgrade to React Query v4 and implement proper Suspense handling
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/financial/FinancialAlerts.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/RatioAnalysisPanel.tsx
  frontend/src/components/financial/__tests__/FinancialDashboard.test.tsx
  frontend/src/components/financial/__tests__/FinancialStatementViewer.test.tsx
  frontend/src/components/financial/__tests__/RatioAnalysisPanel.test.tsx
  frontend/src/hooks/__tests__/useSeriesData.test.tsx
  frontend/src/hooks/useSeriesData.ts
  frontend/src/index.tsx
  frontend/src/test-utils/__tests__/graphql-schema-validation.test.ts
  frontend/src/test-utils/mocks/graphql-responses/get_financial_alerts/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_dashboard/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_statement/loading.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_statement/success.json
  frontend/src/test-utils/mocks/graphql/financial-queries.ts
  frontend/src/test-utils/test-providers.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

feat: implement modern testing patterns with MSW, GraphQL, Suspense, and Error Boundaries
  frontend/package.json
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/financial/FinancialAlerts.tsx
  frontend/src/components/financial/RatioAnalysisPanel.tsx
  frontend/src/components/financial/__tests__/FinancialAlerts.test.tsx
  frontend/src/components/financial/__tests__/RatioAnalysisPanel.test.tsx
  frontend/src/setupTests.vitest.ts
  frontend/src/test-utils/mocks/graphql-responses/get_financial_alerts/success.json
  frontend/src/test-utils/mocks/simpleServer.ts
  frontend/vitest.config.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Fix frontend tests with MSW, React Query v4, Suspense, and Error Boundaries
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/auth/__tests__/UserProfile.test.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/__tests__/FinancialAlerts.test.tsx
  frontend/src/components/financial/__tests__/FinancialDashboard.test.tsx
  frontend/src/setupTests.vitest.ts
  frontend/src/test-utils/mocks/graphql-responses/get_financial_ratios/loading.json
  frontend/src/utils/__tests__/graphql.test.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix JSDoc documentation warnings
  frontend/src/api/chartApi.ts
  frontend/src/api/privateChartEndpoint.ts
  frontend/src/components/charts/InteractiveChart.tsx
  frontend/src/components/charts/InteractiveChartWithCollaboration.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/hooks/useCollaboration.ts
  frontend/src/pages/About.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/DataSources.tsx
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/SeriesExplorer.tsx
  frontend/src/routes/privateApiRoutes.tsx
  frontend/src/test-utils/mocks/data.ts
  frontend/src/test-utils/mocks/validate-schema.ts
  frontend/src/test-utils/test-providers.tsx
  frontend/src/utils/cn.ts
  frontend/src/utils/graphql.ts
  frontend/src/utils/technicalAnalysis.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

fix: resolve multiple elements issue in InteractiveChartWithCollaboration test
  frontend/src/components/charts/__tests__/InteractiveChartWithCollaboration.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

fix: resolve FinancialAlerts test issues with multiple elements
  frontend/src/components/financial/__tests__/FinancialAlerts.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Add rustdoc checks to pre-commit and CI
  .github/workflows/ci-core.yml
  .pre-commit-config.yaml
Due: none

docs: Add comprehensive crate split plans
  docs/development/CRATE_SPLIT_PLAN.md
  docs/development/FINANCIAL_DATA_CRATE_SPLIT_PLAN.md
  super-secret-projects/EARNINGS_TRANSCRIPT_ANALYSIS.md
  super-secret-projects/EDGAR_INGESTION.md
  super-secret-projects/EDGAR_INTEGRATION_ANALYSIS.md
  super-secret-projects/EDGAR_XBRL_RESEARCH_FINDINGS.md
  super-secret-projects/NIGHTLY_RESEARCH_PLAN.md
  super-secret-projects/STEALTH_CRAWLING_VS_POLITE_CRAWLING.md
  super-secret-projects/STT_TESTING_RESULTS.md
  super-secret-projects/fundamental-market-research/comprehensive_market_analysis.md
  super-secret-projects/fundamental-market-research/fundamental_analysis_market_research.md
  super-secret-projects/xbrl-deep-dive/PROFESSIONAL_INVESTOR_EDGE.md
Due: none

Fix tests: Move MSW mocks to JSON files and improve test reliability
  frontend/package.json
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/__tests__/FinancialStatementViewer.test.tsx
  frontend/src/setupTests.vitest.ts
  frontend/src/test-utils/mocks/graphql-responses/get_financial_dashboard/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_financial_ratios/success.json
  frontend/src/utils/__tests__/graphql.test.ts
  super-secret-projects/EARNINGS_TRANSCRIPT_ANALYSIS.md
  super-secret-projects/EDGAR_INGESTION.md
  super-secret-projects/EDGAR_INTEGRATION_ANALYSIS.md
  super-secret-projects/EDGAR_XBRL_RESEARCH_FINDINGS.md
  super-secret-projects/NIGHTLY_RESEARCH_PLAN.md
  super-secret-projects/STEALTH_CRAWLING_VS_POLITE_CRAWLING.md
  super-secret-projects/STT_TESTING_RESULTS.md
  super-secret-projects/fundamental-market-research/comprehensive_market_analysis.md
  super-secret-projects/fundamental-market-research/fundamental_analysis_market_research.md
  super-secret-projects/xbrl-deep-dive/PROFESSIONAL_INVESTOR_EDGE.md
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Fix Vitest configuration and ES module issues
  frontend/package.json
  frontend/src/test-utils/mocks/graphql-response-loader.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

security: implement Keycloak IAM and mTLS service authentication
  backend/crates/econ-graph-auth/src/auth/keycloak.rs
  backend/crates/econ-graph-auth/src/auth/mod.rs
  backend/crates/econ-graph-auth/src/auth/unified_auth.rs
  backend/crates/econ-graph-backend/src/main.rs
  docs/security/KEYCLOAK_INTEGRATION_WHITEPAPER.md
  docs/security/SERVICE_TO_SERVICE_MTLS_WHITEPAPER.md
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/cert-manager-deployment.yaml
  k8s/manifests/keycloak-db-init.yaml
  k8s/manifests/keycloak-deployment.yaml
  k8s/manifests/keycloak-ingress.yaml
  k8s/manifests/keycloak-network-policy.yaml
  k8s/manifests/keycloak-postgres-deployment.yaml
  k8s/manifests/keycloak-postgres-service.yaml
  k8s/manifests/keycloak-secrets.yaml
  k8s/manifests/keycloak-service.yaml
  k8s/manifests/service-certificates.yaml
  k8s/manifests/vault-config.yaml
  k8s/manifests/vault-deployment.yaml
  k8s/manifests/vault-secrets.yaml
  k8s/manifests/vault-service.yaml
  scripts/deploy/configure-keycloak.sh
  scripts/deploy/deploy-keycloak.sh
  scripts/deploy/deploy.sh
  scripts/deploy/setup-mtls.sh
  scripts/deploy/setup-with-keycloak.sh
  scripts/deploy/test-keycloak-integration.sh
Due: rust-fmt, rust-clippy

security: add Istio service mesh option for mTLS
  k8s/manifests/istio-gateway.yaml
  k8s/manifests/istio-mtls-policies.yaml
Due: none

Fix multiple test issues and add missing mocks
  frontend/package-lock.json
  frontend/src/setupTests.vitest.ts
  frontend/src/test-utils/mocks/graphql-responses/get_financial_alerts/success.json
  frontend/vitest.config.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Progress on integration tests and MSW debugging
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/test-utils/mocks/server.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Debug integration tests - identify useQuery mocking issue
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/test-utils/mocks/server.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

feat: Implement financial data crate split
  backend/Cargo.toml
  backend/crates/econ-graph-arrow-storage/Cargo.toml
  backend/crates/econ-graph-arrow-storage/src/lib.rs
  backend/crates/econ-graph-arrow-storage/src/storage/iceberg_storage.rs
  backend/crates/econ-graph-arrow-storage/src/storage/in_memory_storage.rs
  backend/crates/econ-graph-arrow-storage/src/storage/mod.rs
  backend/crates/econ-graph-arrow-storage/src/storage/parquet_storage.rs
  backend/crates/econ-graph-arrow-storage/src/types.rs
  backend/crates/econ-graph-financial-core/Cargo.toml
  backend/crates/econ-graph-financial-core/src/catalog/file_catalog.rs
  backend/crates/econ-graph-financial-core/src/catalog/mod.rs
  backend/crates/econ-graph-financial-core/src/catalog/series_metadata.rs
  backend/crates/econ-graph-financial-core/src/crawler/mod.rs
  backend/crates/econ-graph-financial-core/src/database/mod.rs
  backend/crates/econ-graph-financial-core/src/lib.rs
  backend/crates/econ-graph-financial-core/src/main.rs
  backend/crates/econ-graph-financial-core/src/models/input.rs
  backend/crates/econ-graph-financial-core/src/models/mod.rs
  backend/crates/econ-graph-financial-core/src/monitoring/mod.rs
  backend/crates/econ-graph-financial-core/src/storage.rs
  backend/crates/econ-graph-financial-data/src/graphql/mod.rs
  backend/crates/econ-graph-financial-data/src/graphql/mutation.rs
  backend/crates/econ-graph-financial-data/src/graphql/query.rs
  backend/crates/econ-graph-financial-data/src/main.rs
  backend/crates/econ-graph-financial-data/src/models/mod.rs
  backend/crates/econ-graph-financial-data/src/storage/iceberg_storage.rs
  backend/crates/econ-graph-financial-data/src/storage/iceberg_storage.rs.backup
  backend/crates/econ-graph-financial-data/src/storage/in_memory_storage.rs
  backend/crates/econ-graph-financial-data/src/storage/mod.rs
  backend/crates/econ-graph-financial-data/src/storage/parquet_storage.rs
  backend/crates/econ-graph-financial-graphql/Cargo.toml
  backend/crates/econ-graph-financial-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-financial-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-financial-graphql/src/graphql/query.rs
  backend/crates/econ-graph-financial-graphql/src/lib.rs
Due: rust-fmt, rust-clippy, rust-audit

Fix LoginDialog and ChartCollaboration tests
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/auth/LoginDialog.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/test-utils/mocks/server.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Remove all mock data from components - enforce GraphQL-only data
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/PeerComparisonChart.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix linting errors and formatting issues
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/PeerComparisonChart.tsx
  frontend/src/components/financial/RatioAnalysisPanel.tsx
  frontend/src/setupTests.vitest.ts
  frontend/src/test-utils/mocks/server.ts
  frontend/src/test-utils/mocks/simpleServer.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix TypeScript errors and formatting issues
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/PeerComparisonChart.tsx
  frontend/src/components/financial/RatioAnalysisPanel.tsx
  frontend/src/test-utils/mocks/graphql/financial-queries.ts
  frontend/src/types/financial.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix linting warnings: remove console statements and fix unused variables
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/auth/UserProfile.tsx
  frontend/src/components/charts/InteractiveChart.tsx
  frontend/src/components/charts/ProfessionalChart.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/financial/FinancialAlerts.tsx
  frontend/src/components/financial/FinancialExport.tsx
  frontend/src/components/financial/FinancialMobile.tsx
  frontend/src/components/global/GlobalEconomicNetworkMap.tsx
  frontend/src/components/global/GlobalEventsExplorer.tsx
  frontend/src/components/global/InteractiveWorldMap.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix XBRL integration tests: 12/15 tests now passing
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/setupTests.integration.ts
  frontend/src/test-utils/mocks/graphql-responses/get_financial_dashboard/success.json
  frontend/vitest.integration.config.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Add debug logging and fix text selectors for XBRL integration tests
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/test-utils/mocks/graphql-responses/get_financial_statement/success.json
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix component aria-labels and use Testing Library selector hierarchy
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix GraphQL schema compliance and component data access
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/test-utils/mocks/graphql-responses/get_financial_dashboard/success.json
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix TypeScript errors in integration tests
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix linting warnings: reduce from 283 to 56 (80% reduction)
  frontend/src/api/privateChartEndpoint.ts
  frontend/src/components/charts/InteractiveChartWithCollaboration.tsx
  frontend/src/components/charts/ProfessionalChart.tsx
  frontend/src/components/charts/__tests__/ChartCollaboration.test.tsx
  frontend/src/components/charts/__tests__/ChartCollaborationConnected.integration.test.tsx
  frontend/src/components/charts/__tests__/ChartCollaborationConnected.test.tsx
  frontend/src/components/charts/__tests__/InteractiveChartWithCollaboration.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/financial/AnnotationPanel.tsx
  frontend/src/components/financial/FinancialAlerts.tsx
  frontend/src/components/financial/FinancialExport.tsx
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/RatioAnalysisPanel.tsx
  frontend/src/components/financial/TrendAnalysisChart.tsx
  frontend/src/components/financial/__tests__/FinancialDashboard.test.tsx
  frontend/src/components/global/GlobalEconomicNetworkMap.tsx
  frontend/src/components/global/InteractiveWorldMap.tsx
  frontend/src/components/global/hooks/useCountryData.ts
  frontend/src/test-utils/__tests__/graphql-schema-validation.test.ts
  frontend/src/types/globalAnalysis.ts
  frontend/src/utils/chartCollaborationUtils.ts
  frontend/src/utils/technicalAnalysis.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix XBRL integration test: handle multiple Trend Visualization elements
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix test failures with multiple element selectors
  frontend/src/components/auth/__tests__/LoginDialog.test.tsx
  frontend/src/components/charts/__tests__/ChartCollaboration.test.tsx
  frontend/src/components/charts/__tests__/ChartCollaborationConnected.integration.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix integration tests and React act() warnings
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/charts/__tests__/ProfessionalChart.test.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialStatementViewer.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix TypeScript errors in FinancialDashboard
  frontend/src/components/financial/FinancialDashboard.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix Prettier formatting issues
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/PeerComparisonChart.tsx
  frontend/src/components/global/GlobalEconomicNetworkMap.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix test selectors to follow Testing Library hierarchy
  frontend/src/components/auth/__tests__/UserProfile.test.tsx
  frontend/src/components/charts/__tests__/ChartCollaboration.test.tsx
  frontend/src/components/charts/__tests__/ProfessionalChart.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix multiple element selector issues in tests
  frontend/src/components/auth/__tests__/LoginDialog.test.tsx
  frontend/src/components/charts/ChartCollaboration.tsx
  frontend/src/components/charts/ChartCollaborationConnected.tsx
  frontend/src/components/charts/__tests__/ProfessionalChart.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix multiple test failures with better selectors and formatting
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/charts/ChartCollaboration.tsx
  frontend/src/components/charts/ChartCollaborationConnected.tsx
  frontend/src/components/charts/__tests__/ChartCollaboration.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix linting issues and improve test selectors
  frontend/src/__tests__/integration/xbrl-financial-integration.test.tsx
  frontend/src/components/auth/__tests__/UserProfile.test.tsx
  frontend/src/components/charts/InteractiveChartWithCollaboration.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
