Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

Compile the financial UI demo out of the release build
  backend/flags/dev.json
  backend/flags/release.json
  config/flags/flags.flagd.json
  frontend/flags/dev.json
  frontend/flags/release.json
  frontend/src/App.tsx
  frontend/tests/e2e/release/crawl/every-control.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Compile /mcp out of release backend builds
  .github/workflows/ci-core.yml
  backend/.cargo/config.toml
  backend/.dockerignore
  backend/Cargo.lock
  backend/Cargo.toml
  backend/Dockerfile
  backend/crates/econ-graph-backend/Cargo.toml
  backend/crates/econ-graph-backend/build.rs
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-backend/src/mcp_routes.rs
  backend/crates/econ-graph-flags-build/Cargo.toml
  backend/crates/econ-graph-flags-build/src/lib.rs
  config/flags/README.md
Due: rust-fmt, rust-clippy, rust-audit

Add datasets table and dataset columns on series
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-backend/src/integration_tests.rs
  backend/crates/econ-graph-core/src/models/crawl_attempt.rs
  backend/crates/econ-graph-core/src/models/dataset.rs
  backend/crates/econ-graph-core/src/models/dataset/tests.rs
  backend/crates/econ-graph-core/src/models/economic_series.rs
  backend/crates/econ-graph-core/src/models/economic_series/tests.rs
  backend/crates/econ-graph-core/src/models/mod.rs
  backend/crates/econ-graph-core/src/models/series_metadata.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/migrations/2026-09-26-000100_datasets/down.sql
  backend/migrations/2026-09-26-000100_datasets/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Follow up on main: SchemaResources rename, schema.graphql, test fix
  backend/Cargo.lock
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/datasets.rs
  backend/crates/econ-graph-graphql/src/graphql/datasets_db_tests.rs
Due: rust-fmt, rust-clippy, rust-audit

Revert incidental roadmap doc change from merge resolution
  docs/roadmap/releases.md
Due: none

Fix latest_observation_tests for NewEconomicSeries's new dataset fields
  backend/crates/econ-graph-graphql/src/graphql/latest_observation_tests.rs
Due: rust-fmt, rust-clippy

Add seriesByExternalId query and EconomicSeries.latestObservation field
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/latest_observation_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/test_db.rs
  backend/crates/econ-graph-graphql/src/types.rs
Due: rust-fmt, rust-clippy

Show the latest real values on the dashboard
  frontend/src/components/dashboard/LatestValueCard.tsx
  frontend/src/config/__tests__/dashboardSeries.test.ts
  frontend/src/config/dashboard-series.json
  frontend/src/config/dashboardSeries.ts
  frontend/src/hooks/useLatestObservation.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/cpiaucsl.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/empty_series.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/fedfunds.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/gdp.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/not_found.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/null_value.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/unrate.json
  frontend/src/utils/__tests__/formatDecimal.test.ts
  frontend/src/utils/formatDecimal.ts
  frontend/tests/e2e/dashboard.spec.ts
  frontend/tests/e2e/release/crawl/allowlist.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Add shared country reference file and loader
  backend/Cargo.lock
  backend/Dockerfile
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/Cargo.toml
  backend/crates/econ-graph-core/data/countries.csv
  backend/crates/econ-graph-core/src/lib.rs
  backend/crates/econ-graph-core/src/reference.rs
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/scripts/build_countries_csv.py
  ci/docker/e2e/Dockerfile.optimized
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/crawler-worker.yaml
Due: rust-fmt, rust-clippy, rust-audit

Compile out the comparison, events and impact tabs on /global
  backend/flags/dev.json
  backend/flags/release.json
  config/flags/flags.flagd.json
  frontend/flags/dev.json
  frontend/flags/release.json
  frontend/scripts/check-flag-bundle.mjs
  frontend/src/components/global/GlobalEventsExplorer.tsx
  frontend/src/components/global/MultiCountryDashboard.tsx
  frontend/src/components/global/__tests__/MultiCountryDashboard.test.tsx
  frontend/src/pages/GlobalAnalysis.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

chore: silence CodeRabbit skipped-review notices
  .coderabbit.yaml
Due: none

chore: silence CodeRabbit skipped-review notices (#284)
  .coderabbit.yaml
Due: none

Disable Claude commit and pull request attribution
  .claude/settings.json
Due: none

Set repository policy for commit and pull request attribution
  AGENTS.md
Due: none

Share repository attribution policy with Claude
  CLAUDE.md
Due: none

Disable agent attribution in commits and pull requests
  .claude/settings.json
  .codex/config.toml
Due: none

Fix PROFILE_ENV doc comment (CodeRabbit finding on #222, not actually included in the merge)
  backend/crates/econ-graph-flags-build/src/lib.rs
Due: rust-fmt, rust-clippy

Fix Cargo.lock: add the toml crate's transitive deps lost in the main merge
  backend/Cargo.lock
Due: rust-audit

Restore the staff-set gate on user admin mutations
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
Due: rust-fmt, rust-clippy

Scope Census retirement to BDS ids and fail discovery on malformed catalog entries
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/persist/stable_id_tests.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/src/worker.rs
Due: rust-fmt, rust-clippy

Disable AI attribution in commits and PRs (#285)
  .claude/settings.json
  .codex/config.toml
Due: none

fix: store taxonomy schema and DTS reference atomically
  backend/crates/econ-graph-sec-crawler/src/storage.rs
Due: rust-fmt, rust-clippy

docs: clarify pooled connection helper semantics
  backend/crates/econ-graph-core/src/database.rs
Due: rust-fmt, rust-clippy

Make annotation deletion atomic with its comments
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
Due: rust-fmt, rust-clippy

Read XBRL storage statistics from one aggregate snapshot
  backend/crates/econ-graph-sec-crawler/src/storage.rs
Due: rust-fmt, rust-clippy

Format storage statistics assertion
  backend/crates/econ-graph-sec-crawler/src/storage.rs
Due: rust-fmt, rust-clippy

test: cover taxonomy rollback and single-connection pool storage
  backend/crates/econ-graph-sec-crawler/src/storage.rs
Due: rust-fmt, rust-clippy

Make comment visibility and authorization atomic
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
Due: rust-fmt, rust-clippy

docs: align CI guides with current workflows and coverage
  .github/workflows/README.md
  ci/docs/CI_FAILURE_TROUBLESHOOTING.md
  docs/development/CI_CD_PIPELINE.md
  docs/development/CI_OPTIMIZATION_NOTES.md
  docs/development/e2e-testing-strategy.md
Due: none

Make chart sharing atomic and enforce unique collaborator grants
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
  backend/migrations/2026-09-30-000100_unique_chart_collaborators/down.sql
  backend/migrations/2026-09-30-000100_unique_chart_collaborators/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Update Cargo.lock for sha1_smol (uuid v5 feature)
  backend/Cargo.lock
Due: rust-audit

test(crawler): reproduce writes from expired fetch leases
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Specify Integer SQL type for compression CASE aggregate
  backend/crates/econ-graph-sec-crawler/src/storage.rs
Due: rust-fmt, rust-clippy

Fix accessibility CI with maintained ESLint and Vitest audits
  .github/workflows/accessibility-tests.yml
  admin-frontend/.gitignore
  admin-frontend/eslint.accessibility.config.js
  admin-frontend/eslint.config.js
  admin-frontend/package-lock.json
  admin-frontend/package.json
  admin-frontend/src/__tests__/accessibility/App.accessibility.test.tsx
  admin-frontend/src/__tests__/accessibility/audit.ts
  admin-frontend/src/__tests__/accessibility/setup.ts
  admin-frontend/vitest.accessibility.config.ts
  admin-frontend/vitest.config.ts
  docs/technical/accessibility-ci.md
  frontend/.gitignore
  frontend/eslint.accessibility.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/accessibility/App.accessibility.test.tsx
  frontend/src/__tests__/accessibility/audit.ts
  frontend/src/__tests__/accessibility/setup.ts
  frontend/vitest.accessibility.config.ts
  frontend/vitest.config.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Validate cost analysis calculations and publish scheduled updates as PRs
  .github/workflows/update-cost-analysis.yml
  README.md
  data/cost-analysis.json
  demo-tools/PROFESSIONAL_DEMO_SUMMARY.md
  docs/business/COST_ASSUMPTIONS_AND_PRODUCTIVITY_ANALYSIS.md
  docs/business/INVESTOR_PITCH.md
  docs/business/PRODUCT_SUMMARY_2025.md
  scripts/codebase-stats-corrected.sh
  scripts/codebase_stats.py
  scripts/cost_analysis.py
  scripts/tests/test_cost_analysis.py
  scripts/update-cost-analysis.sh
Due: none

fix(ci): keep change-selection job successful on protected branches
  .github/workflows/ci-core.yml
  ci/docs/CI_FAILURE_TROUBLESHOOTING.md
  docs/development/CI_CD_PIPELINE.md
Due: none

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
