Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

Batch review round 2: default fetch_batch keeps fetched results, breaker test per call, docs
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Add feature flags and experiments roadmap
  docs/roadmap/feature-flags.md
Due: none

Address self-review: strict string check, code lists, constraint tests
  backend/crates/econ-graph-core/src/models/dataset.rs
  backend/crates/econ-graph-core/src/models/dataset/tests.rs
  backend/migrations/2026-09-26-000100_datasets/down.sql
  backend/migrations/2026-09-26-000100_datasets/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Add analysis workspace roadmap
  docs/roadmap/analysis-workspace.md
Due: none

Give series stable ids derived from their natural key
  backend/Cargo.toml
  backend/crates/econ-graph-core/src/models/economic_series.rs
  backend/crates/econ-graph-core/src/models/series_metadata.rs
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/persist/stable_id_tests.rs
  backend/crates/econ-graph-crawler/src/series_id.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/testkit/mod.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/migrations/2026-09-26-233000_stable_seed_series_ids/down.sql
  backend/migrations/2026-09-26-233000_stable_seed_series_ids/up.sql
Due: rust-fmt, rust-clippy, rust-audit, migration-date-order-check

Enforce GraphQL depth and complexity limits; serve /playground only when enabled
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
  docker-compose.yml
  docs/api/GRAPHQL_API.md
  docs/roadmap/README.md
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/setup-local-k8s.sh
Due: rust-fmt, rust-clippy

Default fetch_batch: only a rate limit stops the loop; auth stays per series
  backend/crates/econ-graph-crawler/src/adapter.rs
Due: rust-fmt, rust-clippy

Series page on real data
  docs/roadmap/analysis-workspace.md
  frontend/src/components/charts/InteractiveChart.tsx
  frontend/src/components/charts/__tests__/InteractiveChart.test.tsx
  frontend/src/hooks/__mocks__/useSeriesData.ts
  frontend/src/hooks/useSeriesData.ts
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/__tests__/SeriesDetail.test.tsx
  frontend/src/pages/__tests__/fixtures/seriesDetail.ts
  frontend/src/utils/__tests__/dates.test.ts
  frontend/src/utils/dates.ts
  frontend/src/utils/graphql.ts
  frontend/src/utils/transformations.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Remove ingress CORS annotations; the backend owns CORS
  docs/deployment/INGRESS_ROUTING_TROUBLESHOOTING.md
  docs/projects/SECURITY_IMPLEMENTATION_PLAN.md
  docs/roadmap/README.md
  k8s/manifests/frontend-ingress.yaml
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/manifests/ingress.yaml
  k8s/manifests/security-configmap.yaml
  k8s/manifests/ssl-ingress.yaml
  terraform/modules/ingress/main.tf
Due: none

Add the release end-to-end stack: Playwright release project on Postgres 18, seeded from fixtures
  .github/workflows/release-e2e.yml
  .gitignore
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  docker-compose.release-e2e.yml
  frontend/playwright.config.ts
  frontend/playwright.mobile.config.ts
  frontend/playwright.release.config.ts
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/auth/sign-in.spec.ts
  frontend/tests/e2e/release/fixtures.ts
  frontend/tests/e2e/release/smoke.spec.ts
  frontend/vite.config.ts
  scripts/release-e2e.sh
Due: rust-fmt, rust-clippy, typescript-check

Add Keycloak k8s manifests and deploy step
  config/keycloak/README.md
  k8s/README.md
  k8s/manifests/keycloak-deployment.yaml
  k8s/manifests/keycloak-ingress.yaml
  k8s/manifests/keycloak-postgres.yaml
  scripts/deploy/create-keycloak-secret.sh
  scripts/deploy/deploy.sh
Due: none

Refresh the roadmap index against current main
  docs/roadmap/README.md
Due: none

Lint Markdown and check relative links on every PR
  .github/workflows/docs-checks.yml
  .lycheeignore
  .markdownlint.json
  .pre-commit-config.yaml
  docs/business/COST_ASSUMPTIONS_AND_PRODUCTIVITY_ANALYSIS.md
  docs/deployment/CLUSTER_DNS_TROUBLESHOOTING.md
  docs/development/CI_CD_PIPELINE.md
  docs/user-guides/GLOBAL_ANALYSIS_USER_GUIDE.md
  frontend/docs/storybook-testing.md
  frontend/src/components/financial/README.md
  personas/devops-engineer.md
  personas/frontend-developer.md
Due: frontend-prettier

Remove committed credentials from Terraform
  terraform/README.md
  terraform/main.tf
  terraform/modules/admin-ingress/variables.tf
  terraform/modules/ingress/main.tf
  terraform/modules/postgresql/main.tf
  terraform/postgres-only.tf
  terraform/terraform.tfvars.example
Due: none

Refresh the roadmap index against current main (#203)
  docs/roadmap/README.md
Due: none

Add a release-train plan for the roadmap
  docs/roadmap/releases.md
Due: none

Address review round 2: component shape check, default measure needs dataset
  backend/crates/econ-graph-core/src/models/dataset/tests.rs
  backend/crates/econ-graph-core/src/models/series_metadata.rs
  backend/migrations/2026-09-26-000100_datasets/down.sql
  backend/migrations/2026-09-26-000100_datasets/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Build on DS-1 schema, enforce canonical ids, codelist support, review fixes
  backend/crates/econ-graph-crawler/data/datasets/README.md
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Address review round 3: check optional component keys, clear dataset columns
  backend/crates/econ-graph-core/src/models/dataset/tests.rs
  backend/crates/econ-graph-core/src/models/series_metadata.rs
  backend/migrations/2026-09-26-000100_datasets/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Adapter dataset contract
  backend/Cargo.toml
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/data/datasets/README.md
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/sources/bea.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/src/sources/imf.rs
  backend/crates/econ-graph-crawler/src/sources/static_catalogs.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/src/testkit/contract.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy, rust-audit

Use security's econ-graph-keycloak Secret; address self-review
  config/keycloak/README.md
  docker-compose.yml
  k8s/README.md
  k8s/manifests/keycloak-ingress.yaml
  k8s/manifests/keycloak/deployment.yaml
  k8s/manifests/keycloak/ingress.yaml
  k8s/manifests/keycloak/postgres.yaml
  scripts/deploy/create-keycloak-secret.sh
  scripts/deploy/deploy.sh
  scripts/keycloak/dev-token.sh
Due: none

Add global analysis roadmap
  docs/roadmap/global-analysis.md
Due: none

Match DS-1 component shape, allow source keys as external ids
  backend/crates/econ-graph-crawler/data/datasets/README.md
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Update the release plan row for the datasets table
  docs/roadmap/releases.md
Due: none

Mark the latestRevisionOnly/asOf item merged in the release roadmap
  docs/roadmap/releases.md
Due: none

Record batch fetch as release 1 item 27 in the release roadmap
  docs/roadmap/releases.md
Due: none

Run Core CI on stacked pull requests and cancel superseded runs
  .github/workflows/ci-core.yml
Due: none

Add seriesByExternalId query and EconomicSeries.latestObservation field
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/latest_observation_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/test_db.rs
  backend/crates/econ-graph-graphql/src/types.rs
  docs/roadmap/analysis-workspace.md
Due: rust-fmt, rust-clippy

Reject unknown keys in inline codes, require a decimal value measure, test dataset updates
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Add the v4.0.0 QA plan and the release-branch process
  docs/development/RELEASE_PROCESS.md
  docs/release/v4.0.0-qa.md
  docs/roadmap/releases.md
Due: none

Test the dataset key collision mapping, keep the missing-file test off the cache, codelist docs
  backend/crates/econ-graph-crawler/data/datasets/README.md
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Format the collision test
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Update the release plan row for the adapter contract
  docs/roadmap/releases.md
Due: none

Align exported series response types with their queries
  frontend/src/utils/graphql.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Restrict the user query to the caller's own record or an admin
  backend/crates/econ-graph-graphql/src/graphql/query.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
