Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

docs(roadmap): SEC financial data roadmap
  docs/roadmap/sec-financial-data.md
Due: none

Address final review: rollout wait, broader dev/QA users check, docs
  .github/workflows/ci-core.yml
  config/keycloak/README.md
  k8s/manifests/keycloak/deployment.yaml
  scripts/deploy/deploy.sh
  scripts/keycloak/check-no-dev-users-in-k8s.sh
Due: none

Fold the series charts into one SeriesChart with annotations
  frontend/src/__tests__/e2e-user-workflows.test.tsx
  frontend/src/components/charts/ChartCollaborationConnectedQuery.tsx
  frontend/src/components/charts/InteractiveChart.tsx
  frontend/src/components/charts/InteractiveChartWithCollaboration.tsx
  frontend/src/components/charts/SeriesChart.tsx
  frontend/src/components/charts/__tests__/ChartCollaborationConnectedQuery.test.tsx
  frontend/src/components/charts/__tests__/InteractiveChart.test.tsx
  frontend/src/components/charts/__tests__/InteractiveChartWithCollaboration.test.tsx
  frontend/src/components/charts/__tests__/SeriesChart.test.tsx
  frontend/src/components/charts/__tests__/seriesChartData.test.ts
  frontend/src/components/charts/seriesChartData.ts
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/__tests__/SeriesDetail.test.tsx
  frontend/src/setupTests.vitest.ts
  frontend/src/utils/__tests__/chartCollaborationUtils.test.ts
  frontend/src/utils/chartCollaborationUtils.ts
  frontend/src/utils/graphql.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix README wording on imported files
  config/keycloak/README.md
Due: none

Index series search with a weighted tsvector and pg_trgm
  backend/crates/econ-graph-core/src/models/search.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/search_service.rs
  backend/migrations/2026-09-26-000004_series_search/down.sql
  backend/migrations/2026-09-26-000004_series_search/up.sql
  docs/technical/FULLTEXT_SEARCH.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Reject empty measures without jsonb_array_length
  backend/crates/econ-graph-core/src/models/dataset/tests.rs
  backend/migrations/2026-09-26-000100_datasets/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Schedule fetches for discovered series that were never fetched
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Add the fine-grained role catalog and authorize()
  backend/crates/econ-graph-auth/src/bin/econ-graph-roles.rs
  backend/crates/econ-graph-auth/src/lib.rs
  backend/crates/econ-graph-auth/src/roles.rs
  backend/crates/econ-graph-graphql/src/graphql/context.rs
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
  backend/crates/econ-graph-graphql/src/graphql/types.rs
  backend/crates/econ-graph-graphql/src/imports.rs
  backend/crates/econ-graph-graphql/src/security/server.rs
Due: rust-fmt, rust-clippy

Expose datasets and series dimensions in GraphQL
  .github/workflows/ci-core.yml
  backend/Dockerfile
  backend/crates/econ-graph-backend/Cargo.toml
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/datasets.rs
  backend/crates/econ-graph-graphql/src/graphql/datasets_db_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  ci/docker/e2e/Dockerfile.optimized
  k8s/manifests/backend-deployment.yaml
Due: rust-fmt, rust-clippy

Add the release end-to-end stack: Playwright release project on Postgres 18, seeded from fixtures
  .github/workflows/release-e2e.yml
  .gitignore
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  docker-compose.release-e2e.yml
  frontend/playwright.config.ts
  frontend/playwright.mobile.config.ts
  frontend/playwright.release.config.ts
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/auth/sign-in.spec.ts
  frontend/tests/e2e/release/fixtures.ts
  frontend/tests/e2e/release/smoke.spec.ts
  frontend/vite.config.ts
  scripts/release-e2e.sh
Due: rust-fmt, rust-clippy, typescript-check

Commit schema.graphql and validate frontend GraphQL operations against it
  .gitattributes
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-graphql/README.md
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
  backend/crates/econ-graph-graphql/tests/schema_snapshot.rs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/graphql-operations.test.ts
  frontend/src/__tests__/graphqlOperationSkipList.ts
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Add complexity limit boundary tests
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
Due: rust-fmt, rust-clippy

Fix stale credential wording and escape newlines in Grafana login body
  k8s/README.md
  scripts/test-monitoring.sh
Due: none

Move resolvers from require_admin to fine-grained roles
  backend/crates/econ-graph-auth/src/roles.rs
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/context.rs
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/imports.rs
Due: rust-fmt, rust-clippy

Exclude copyright-restricted series from FRED discovery
  backend/crates/econ-graph-crawler/src/sources/fred.rs
Due: rust-fmt, rust-clippy

Use SchemaResources for the latest_observation dataloader lookup
  backend/crates/econ-graph-graphql/src/types.rs
Due: rust-fmt, rust-clippy

BEA with real table and line ids
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-core/src/models/crawl_queue/tests.rs
  backend/crates/econ-graph-crawler/data/bea_tables.csv
  backend/crates/econ-graph-crawler/data/datasets/bea.toml
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/policy.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/sources/bea.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-crawler/tests/fixtures/bea/dataset_list.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10101_a.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10101_q.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10105_a.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10105_q.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10106_a.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10106_q.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t20100_a.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t20100_q.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t20600_m.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t20804_m.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/regional_sagdp2n_geofips.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/regional_sagdp2n_line1.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/regional_sagdp2n_linecodes.json
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  docs/development/RELEASE_PROCESS.md
  docs/release/v4.0.0-qa.md
  docs/roadmap/global-analysis.md
  docs/roadmap/releases.md
Due: rust-fmt, rust-clippy

Remove fake country correlations
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-core/src/models/global_analysis.rs
  backend/crates/econ-graph-graphql/src/graphql/global_analysis.rs
  backend/crates/econ-graph-graphql/src/imports.rs
  backend/crates/econ-graph-services/src/services/global_analysis_service.rs
Due: rust-fmt, rust-clippy

Fix deploy.sh for a clean kind cluster
  scripts/deploy/build-images.sh
  scripts/deploy/deploy.sh
Due: none

Commit backend/Cargo.lock for reproducible builds
  .gitignore
  backend/.dockerignore
  backend/Cargo.lock
  backend/Dockerfile
Due: rust-audit

Delete known-bad SEC crawler code
  backend/crates/econ-graph-core/src/models/financial_statement.rs
  backend/crates/econ-graph-core/src/models/xbrl_taxonomy_schema.rs
  backend/crates/econ-graph-sec-crawler/README.md
  backend/crates/econ-graph-sec-crawler/scripts/enhanced_arelle_parser.py
  backend/crates/econ-graph-sec-crawler/scripts/simple_arelle_parser.py
  backend/crates/econ-graph-sec-crawler/src/bin/sec_crawler.rs
  backend/crates/econ-graph-sec-crawler/src/crawler.rs
  backend/crates/econ-graph-sec-crawler/src/dts_manager.rs
  backend/crates/econ-graph-sec-crawler/src/models.rs
  backend/crates/econ-graph-sec-crawler/src/storage.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
  backend/crates/econ-graph-sec-crawler/tests/xbrl_financial_integration_tests.rs
  scripts/test_arelle.py
Due: rust-fmt, rust-clippy

Fix release tag CI triggers and the always-green Docker smoke test
  .github/workflows/ci-core.yml
  .github/workflows/playwright-tests-comprehensive.yml
  .github/workflows/playwright-tests-deployed.yml
  .github/workflows/playwright-tests.yml
Due: none

Put the XBRL parser behind a cargo feature
  .github/workflows/ci-core.yml
  backend/README.md
  backend/crates/econ-graph-core/Cargo.toml
  backend/crates/econ-graph-core/src/models/mod.rs
  backend/crates/econ-graph-sec-crawler/Cargo.toml
  backend/crates/econ-graph-sec-crawler/README.md
  backend/crates/econ-graph-sec-crawler/src/bin/sec_crawler.rs
  backend/crates/econ-graph-sec-crawler/src/crawler.rs
  backend/crates/econ-graph-sec-crawler/src/lib.rs
  backend/crates/econ-graph-sec-crawler/src/models.rs
  backend/crates/econ-graph-sec-crawler/src/storage.rs
  backend/scripts/run-tests-optimized.sh
  docs/testing/XBRL_FINANCIAL_CI_INTEGRATION_TESTS.md
Due: rust-fmt, rust-clippy

Redact the database password before logging the connection URL
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/Cargo.toml
  backend/crates/econ-graph-core/src/database.rs
  backend/crates/econ-graph-core/src/lib.rs
  backend/crates/econ-graph-core/src/test_utils.rs
  backend/crates/econ-graph-core/tests/schema_validation_test.rs
Due: rust-fmt, rust-clippy

Add nightly Postgres backups, PV Retain policy, and a teardown safety prompt
  docs/deployment/POSTGRES_BACKUP_RESTORE.md
  k8s/manifests/postgres-backup-configmap.yaml
  k8s/manifests/postgres-backup-cronjob.yaml
  k8s/manifests/postgres-backup-pvc.yaml
  k8s/manifests/secret.yaml
  scripts/deploy/backup-postgres-now.sh
  scripts/deploy/deploy.sh
  scripts/deploy/protect-postgres-pv.sh
  scripts/deploy/restore-postgres-backup.sh
  scripts/deploy/setup-local-k8s.sh
  scripts/deploy/teardown.sh
Due: none

Replace FRED search-based discovery with a curated series list
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/data/fred_series.csv
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/tests/fixtures/fred/series_search_empty.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/series_search_page1.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/series_search_page2.json
Due: rust-fmt, rust-clippy

Add graceful shutdown to backend and a migration advisory lock
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/database.rs
Due: rust-fmt, rust-clippy

Route the sign-in callback to the frontend on the ingresses
  k8s/manifests/ingress.yaml
  k8s/manifests/ssl-ingress.yaml
  terraform/modules/ingress/main.tf
Due: none

Fail the dev/QA users check when grep cannot scan
  scripts/keycloak/check-no-dev-users-in-k8s.sh
Due: none

Sign in through Keycloak with oidc-client-ts in the frontend
  .github/workflows/ci-core.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/silent-callback.html
  frontend/src/App.tsx
  frontend/src/__tests__/e2e-user-workflows.test.tsx
  frontend/src/auth/ResetQueriesOnUserChange.tsx
  frontend/src/auth/__tests__/oidcConfig.test.ts
  frontend/src/auth/__tests__/silentCallback.test.ts
  frontend/src/auth/accessToken.ts
  frontend/src/auth/oidcConfig.ts
  frontend/src/auth/silentCallback.ts
  frontend/src/components/auth/LoginDialog.tsx
  frontend/src/components/auth/UserProfile.tsx
  frontend/src/components/auth/__tests__/LoginDialog.test.tsx
  frontend/src/components/auth/__tests__/UserProfile.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/contexts/__tests__/ThemeContext.test.tsx
  frontend/src/contexts/__tests__/oidcClientMessages.test.ts
  frontend/src/pages/AuthCallback.tsx
  frontend/src/pages/__tests__/AuthCallback.test.tsx
  frontend/src/setupTests.integration.ts
  frontend/src/setupTests.vitest.ts
  frontend/src/utils/graphql.ts
  frontend/src/vite-env.d.ts
  frontend/tests/e2e/authentication.spec.ts
  frontend/tests/e2e/comprehensive/complete-workflow.spec.ts
  frontend/tests/e2e/user-preferences.spec.ts
  frontend/vite.config.ts
  k8s/manifests/frontend-deployment.yaml
  k8s/manifests/ingress.yaml
  k8s/manifests/security-configmap.yaml
  k8s/manifests/ssl-ingress.yaml
  scripts/deploy/build-images.sh
  terraform/modules/ingress/main.tf
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Verify Keycloak access tokens in the backend
  backend/crates/econ-graph-auth/Cargo.toml
  backend/crates/econ-graph-auth/src/bearer.rs
  backend/crates/econ-graph-auth/src/lib.rs
  backend/crates/econ-graph-auth/src/oidc.rs
  backend/crates/econ-graph-auth/src/roles.rs
  backend/crates/econ-graph-auth/src/testkit.rs
  backend/crates/econ-graph-backend/Cargo.toml
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/models/user.rs
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/context.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  docker-compose.yml
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/network-policy.yaml
Due: rust-fmt, rust-clippy

Add Keycloak to the dev stack and k8s
  .github/workflows/ci-core.yml
  config/keycloak/README.md
  config/keycloak/dev/econ-graph-users-0.json
  config/keycloak/econ-graph-realm.json
  config/keycloak/qa/econ-graph-users-1.json
  docker-compose.qa-users.yml
  docker-compose.yml
  k8s/README.md
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/manifests/keycloak/deployment.yaml
  k8s/manifests/keycloak/ingress.yaml
  k8s/manifests/keycloak/postgres.yaml
  scripts/deploy/deploy.sh
  scripts/keycloak/check-no-dev-users-in-k8s.sh
  scripts/keycloak/dev-token.sh
  terraform/modules/ingress/main.tf
Due: none

Add the Keycloak CSP and OIDC_REQUIRED settings to the v4.0.0 QA plan
  docs/release/v4.0.0-qa.md
Due: none

Treat a key id missed by a throttled refetch as unavailable, not invalid
  backend/crates/econ-graph-auth/src/oidc.rs
Due: rust-fmt, rust-clippy

Define the fine-grained roles and staff composites in the Keycloak realm
  .github/workflows/ci-core.yml
  config/keycloak/README.md
  config/keycloak/dev/econ-graph-users-0.json
  config/keycloak/econ-graph-realm.json
  docker-compose.yml
  k8s/README.md
  k8s/manifests/keycloak/deployment.yaml
  k8s/manifests/keycloak/realm-import-job.yaml
  scripts/check-keycloak-roles
  scripts/deploy/deploy.sh
  scripts/keycloak/dev-token.sh
  scripts/keycloak/render-realm.sh
  scripts/keycloak/test-check-keycloak-roles.sh
  scripts/keycloak/test-render-realm.sh
  scripts/keycloak/testdata/check-roles/catalog.txt
  scripts/keycloak/testdata/check-roles/realm-admin-incomplete.json
  scripts/keycloak/testdata/check-roles/realm-default-has-staff-role.json
  scripts/keycloak/testdata/check-roles/realm-duplicate-role.json
  scripts/keycloak/testdata/check-roles/realm-extra-role.json
  scripts/keycloak/testdata/check-roles/realm-match.json
  scripts/keycloak/testdata/check-roles/realm-missing-role.json
  scripts/keycloak/testdata/check-roles/realm-unknown-composite.json
  scripts/keycloak/testdata/check-roles/realm-user-has-staff-role.json
Due: none

Fix CodeRabbit findings on Keycloak realm-as-code PR
  config/keycloak/README.md
  config/keycloak/dev/econ-graph-users-0.json
  docker-compose.yml
  k8s/manifests/keycloak/deployment.yaml
  scripts/keycloak/render-realm.sh
  scripts/keycloak/test-render-realm.sh
Due: none
