Repository jmalicki/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, github-actions-validate, docker-compose-validate, rust-audit, npm-audit

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  github-actions-validate: any of: ^\.github/workflows/.*\.yml$|^ci/workflows/.*\.yml$
  docker-compose-validate: any of: ^ci/docker/.*\.yml$|^docker-compose.*\.yml$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$

fix: resolve CI/CD failures by fixing Rust warnings and cleaning up orphaned workflows
  backend/crates/econ-graph-auth/src/auth/comprehensive_integration_tests.rs
  backend/crates/econ-graph-auth/src/auth/integration_tests.rs
  backend/crates/econ-graph-services/src/services/crawler/catalog_downloader.rs
  backend/crates/econ-graph-services/src/services/global_analysis_service.rs
  backend/crates/econ-graph-services/src/services/series_discovery/bls.rs
  backend/crates/econ-graph-services/src/services/series_discovery/census/mod.rs
  backend/crates/econ-graph-services/src/services/series_discovery/world_bank.rs
  personas/ai-developer-standards.md
Due: rust-fmt, rust-clippy

feat: implement Docker-based CI/CD with script delegation and simplified workflows
  .github/workflows/ci-simplified.yml
  ci/scripts/backend-build.sh
  ci/scripts/backend-test.sh
  ci/scripts/frontend-build.sh
  personas/releng-engineer.md
Due: github-actions-validate

feat: implement Phase 1 Week 1 of Global Analysis UI
  docs/README.md
  docs/technical/GLOBAL_ANALYSIS_API.md
  docs/technical/GLOBAL_ANALYSIS_ARCHITECTURE.md
  docs/technical/GLOBAL_ANALYSIS_FEATURES.md
  docs/technical/GLOBAL_ANALYSIS_SUMMARY.md
  docs/user-guides/GLOBAL_ANALYSIS_USER_GUIDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/global/CountryTooltip.tsx
  frontend/src/components/global/InteractiveWorldMap.tsx
  frontend/src/components/global/MapLegend.tsx
  frontend/src/components/global/WorldMapControls.tsx
  frontend/src/components/global/hooks/useCountryData.ts
  frontend/src/components/global/hooks/useWorldMap.ts
  frontend/src/contexts/GlobalAnalysisContext.tsx
  frontend/src/data/sampleCountryData.ts
  frontend/src/pages/GlobalAnalysis.tsx
  frontend/src/pages/GlobalAnalysisDemo.tsx
  frontend/src/types/globalAnalysis.ts
  frontend/tests/e2e/d3-visualization.spec.ts
  frontend/tests/e2e/global-analysis-accessibility.spec.ts
  frontend/tests/e2e/global-analysis-context.spec.ts
  frontend/tests/e2e/global-analysis-enhanced.spec.ts
  frontend/tests/e2e/global-analysis-performance.spec.ts
  personas/frontend-developer.md
  projects/frontend-developer-global-analysis-plan.md
Due: frontend-prettier, frontend-eslint, typescript-check, npm-audit

fix: resolve CI failures and enhance developer documentation
  AI_DEVELOPER_EXPECTATIONS.md
  CI_FAILURE_TROUBLESHOOTING.md
  RUST_DEVELOPMENT_BEST_PRACTICES.md
  backend/docs/DEVELOPER_GUIDE_DATABASE.md
  backend/src/services/global_analysis_service.rs
  backend/src/test_utils.rs
Due: rust-fmt, rust-clippy

security: comprehensive security assessment and engineer persona
  SECURITY_ASSESSMENT_REPORT.md
  personas/security-engineer.md
Due: none

Security assessment: Create comprehensive findings report and implementation plan
  COMPREHENSIVE_SECURITY_ASSESSMENT_REPORT.md
  FINAL_COMPREHENSIVE_SECURITY_ASSESSMENT_REPORT.md
  docs/projects/SECURITY_FINDINGS_REPORT.md
  docs/projects/SECURITY_IMPLEMENTATION_PLAN.md
  personas/security-engineer.md
Due: none

Security documentation: Add comprehensive secrets management approach
  .gitmodules
  docs/README.md
  docs/projects/SECURITY_FINDINGS_REPORT.md
  docs/projects/SECURITY_IMPLEMENTATION_PLAN.md
  docs/technical/SECRETS_MANAGEMENT.md
  personas/security-engineer.md
Due: none

Security fixes: Remove hardcoded secrets and fix CORS policy
  backend/src/auth/services.rs
  backend/src/config.rs
  backend/src/main.rs
Due: rust-fmt, rust-clippy

Security fix: Update axios to fix DoS vulnerability
  admin-frontend/package-lock.json
  admin-frontend/package.json
Due: none

Security fix: Enable Content Security Policy in Chart API service
  chart-api-service/src/server.js
  personas/security-engineer.md
Due: none

Update security engineer persona with GitHub security analysis knowledge
  personas/security-engineer.md
Due: none

Fix zlib vulnerability in backend Docker image
  backend/Dockerfile
Due: none

Add Docker base image vulnerability fix knowledge to security engineer persona
  personas/security-engineer.md
Due: none

Add comprehensive security fixes implementation summary
  SECURITY_FIXES_SUMMARY.md
Due: none

feat: Global Analysis UI - Phase 1 Week 1 Implementation (#59)
  docs/README.md
  docs/technical/GLOBAL_ANALYSIS_API.md
  docs/technical/GLOBAL_ANALYSIS_ARCHITECTURE.md
  docs/technical/GLOBAL_ANALYSIS_FEATURES.md
  docs/technical/GLOBAL_ANALYSIS_SUMMARY.md
  docs/user-guides/GLOBAL_ANALYSIS_USER_GUIDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/global/CountryTooltip.tsx
  frontend/src/components/global/InteractiveWorldMap.tsx
  frontend/src/components/global/MapLegend.tsx
  frontend/src/components/global/WorldMapControls.tsx
  frontend/src/components/global/hooks/useCountryData.ts
  frontend/src/components/global/hooks/useWorldMap.ts
  frontend/src/contexts/GlobalAnalysisContext.tsx
  frontend/src/data/sampleCountryData.ts
  frontend/src/pages/GlobalAnalysis.tsx
  frontend/src/pages/GlobalAnalysisDemo.tsx
  frontend/src/types/globalAnalysis.ts
  frontend/tests/e2e/d3-visualization.spec.ts
  frontend/tests/e2e/global-analysis-accessibility.spec.ts
  frontend/tests/e2e/global-analysis-context.spec.ts
  frontend/tests/e2e/global-analysis-enhanced.spec.ts
  frontend/tests/e2e/global-analysis-performance.spec.ts
  personas/frontend-developer.md
  projects/frontend-developer-global-analysis-plan.md
Due: frontend-prettier, frontend-eslint, typescript-check, npm-audit

Security Assessment: Comprehensive vulnerability analysis and implementation plan (#61)
  .gitmodules
  COMPREHENSIVE_SECURITY_ASSESSMENT_REPORT.md
  FINAL_COMPREHENSIVE_SECURITY_ASSESSMENT_REPORT.md
  SECURITY_ASSESSMENT_REPORT.md
  SECURITY_FIXES_SUMMARY.md
  admin-frontend/package-lock.json
  admin-frontend/package.json
  backend/Dockerfile
  backend/src/auth/services.rs
  backend/src/config.rs
  backend/src/main.rs
  chart-api-service/src/server.js
  docs/README.md
  docs/projects/SECURITY_FINDINGS_REPORT.md
  docs/projects/SECURITY_IMPLEMENTATION_PLAN.md
  docs/technical/SECRETS_MANAGEMENT.md
  personas/security-engineer.md
Due: rust-fmt, rust-clippy

fix: resolve frontend test failures and CI/CD issues
  frontend/package.json
  frontend/src/__mocks__/d3-array.js
  frontend/src/__mocks__/d3-geo.js
  frontend/src/__mocks__/d3-scale-chromatic.js
  frontend/src/__mocks__/d3-scale.js
  frontend/src/__mocks__/d3-selection.js
  frontend/src/__mocks__/d3-zoom.js
  frontend/src/__mocks__/d3.js
  frontend/src/api/chartApi.ts
  frontend/src/api/privateChartEndpoint.ts
  frontend/src/components/global/MapLegend.tsx
  frontend/src/components/global/WorldMapControls.tsx
  frontend/src/pages/GlobalAnalysisDemo.tsx
  frontend/src/routes/privateApiRoutes.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, npm-audit

docs: update releng engineer persona with CI/CD troubleshooting knowledge
  personas/releng-engineer.md
Due: none

fix: implement proper database test isolation for backend tests
  backend/crates/econ-graph-auth/src/auth/comprehensive_integration_tests.rs
  backend/crates/econ-graph-auth/src/auth/integration_tests.rs
  backend/crates/econ-graph-core/src/test_utils.rs
Due: rust-fmt, rust-clippy

fix: resolve CI/CD workflow YAML parsing issues
  .github/workflows/ci-core.yml
  .github/workflows/ci-experimental.yml
  .github/workflows/crawler-integration-test.yml
  .github/workflows/playwright-tests-comprehensive.yml
  .github/workflows/playwright-tests-deployed.yml
  .github/workflows/playwright-tests.yml
  .github/workflows/ramdisk-build-cache.yml
  .github/workflows/security.yml
  frontend/src/routes/privateApiRoutes.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, github-actions-validate

feat: separate frontend unit tests from integration tests
  frontend/package.json
  frontend/src/__tests__/integration/privateChartServer.test.js
Due: frontend-prettier, frontend-eslint, npm-audit

fix: add missing d3 mock files for frontend tests
  frontend/src/__mocks__/d3-array.js
  frontend/src/__mocks__/d3-geo.js
  frontend/src/__mocks__/d3-scale-chromatic.js
  frontend/src/__mocks__/d3-scale.js
  frontend/src/__mocks__/d3-selection.js
  frontend/src/__mocks__/d3-zoom.js
Due: frontend-prettier, frontend-eslint

fix: update cache fix script to handle quoted 'on:' key in workflows
  scripts/fix-github-workflow-cache.sh
Due: none

fix: implement proper database test isolation for backend tests (#63)
  backend/crates/econ-graph-auth/src/auth/comprehensive_integration_tests.rs
  backend/crates/econ-graph-auth/src/auth/integration_tests.rs
  backend/crates/econ-graph-core/src/test_utils.rs
  frontend/package.json
  frontend/src/__mocks__/d3-array.js
  frontend/src/__mocks__/d3-geo.js
  frontend/src/__mocks__/d3-scale-chromatic.js
  frontend/src/__mocks__/d3-scale.js
  frontend/src/__mocks__/d3-selection.js
  frontend/src/__mocks__/d3-zoom.js
  frontend/src/__tests__/integration/privateChartServer.test.js
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, npm-audit

fix: complete backend test isolation with database cleanup and unique emails
  .github/workflows/ci-core.yml
  .github/workflows/ci-experimental.yml
  .github/workflows/crawler-integration-test.yml
  .github/workflows/playwright-tests-comprehensive.yml
  .github/workflows/playwright-tests-deployed.yml
  .github/workflows/playwright-tests.yml
  .github/workflows/ramdisk-build-cache.yml
  .github/workflows/security.yml
  backend/crates/econ-graph-auth/src/auth/comprehensive_integration_tests.rs
  backend/crates/econ-graph-auth/src/auth/integration_tests.rs
  workflow-status-report.md
Due: rust-fmt, rust-clippy, github-actions-validate

Fix MCP server tests and CI configuration
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-mcp/src/mcp_server.rs
  backend/crates/econ-graph-services/src/services/queue_service.rs
  backend/tests/mcp_server_integration_tests.rs
Due: rust-fmt, rust-clippy, github-actions-validate

Fix queue service tests by correcting database cleanup
  backend/crates/econ-graph-core/src/test_utils.rs
  backend/crates/econ-graph-services/src/services/queue_service.rs
Due: rust-fmt, rust-clippy

Fix queue service tests - database cleanup working
  backend/crates/econ-graph-services/src/services/queue_service.rs
Due: rust-fmt, rust-clippy

Fix unused Result warnings in global_analysis_service.rs
  backend/crates/econ-graph-services/src/services/global_analysis_service.rs
Due: rust-fmt, rust-clippy

Move MCP server tests that call external chart API to integration tests
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-mcp/src/mcp_server.rs
  backend/tests/mcp_server_integration_tests.rs
Due: rust-fmt, rust-clippy, github-actions-validate

Fix database cleanup table name in test_utils.rs
  backend/crates/econ-graph-core/src/test_utils.rs
Due: rust-fmt, rust-clippy

Fix unused Result warnings in global_analysis_service.rs (#66)
  backend/crates/econ-graph-services/src/services/global_analysis_service.rs
Due: rust-fmt, rust-clippy

docs: add Pull Request Management and Single Concern Principle to AI developer standards
  personas/ai-developer-standards.md
Due: none

docs: add Pull Request Management and Single Concern Principle to AI developer standards (#67)
  personas/ai-developer-standards.md
Due: none

Fix database cleanup table name in test_utils.rs (#65)
  backend/crates/econ-graph-core/src/test_utils.rs
Due: rust-fmt, rust-clippy

fix: correct database cleanup table name and CI test configuration
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-core/src/test_utils.rs
Due: rust-fmt, rust-clippy, github-actions-validate

fix: remove database-requiring MCP tests from smoke tests
  .github/workflows/ci-core.yml
Due: github-actions-validate

fix: remove services module from smoke tests to prevent database connection attempts
  .github/workflows/ci-core.yml
Due: github-actions-validate

refactor: move database-free auth tests to smoke tests
  .github/workflows/ci-core.yml
Due: github-actions-validate
