Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

Document cross-section SQL rationale and cover query counts in both modes
  backend/crates/econ-graph-services/src/services/cross_section_service.rs
  backend/crates/econ-graph-services/src/services/cross_section_service/tests.rs
Due: rust-fmt, rust-clippy

Fix DATA-9 for post-merge dataset code schema and coverage test
  backend/Cargo.lock
  backend/crates/econ-graph-crawler/data/datasets/world_bank.toml
  backend/crates/econ-graph-crawler/src/coverage.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank/tests.rs
Due: rust-fmt, rust-clippy, rust-audit

fmt: fix extra blank line from merge conflict resolution
  backend/crates/econ-graph-crawler/src/sources/fred.rs
Due: rust-fmt, rust-clippy

docs: use BACKEND_PORT in the backend health check
  backend/README.md
Due: none

Use the transformed units in CSV export, not a hardcoded percent
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/__tests__/SeriesDetailCsvDownload.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Restore FHFA's prior enabled state after the discovery-to-fetch test
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Exclude synthetic legacy rows from asOf/originalOnly reads
  backend/crates/econ-graph-core/src/models/data_point.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
Due: rust-fmt, rust-clippy

BEA with real table and line ids
  backend/crates/econ-graph-crawler/data/bea_tables.csv
  backend/crates/econ-graph-crawler/data/datasets/bea.toml
  backend/crates/econ-graph-crawler/src/policy.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/sources/bea.rs
  backend/crates/econ-graph-crawler/tests/fixtures/bea/dataset_list.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10101_a.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10101_q.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10105_a.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10105_q.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10106_a.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t10106_q.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t20100_a.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t20100_q.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t20600_m.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_t20804_m.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/regional_sagdp2n_geofips.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/regional_sagdp2n_line1.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/regional_sagdp2n_linecodes.json
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  docs/data-sources/bea.md
  frontend/tests/e2e/release/fixtures.ts
Due: rust-fmt, rust-clippy, typescript-check

Schedule fetches for discovered series that were never fetched
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Series page loads every page of data
  frontend/eslint.config.js
  frontend/src/components/charts/SeriesChart.tsx
  frontend/src/components/charts/__tests__/SeriesChart.test.tsx
  frontend/src/hooks/__tests__/useSeriesDataPaging.test.tsx
  frontend/src/hooks/useSeriesData.ts
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/__tests__/SeriesDetail.test.tsx
  frontend/src/pages/__tests__/SeriesDetailCsvDownload.test.tsx
  frontend/src/pages/__tests__/fixtures/seriesAnnotations.ts
  frontend/src/pages/__tests__/fixtures/seriesDetail.ts
  frontend/src/utils/graphql.ts
  frontend/src/utils/transformations.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Exclude copyright-restricted series from FRED discovery
  backend/crates/econ-graph-crawler/src/sources/fred.rs
Due: rust-fmt, rust-clippy

fred: remove duplicate copyright-filter code and obsolete search test left by the main merge
  backend/crates/econ-graph-crawler/src/sources/fred.rs
Due: rust-fmt, rust-clippy

fred: fail discover on a transient skip instead of persisting a partial list
  backend/crates/econ-graph-crawler/src/sources/fred.rs
Due: rust-fmt, rust-clippy

Don't link empty-series dashboard cards to the series page
  frontend/src/components/dashboard/LatestValueCard.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

cargo fmt on world_bank.rs/tests.rs/coverage.rs
  backend/crates/econ-graph-crawler/src/coverage.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank/tests.rs
Due: rust-fmt, rust-clippy

Replace FRED search-based discovery with a curated series list
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/data/fred_series.csv
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/tests/fixtures/fred/series_search_empty.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/series_search_page1.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/series_search_page2.json
Due: rust-fmt, rust-clippy

BEA docs: suppressed cells become points with no value
  docs/data-sources/bea.md
Due: none

Drop docs/roadmap/releases.md edit (roadmaps live in Linear now, not in PRs)
  docs/roadmap/releases.md
Due: none

BLS: series list from a data file, batched requests, API key
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/data/bls_series.csv
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/tests/fixtures/bls/batch_mixed.json
  backend/crates/econ-graph-crawler/tests/fixtures/bls/surveys.json
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: rust-fmt, rust-clippy

FHFA: retire series the master CSV drops, restore roadmap doc to main
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  docs/roadmap/releases.md
Due: rust-fmt, rust-clippy

FHFA: fetch the HPI master CSV as dataset fhfa_hpi
  backend/Cargo.lock
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/data/datasets/fhfa.toml
  backend/crates/econ-graph-crawler/data/us_states.csv
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/error.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/README.md
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/hpi_ca_page1.json
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/hpi_ca_page2.json
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/hpi_master.csv
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/hpi_national.json
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  docs/technical/RATE_LIMIT_SOURCES.md
  frontend/tests/e2e/release/fixtures.ts
Due: rust-fmt, rust-clippy, typescript-check, rust-audit

Show the latest real values on the dashboard
  frontend/src/components/dashboard/LatestValueCard.tsx
  frontend/src/config/__tests__/dashboardSeries.test.ts
  frontend/src/config/dashboard-series.json
  frontend/src/config/dashboardSeries.ts
  frontend/src/hooks/useLatestObservation.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/cpiaucsl.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/empty_series.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/fedfunds.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/gdp.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/not_found.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/null_value.json
  frontend/src/test-utils/mocks/graphql-responses/get_series_latest_observation/unrate.json
  frontend/src/utils/__tests__/formatDecimal.test.ts
  frontend/src/utils/formatDecimal.ts
  frontend/tests/e2e/dashboard.spec.ts
  frontend/tests/e2e/release/crawl/allowlist.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix order-dependent scheduler test for World Bank fetch enablement
  backend/crates/econ-graph-crawler/src/scheduler.rs
Due: rust-fmt, rust-clippy

World Bank WDI fetch
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/data/datasets/world_bank.toml
  backend/crates/econ-graph-crawler/data/wdi_indicators.csv
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/coverage.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank/tests.rs
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/country_indicator.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/gdp_per_capita.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/indicator_single.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/indicators_page1.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/indicators_page2.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/inflation.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/population.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/topic_indicators.json
  frontend/tests/e2e/release/fixtures.ts
Due: rust-fmt, rust-clippy, typescript-check

Fix DS-6 DB test fixtures for main's hide-series-without-data filter
  backend/crates/econ-graph-graphql/src/graphql/datasets_db_tests.rs
Due: rust-fmt, rust-clippy

Expose datasets and series dimensions in GraphQL
  .github/workflows/ci-core.yml
  backend/Dockerfile
  backend/crates/econ-graph-backend/Cargo.toml
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/datasets.rs
  backend/crates/econ-graph-graphql/src/graphql/datasets_db_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  ci/docker/e2e/Dockerfile.optimized
  k8s/manifests/backend-deployment.yaml
Due: rust-fmt, rust-clippy

Store FRED observation vintages from ALFRED
  backend/crates/econ-graph-core/src/models/data_point.rs
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/policy.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/README.md
  backend/crates/econ-graph-crawler/tests/fixtures/fred/observations_gdp_e2e.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/observations_gdp_since_2026-04-28.json
  backend/crates/econ-graph-crawler/tests/soak.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
Due: rust-fmt, rust-clippy

Document crawler scheduler cadence for QA's seven-day run
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: none

Add CodeRabbit path filters for generated files and docs
  .coderabbit.yaml
Due: none

Register technical_analysis build flag for the compiled-out indicator module
  backend/flags/dev.json
  backend/flags/release.json
  config/flags/flags.flagd.json
  frontend/flags/dev.json
  frontend/flags/release.json
  frontend/src/utils/__tests__/technicalAnalysis.test.ts
  frontend/src/utils/technicalAnalysis.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Gate crawler static catalogs on the static_catalogs build flag
  .github/workflows/ci-core.yml
  backend/Cargo.lock
  backend/Dockerfile
  backend/crates/econ-graph-crawler-worker/Cargo.toml
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/README.md
  backend/crates/econ-graph-crawler/build.rs
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/src/sources/static_catalogs.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/flags/dev.json
  backend/flags/release.json
  config/flags/README.md
  config/flags/dev.flagd.json
  config/flags/flags.flagd.json
  docs/data-sources/README.md
  frontend/flags/dev.json
  frontend/flags/release.json
Due: rust-fmt, rust-clippy, rust-audit

REL-3: nothing fake check on the release build
  .github/workflows/ci-core.yml
  frontend/package.json
  frontend/scripts/__tests__/check-release-authenticity.test.ts
  frontend/scripts/check-release-authenticity.mjs
  frontend/scripts/nothing-fake-allowlist.json
  scripts/check-release-features.sh
Due: typescript-check, npm-audit

Add asOf to crossSection
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/cross_section.rs
  backend/crates/econ-graph-graphql/src/graphql/cross_section/tests.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-services/src/services/cross_section_service.rs
  backend/crates/econ-graph-services/src/services/cross_section_service/tests.rs
Due: rust-fmt, rust-clippy

World map on real data
  frontend/src/__tests__/graphqlOperationSkipList.ts
  frontend/src/components/global/CountryTooltip.tsx
  frontend/src/components/global/GlobalEconomicNetworkMap.tsx
  frontend/src/components/global/InteractiveWorldMap.tsx
  frontend/src/components/global/MapLegend.tsx
  frontend/src/components/global/MapValuesTable.tsx
  frontend/src/components/global/WorldMapControls.tsx
  frontend/src/components/global/WorldMapTab.tsx
  frontend/src/components/global/__tests__/InteractiveWorldMap.error.test.tsx
  frontend/src/components/global/__tests__/WorldMapTab.test.tsx
  frontend/src/components/global/__tests__/mapFormat.test.ts
  frontend/src/components/global/__tests__/worldAtlas.test.tsx
  frontend/src/components/global/hooks/__tests__/useCountryData.test.ts
  frontend/src/components/global/hooks/__tests__/useWorldMap.test.ts
  frontend/src/components/global/hooks/__tests__/useWorldMapData.test.ts
  frontend/src/components/global/hooks/useCountryData.ts
  frontend/src/components/global/hooks/useWorldMap.ts
  frontend/src/components/global/hooks/useWorldMapData.ts
  frontend/src/components/global/mapFormat.ts
  frontend/src/components/global/worldAtlas.ts
  frontend/src/contexts/GlobalAnalysisContext.tsx
  frontend/src/data/sampleCountryData.ts
  frontend/src/pages/GlobalAnalysis.tsx
  frontend/src/pages/GlobalAnalysisDemo.tsx
  frontend/src/utils/graphql.ts
  frontend/tests/e2e/d3-visualization.spec.ts
  frontend/tests/e2e/global-analysis/global-analysis-accessibility.spec.ts
  frontend/tests/e2e/global-analysis/global-analysis-context.spec.ts
  frontend/tests/e2e/global-analysis/global-analysis-enhanced.spec.ts
  frontend/tests/e2e/global-analysis/global-analysis-performance.spec.ts
  frontend/tests/e2e/global-analysis/global-analysis.spec.ts
  frontend/tests/e2e/global-analysis/world-atlas.spec.ts
  frontend/tests/e2e/global-analysis/world-map.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Document dataset test helpers
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/persist/stable_id_tests.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
