Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

docs: correct backend command directories and startup prerequisites
  backend/crates/econ-graph-services/README.md
Due: none

docs: correct backend command directories and startup prerequisites
  backend/README.md
Due: none

docs: name the current frontend test framework in product summary
  docs/business/PRODUCT_SUMMARY_2025.md
Due: none

Describe readiness, scaling, and testing without guarantees
  README.md
  docs/business/INVESTOR_PITCH.md
  docs/business/PRODUCT_SUMMARY_2025.md
Due: none

Restore the staff-set gate on user admin mutations
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
Due: rust-fmt, rust-clippy

Make chart sharing atomic and enforce unique collaborator grants (#292)
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
  backend/migrations/2026-09-30-000100_unique_chart_collaborators/down.sql
  backend/migrations/2026-09-30-000100_unique_chart_collaborators/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Fail Census variable discovery on a missing, non-string or blank label
  backend/crates/econ-graph-crawler/src/sources/census.rs
Due: rust-fmt, rust-clippy

Give series stable ids derived from their natural key
  backend/Cargo.lock
  backend/Cargo.toml
  backend/crates/econ-graph-core/src/models/economic_series.rs
  backend/crates/econ-graph-core/src/models/series_metadata.rs
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/persist/stable_id_tests.rs
  backend/crates/econ-graph-crawler/src/series_id.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/testkit/mod.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/migrations/2026-09-26-233000_stable_seed_series_ids/down.sql
  backend/migrations/2026-09-26-233000_stable_seed_series_ids/up.sql
Due: rust-fmt, rust-clippy, rust-audit, migration-date-order-check

Fix accessibility defects exposed by frontend audits
  admin-frontend/src/App.tsx
  admin-frontend/src/pages/CrawlerDashboard.tsx
  admin-frontend/src/pages/auth/LoginPage.tsx
  docs/technical/accessibility-ci.md
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialExport.tsx
  frontend/src/components/financial/FinancialMobile.tsx
  frontend/src/components/financial/__tests__/FinancialExport.test.tsx
  frontend/src/pages/About.tsx
  frontend/src/pages/PrivacyPolicy.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

style(crawler): format complete-catalog lease regression
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Add crossSection query over dataset dimensions
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/cross_section.rs
  backend/crates/econ-graph-graphql/src/graphql/cross_section/tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-services/src/lib.rs
  backend/crates/econ-graph-services/src/services/cross_section_service.rs
  backend/crates/econ-graph-services/src/services/cross_section_service/tests.rs
  backend/crates/econ-graph-services/src/services/mod.rs
  docs/api/GRAPHQL_API.md
Due: rust-fmt, rust-clippy

test: remove unused React import from admin accessibility audit
  admin-frontend/src/__tests__/accessibility/App.accessibility.test.tsx
Due: none

Remove unused React import from admin accessibility test
  admin-frontend/src/__tests__/accessibility/App.accessibility.test.tsx
Due: none

fix(crawler): include fenced persistence in attempt timing
  backend/crates/econ-graph-crawler/src/worker.rs
Due: rust-fmt, rust-clippy

docs: remove drifting code count from demo summary
  demo-tools/PROFESSIONAL_DEMO_SUMMARY.md
Due: none

test: verify strict CSV dates and latest displayed observation
  frontend/tests/e2e/release/series-ui/csv-download.spec.ts
Due: typescript-check

docs: remove remaining unsupported test counts and latency claims
  docs/business/PRODUCT_SUMMARY_2025.md
Due: none

docs: remove remaining unsupported test counts and latency claims
  docs/business/INVESTOR_PITCH.md
Due: none

style: apply rustfmt to crawler timing fallback
  backend/crates/econ-graph-crawler/src/worker.rs
Due: rust-fmt, rust-clippy

docs: isolate destructive database tests from local application data
  backend/README.md
  backend/crates/econ-graph-services/README.md
Due: none

Fix financial button layout and guard keyboard focus in Chromium
  .github/workflows/accessibility-tests.yml
  docs/technical/accessibility-ci.md
  frontend/package.json
  frontend/playwright.financial-accessibility.config.ts
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialExport.tsx
  frontend/src/components/financial/FinancialMobile.tsx
  frontend/src/components/financial/financial-selection.css
  frontend/tests/accessibility/financial-selection.spec.ts
  frontend/tests/accessibility/fixtures/financial.html
  frontend/tests/accessibility/fixtures/financial.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

test: maintain public and admin visual layout checks in CI
  .github/workflows/visual-layout.yml
  .gitignore
  frontend/package.json
  frontend/playwright.layout.config.ts
  frontend/tests/layout/README.md
  frontend/tests/layout/admin.spec.ts
  frontend/tests/layout/fixtures.ts
  frontend/tests/layout/fonts/LICENSE
  frontend/tests/layout/fonts/roboto-latin-300-normal.woff2
  frontend/tests/layout/fonts/roboto-latin-400-normal.woff2
  frontend/tests/layout/fonts/roboto-latin-500-normal.woff2
  frontend/tests/layout/fonts/roboto-latin-700-normal.woff2
  frontend/tests/layout/public.spec.ts
Due: typescript-check, npm-audit

Keep financial selection surfaces readable in dark mode
  docs/technical/accessibility-ci.md
  frontend/src/components/financial/financial-selection.css
  frontend/tests/accessibility/financial-selection.spec.ts
Due: frontend-prettier, typescript-check

fix: preserve cost maintenance script executable modes
  scripts/codebase-stats-corrected.sh
  scripts/update-cost-analysis.sh
Due: none

fix: preserve complete development documentation during integration
  docs/development/VIBE_CODING.md
Due: none

Refresh cost analysis after documentation restoration
  data/cost-analysis.json
  docs/archive/generated/development-costs/analysis.md
Due: none

Use Diesel query builder for dataset_ids instead of raw SQL
  backend/crates/econ-graph-crawler/src/persist.rs
Due: rust-fmt, rust-clippy

Adapter dataset contract
  backend/Cargo.lock
  backend/Cargo.toml
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/data/datasets/README.md
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/persist/stable_id_tests.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/sources/bea.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/src/sources/static_catalogs.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/src/testkit/contract.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy, rust-audit

Regenerate schema.graphql after merging main
  backend/crates/econ-graph-graphql/schema.graphql
Due: none

Address Opus review: batch-size consistency for dataset_source_loader, CI comment
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
Due: rust-fmt, rust-clippy

Declare Census BDS as a dimensioned dataset
  backend/crates/econ-graph-crawler/data/datasets/census.toml
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/persist/stable_id_tests.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  frontend/tests/e2e/release/fixtures.ts
Due: rust-fmt, rust-clippy, typescript-check

Update test fixtures for the new dataset/dimension columns on economic_series
  backend/crates/econ-graph-graphql/src/graphql/query.rs
Due: rust-fmt, rust-clippy

Hide series and sources with no data points
  backend/Cargo.lock
  backend/crates/econ-graph-graphql/Cargo.toml
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/search_service.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
Due: rust-fmt, rust-clippy, rust-audit

Fix cost calculations and retire AI development savings promotion (#296)
  .github/workflows/update-cost-analysis.yml
  README.md
  data/README.md
  data/cost-analysis.json
  demo-tools/PROFESSIONAL_DEMO_SUMMARY.md
  docs/README.md
  docs/archive/generated/development-costs/analysis.md
  docs/business/COST_ASSUMPTIONS_AND_PRODUCTIVITY_ANALYSIS.md
  docs/business/INVESTOR_PITCH.md
  docs/business/PRODUCT_SUMMARY_2025.md
  docs/ci/COST_ANALYSIS_AUTOMATION.md
  docs/development/VIBE_CODING.md
  docs/roadmap/README.md
  scripts/codebase-stats-corrected.sh
  scripts/codebase_stats.py
  scripts/cost_analysis.py
  scripts/tests/test_cost_analysis.py
  scripts/update-cost-analysis.sh
  scripts/webhook-cost-update.py
Due: none

fix(crawler): preserve dataset fields in lease regressions
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Declare FRED and BLS datasets
  backend/crates/econ-graph-crawler/data/datasets/bls.toml
  backend/crates/econ-graph-crawler/data/datasets/fred.toml
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: rust-fmt, rust-clippy

Declare Census BDS as a dimensioned dataset
  backend/crates/econ-graph-crawler/data/datasets/census.toml
  backend/crates/econ-graph-crawler/src/persist/stable_id_tests.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  frontend/tests/e2e/release/fixtures.ts
Due: rust-fmt, rust-clippy, typescript-check

fix(crawler): restore the missing-quarter row in the e2e GDP fixture
  backend/crates/econ-graph-crawler/tests/fixtures/fred/README.md
  backend/crates/econ-graph-crawler/tests/fixtures/fred/observations_gdp_e2e.json
Due: none

fix(crawler): fence result persistence with the current queue lease (#294)
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy
