Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

Fetch the Census state list from the source; seed reference codes with a recorded SQL migration
  backend/Dockerfile
  backend/crates/econ-graph-backend/Cargo.toml
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/models/dataset.rs
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/data/bls_series.csv
  backend/crates/econ-graph-crawler/data/datasets/README.md
  backend/crates/econ-graph-crawler/data/datasets/census.toml
  backend/crates/econ-graph-crawler/data/datasets/fhfa.toml
  backend/crates/econ-graph-crawler/data/us_states.csv
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/coverage.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/reference_file.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/tests/fixtures/census/README.md
  backend/crates/econ-graph-crawler/tests/fixtures/census/state.txt
  backend/crates/econ-graph-graphql/src/graphql/datasets.rs
  backend/migrations/2026-10-02-000200_drop_us_states_codelist/down.sql
  backend/migrations/2026-10-02-000200_drop_us_states_codelist/up.sql
  backend/migrations/2026-10-02-000250_seed_reference_codes/down.sql
  backend/migrations/2026-10-02-000250_seed_reference_codes/up.sql
  ci/docker/e2e/Dockerfile.optimized
  docs/data-sources/census-bds.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  k8s/manifests/backend-deployment.yaml
Due: rust-fmt, rust-clippy, migration-date-order-check

Refuse oversize /graphql request bodies
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Count BLS's reference files right in the timeout doc
  backend/crates/econ-graph-crawler/src/http.rs
Due: rust-fmt, rust-clippy

Check user-admin permissions before taking a DB connection
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
Due: rust-fmt, rust-clippy

Apply Fable review nits to FHFA place labels and merge no-op check
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
Due: rust-fmt, rust-clippy

Fetch BEA table titles from BEA's own reference data
  backend/crates/econ-graph-crawler/data/bea_tables.csv
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/sources/bea.rs
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_table_titles.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_table_titles_t10105.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/regional_table_titles.json
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  docs/data-sources/bea.md
  frontend/tests/e2e/release/fixtures.ts
Due: rust-fmt, rust-clippy, typescript-check

Seed BEA table titles without leaking the UserID key
  backend/crates/econ-graph-crawler/src/sources/bea.rs
Due: rust-fmt, rust-clippy

FHFA: label every place_id from the HPI master file
  backend/crates/econ-graph-crawler/data/datasets/fhfa.toml
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
Due: rust-fmt, rust-clippy

Refuse copyright-restricted FRED series in fetch, not just discovery
  backend/crates/econ-graph-crawler/src/sources/fred.rs
Due: rust-fmt, rust-clippy

Fetch World Bank indicator names and descriptions from the source API
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/data/datasets/world_bank.toml
  backend/crates/econ-graph-crawler/data/wdi_indicators.csv
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank/tests.rs
  docs/data-sources/world-bank.md
Due: rust-fmt, rust-clippy

Enable BEA and World Bank crawling on a fresh v4.0 install
  backend/crates/econ-graph-core/src/models/data_source.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/persist/release_sources_tests.rs
  backend/migrations/2026-10-02-000500_enable_r1_data_sources/down.sql
  backend/migrations/2026-10-02-000500_enable_r1_data_sources/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Describe BLS series from BLS's own series files, not a hand-typed CSV
  backend/crates/econ-graph-crawler/data/bls_series.csv
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/reference_file.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/tests/fixtures/bls/series/README.md
  backend/crates/econ-graph-crawler/tests/fixtures/bls/series/ce.series
  backend/crates/econ-graph-crawler/tests/fixtures/bls/series/cu.series
  backend/crates/econ-graph-crawler/tests/fixtures/bls/series/la.series
  backend/crates/econ-graph-crawler/tests/fixtures/bls/series/ln.series
  backend/migrations/2026-10-02-000300_reference_file_cache_payload/down.sql
  backend/migrations/2026-10-02-000300_reference_file_cache_payload/up.sql
  docs/data-sources/bls.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  frontend/tests/e2e/release/fixtures.ts
Due: rust-fmt, rust-clippy, typescript-check, migration-date-order-check

Fix release/v4.0 build: keep one dataset_dimension_codes
  backend/crates/econ-graph-crawler/src/persist.rs
Due: rust-fmt, rust-clippy

fmt: remove stray blank line from merge resolution
  backend/crates/econ-graph-crawler/src/persist.rs
Due: rust-fmt, rust-clippy

Fix: cache DB-reloaded titles before propagating a failed refresh
  backend/crates/econ-graph-crawler/src/sources/bea.rs
Due: rust-fmt, rust-clippy

Fix merged regression test to use the CodeList-based refresh_table_titles
  backend/crates/econ-graph-crawler/src/sources/bea.rs
Due: rust-fmt, rust-clippy

docs: reword two comments left stale by the DB-reload fix
  backend/crates/econ-graph-crawler/src/sources/bea.rs
Due: rust-fmt, rust-clippy

Update generated cost analysis from validated source inputs
  data/cost-analysis.json
  docs/archive/generated/development-costs/analysis.md
Due: none

fix(search): preserve raw service frequency filters
  backend/crates/econ-graph-services/src/services/mod.rs
  backend/crates/econ-graph-services/src/services/search_service.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
Due: rust-fmt, rust-clippy

fix(ci): accept the skipped alternate backend build
  .github/workflows/ci-core.yml
Due: none

fix(ci): restore working smoke and quality checks
  .cursor/.agent-tools/372d6a27-0ad1-4c21-9b27-0dc632185d4f.txt
  .cursor/.agent-tools/48bb0fc0-abab-486c-8b1f-f02c0bedecc6.txt
  .cursor/.agent-tools/4ef66702-3557-4b8d-a246-9d8829f98860.txt
  .cursor/.agent-tools/533c19ad-ea79-4ed2-82f3-fa655d65c734.txt
  .cursor/.agent-tools/71736b5c-8ada-4061-b6c5-d857ed52c1c3.txt
  .cursor/.agent-tools/a0799b2b-9585-48bc-885c-49dae91faa1c.txt
  .cursor/.agent-tools/a23126af-51aa-4cf3-b34c-a3bae3dc0bc8.txt
  .cursor/.agent-tools/b58c3469-5e6a-4a03-8fe1-10e183168d29.txt
  .cursor/.agent-tools/c1faab0e-c9df-40ce-a706-da0422c8a6b8.txt
  .cursor/.agent-tools/c6e74ede-dcff-4c68-af65-64e7dbab7691.txt
  .cursor/.agent-tools/cc7bb8dd-0b7a-48f6-9916-04d87d52c597.txt
  .cursor/.agent-tools/ea4824f6-b58b-4b46-8457-b96845cae55a.txt
  .cursor/.agent-tools/f5a3208f-5619-41f9-9fbb-bf720a97466c.txt
  .cursor/.agent-tools/ff26cc98-8ca4-441f-bcb4-e83a17e01897.txt
  .github/workflows/ci-core.yml
  .gitignore
  .pre-commit-config.yaml
  frontend/eslint.config.js
  frontend/package-lock.json
Due: npm-audit

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
