Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

Release spec: sign-in and annotation privacy through the UI
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/auth/helpers.ts
  frontend/tests/e2e/release/auth/sign-in.spec.ts
Due: typescript-check

Restore the release plan to main's version
  docs/roadmap/releases.md
Due: none

Bundle the world map outline instead of fetching it from jsDelivr
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/global/GlobalEconomicNetworkMap.tsx
  frontend/src/components/global/InteractiveWorldMap.tsx
  frontend/src/components/global/__tests__/InteractiveWorldMap.error.test.tsx
  frontend/src/components/global/__tests__/worldAtlas.test.tsx
  frontend/src/components/global/hooks/useWorldMap.ts
  frontend/src/components/global/worldAtlas.ts
  frontend/tests/e2e/d3-visualization.spec.ts
  frontend/tests/e2e/global-analysis/world-atlas.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Release journey suite: deployed-URL mode, cross-area journey, every-control crawl
  config/keycloak/README.md
  config/keycloak/dev/econ-graph-users-0.json
  frontend/playwright.release.config.ts
  frontend/src/components/charts/SeriesChart.tsx
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/auth/helpers.ts
  frontend/tests/e2e/release/auth/sign-in.spec.ts
  frontend/tests/e2e/release/crawl/allowlist.ts
  frontend/tests/e2e/release/crawl/controls.ts
  frontend/tests/e2e/release/crawl/every-control.spec.ts
  frontend/tests/e2e/release/env.ts
  frontend/tests/e2e/release/fixtures.ts
  frontend/tests/e2e/release/journey.spec.ts
  frontend/tests/e2e/release/smoke.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix world map labels: world-atlas uses properties.name, not properties.NAME
  frontend/src/components/global/InteractiveWorldMap.tsx
  frontend/src/components/global/__tests__/worldAtlas.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Crawl /global now that MAP-3 bundles the world outline
  frontend/tests/e2e/release/crawl/allowlist.ts
  frontend/tests/e2e/release/crawl/every-control.spec.ts
Due: typescript-check

Drop cdn.jsdelivr.net from the CSP script-src
  k8s/manifests/security-configmap.yaml
  k8s/manifests/ssl-ingress.yaml
Due: none

Check navigations that return to the same URL for dropped parameters
  frontend/tests/e2e/release/crawl/controls.ts
Due: typescript-check

UI-10: release e2e specs for the series page
  config/keycloak/README.md
  config/keycloak/dev/econ-graph-users-0.json
  frontend/tests/e2e/release/env.ts
  frontend/tests/e2e/release/series-ui/annotations.spec.ts
  frontend/tests/e2e/release/series-ui/csv-download.spec.ts
  frontend/tests/e2e/release/series-ui/dashboard.spec.ts
  frontend/tests/e2e/release/series-ui/search-and-open.spec.ts
  frontend/tests/e2e/release/series-ui/transformations.spec.ts
Due: typescript-check

cargo fmt
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Address CodeRabbit review: assert real values, not just headers
  frontend/tests/e2e/release/fixtures.ts
  frontend/tests/e2e/release/series-ui/csv-download.spec.ts
  frontend/tests/e2e/release/series-ui/transformations.spec.ts
Due: typescript-check

Also drop the query string and fragment when redacting a database URL
  backend/crates/econ-graph-core/src/database.rs
Due: rust-fmt, rust-clippy

UI-10: release e2e specs for the series page
  config/keycloak/README.md
  config/keycloak/dev/econ-graph-users-0.json
  frontend/tests/e2e/release/env.ts
  frontend/tests/e2e/release/fixtures.ts
  frontend/tests/e2e/release/series-ui/annotations.spec.ts
  frontend/tests/e2e/release/series-ui/csv-download.spec.ts
  frontend/tests/e2e/release/series-ui/dashboard.spec.ts
  frontend/tests/e2e/release/series-ui/search-and-open.spec.ts
  frontend/tests/e2e/release/series-ui/transformations.spec.ts
Due: typescript-check

Redact the database password before logging the connection URL
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/Cargo.toml
  backend/crates/econ-graph-core/src/database.rs
  backend/crates/econ-graph-core/src/lib.rs
  backend/crates/econ-graph-core/src/test_utils.rs
  backend/crates/econ-graph-core/tests/schema_validation_test.rs
Due: rust-fmt, rust-clippy

Harden Grafana login in test-monitoring.sh per CodeRabbit review
  scripts/test-monitoring.sh
Due: none

Fail on a partial base64 decode of the Grafana admin password
  scripts/test-monitoring.sh
Due: none

Move credentials out of the k8s manifests
  docs/deployment/DEPLOYMENT_RESTART.md
  docs/deployment/K8S_RESTART_COMMANDS.md
  docs/deployment/KUBERNETES_DEPLOYMENT.md
  docs/security/DEPLOYMENT_GUIDE.md
  k8s/README.md
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/configmap.yaml
  k8s/manifests/crawler-worker.yaml
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/manifests/postgres-deployment.yaml
  k8s/manifests/postgres-init.yaml
  k8s/manifests/secret.yaml
  k8s/monitoring/grafana-statefulset.yaml
  k8s/monitoring/letsencrypt-cloudflare-dns01.yaml
  scripts/deploy/create-secrets.sh
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/setup-local-k8s.sh
  scripts/deploy/setup-port-forwarding.sh
  scripts/deploy/teardown.sh
  scripts/test-monitoring.sh
Due: none

Fix dead source-filter links on sidebar and data sources page
  frontend/src/pages/DataSources.tsx
  frontend/src/pages/SeriesExplorer.tsx
  frontend/src/pages/__tests__/DataSources.test.tsx
  frontend/src/pages/__tests__/SeriesExplorer.test.tsx
  frontend/tests/e2e/release/crawl/allowlist.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Download the shown series points as CSV
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/__tests__/SeriesDetailCsvDownload.test.tsx
  frontend/src/utils/__tests__/seriesCsv.test.ts
  frontend/src/utils/seriesCsv.ts
  frontend/tests/e2e/release/journey.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Static checks for dead navigation targets and handler-less buttons
  frontend/eslint-rules/no-dead-button.js
  frontend/eslint-rules/no-dead-button.test.ts
  frontend/eslint.config.js
  frontend/src/__tests__/navigation-targets.test.ts
  frontend/src/components/financial/FinancialAlerts.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialExport.tsx
  frontend/src/components/financial/FinancialMobile.tsx
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/TrendAnalysisChart.tsx
  frontend/src/components/global/GlobalEconomicNetworkMap.tsx
  frontend/src/components/global/MultiCountryDashboard.tsx
  frontend/src/pages/Dashboard.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Page seriesData to the end and compute a real log difference
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/query/series_data_tests.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
  docs/api/GRAPHQL_API.md
Due: rust-fmt, rust-clippy

Address CodeRabbit review on the static checks
  frontend/eslint-rules/no-dead-button.js
  frontend/eslint-rules/no-dead-button.test.ts
  frontend/src/__tests__/navigation-targets.test.ts
  frontend/src/components/financial/FinancialAlerts.tsx
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/FinancialExport.tsx
  frontend/src/components/financial/FinancialMobile.tsx
  frontend/src/components/financial/FinancialStatementViewer.tsx
  frontend/src/components/financial/TrendAnalysisChart.tsx
  frontend/src/components/global/GlobalEconomicNetworkMap.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Retire the in-house login
  .github/workflows/ci-core.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/playwright-tests-comprehensive.yml
  backend/Cargo.toml
  backend/README.md
  backend/crates/econ-graph-auth/Cargo.toml
  backend/crates/econ-graph-auth/src/auth/comprehensive_integration_tests.rs
  backend/crates/econ-graph-auth/src/auth/handlers.rs
  backend/crates/econ-graph-auth/src/auth/integration_tests.rs
  backend/crates/econ-graph-auth/src/auth/middleware.rs
  backend/crates/econ-graph-auth/src/auth/mod.rs
  backend/crates/econ-graph-auth/src/auth/routes.rs
  backend/crates/econ-graph-auth/src/auth/services.rs
  backend/crates/econ-graph-auth/src/auth/simple_test.rs
  backend/crates/econ-graph-auth/src/lib.rs
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/Cargo.toml
  backend/crates/econ-graph-core/src/auth_models.rs
  backend/crates/econ-graph-core/src/config.rs
  backend/crates/econ-graph-core/src/error.rs
  backend/crates/econ-graph-core/src/lib.rs
  backend/crates/econ-graph-core/src/models/admin.rs
  backend/crates/econ-graph-core/src/models/mod.rs
  backend/crates/econ-graph-core/src/models/user.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-graphql/Cargo.toml
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/annotation_visibility_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/context.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/imports.rs
  backend/crates/econ-graph-graphql/src/types.rs
  frontend/playwright.release.config.ts
  frontend/src/utils/graphql.ts
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/configmap.yaml
  scripts/debug-backend-startup.sh
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit

Depend the monitoring Ingress on its auth Secret too
  terraform/modules/ingress/main.tf
Due: none

Remove committed credentials from Terraform
  terraform/README.md
  terraform/main.tf
  terraform/modules/admin-ingress/variables.tf
  terraform/modules/ingress/main.tf
  terraform/modules/postgresql/main.tf
  terraform/postgres-only.tf
  terraform/terraform.tfvars.example
Due: none

cargo fmt: multi-line assert! in query_one_over_the_complexity_limit_is_refused
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
Due: rust-fmt, rust-clippy

Rate-limit /graphql at the ingress
  docs/deployment/DEPLOYMENT_RESTART.md
  docs/deployment/K8S_RESTART_COMMANDS.md
  k8s/README.md
  k8s/manifests/graphql-ingress.yaml
  k8s/manifests/ingress.yaml
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/teardown.sh
Due: none

Fix release tag CI triggers and the always-green Docker smoke test
  .github/workflows/ci-core.yml
  .github/workflows/playwright-tests-comprehensive.yml
  .github/workflows/playwright-tests-deployed.yml
  .github/workflows/playwright-tests.yml
Due: none

CodeRabbit: cover /playground in both states through build_routes()
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Cut the Core CI queue: cancel superseded PR runs, test stacked PRs, skip frontend jobs on backend-only PRs
  .github/workflows/README.md
  .github/workflows/ci-core.yml
Due: none

Remove deprecated isVisible alias from annotation mutations
  backend/crates/econ-graph-core/src/enums.rs
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/annotation_visibility_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/imports.rs
  backend/crates/econ-graph-graphql/src/types.rs
Due: rust-fmt, rust-clippy

Point dead roadmap links at the Linear design records
  docs/roadmap/global-analysis.md
  docs/roadmap/releases.md
Due: none

Clean up the frontend pages nobody owned
  frontend/src/App.tsx
  frontend/src/__tests__/navigation-targets.test.ts
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/pages/About.tsx
  frontend/src/pages/PrivacyPolicy.tsx
  frontend/src/pages/UserDataDeletion.tsx
  frontend/tests/e2e/release/crawl/every-control.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
