Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

graphql: assert the exact auth error per caller in triggerCrawl test
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
Due: rust-fmt, rust-clippy

Write XBRL cache entries atomically; don't cache Arelle fallbacks
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Remove the temporary XBRL cache file when its write fails
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
Due: rust-fmt, rust-clippy

Pin install-action and the cargo-audit/cargo-deny versions
  .github/workflows/ci-core.yml
Due: none

Build the MCP job's backend in debug, together with its test
  .github/workflows/ci-core.yml
Due: none

Build CI dev profiles with line-tables-only debuginfo
  .github/workflows/ci-core.yml
Due: none

Build every backend target once in the build-cache job
  .github/workflows/ci-core.yml
Due: none

Turn off incremental compilation in CI
  .github/workflows/ci-core.yml
Due: none

Require admin for the triggerCrawl mutation (#170)
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
Due: rust-fmt, rust-clippy

Run backend tests on pushes to main (#166)
  .github/workflows/ci-core.yml
Due: none

Let cargo pick its job count from the machine
  backend/.cargo/config.toml
Due: none

Use prebuilt CI tools and a Cargo.lock-keyed Rust cache (#168)
  .github/workflows/ci-core.yml
Due: none

Fix SEC crawler file-size parsing and XBRL cache hits dropping data (#167)
  backend/crates/econ-graph-sec-crawler/src/utils.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Limit Backend Database Tests to read-only contents permission
  .github/workflows/ci-core.yml
Due: none

Read prefixed XBRL contexts and units in the native parser
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Check XBRL namespaces, keep compound units, read paired forever tags
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Skip the subtree of structural XBRL containers
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Take the CIK only from the entity's own identifier element
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Match context, period and unit children by namespace too
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Accept only instance-namespace children in contexts, periods and units
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Read prefixed XBRL contexts and units in the native SEC parser (#172)
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Run the SEC crawler's unit tests in CI
  .github/workflows/ci-core.yml
Due: none

Speed up backend CI builds: debug MCP build, lighter debuginfo, cargo job count (#171)
  .github/workflows/ci-core.yml
  backend/.cargo/config.toml
Due: none

Run the database-backed backend tests in one job (#169)
  .github/workflows/ci-core.yml
Due: none

Fetch Census BDS series for each state
  backend/Dockerfile
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/data/us_states.csv
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/tests/fixtures/census/bds_estab_state_06.json
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: rust-fmt, rust-clippy

Fetch Census BDS series for each state (#175)
  backend/Dockerfile
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/data/us_states.csv
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/tests/fixtures/census/bds_estab_state_06.json
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: rust-fmt, rust-clippy

Upgrade PostgreSQL to 18 and use RETURNING OLD/NEW for data point upserts
  .github/workflows/ci-core.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/playwright-tests-comprehensive.yml
  README.md
  backend/README.md
  backend/crates/econ-graph-core/src/test_utils.rs
  backend/crates/econ-graph-core/tests/schema_validation_test.rs
  backend/crates/econ-graph-core/tests/world_bank_integration_tests.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-mcp/tests/mcp_server_integration_tests.rs
  ci/docker/docker-compose.best-practice.yml
  ci/docker/docker-compose.test.yml
  ci/docker/docker-compose.unified.yml
  docker-compose.yml
  docs/security/DEPLOYMENT_GUIDE.md
  docs/technical/TESTING_STRATEGY.md
  scripts/test-e2e-locally.sh
  scripts/test-e2e-simple.sh
  scripts/test-e2e.sh
  terraform/modules/postgresql/main.tf
Due: rust-fmt, rust-clippy

Add a roadmap index that consolidates the old plan docs
  docs/README.md
  docs/roadmap/README.md
Due: none

Keep script-generated docs out of the archive list
  docs/roadmap/README.md
Due: none

Archive finished and superseded plan docs, delete duplicates
  LETSENCRYPT_CLOUDFLARE_INTEGRATION_SUMMARY.md
  ci/README.md
  ci/docs/README.md
  docs/README.md
  docs/archive/CLOUDFLARE_INTEGRATION_STATUS.md
  docs/archive/README.md
  docs/archive/ci/docs/CI_FAILURE_ANALYSIS_AND_FIXES.md
  docs/archive/ci/docs/E2E_TEST_FAILURE_ANALYSIS.md
  docs/archive/development/NEAR_TERM_FEATURES.md
  docs/archive/development/vitest-migration-plan.md
  docs/archive/progress-reports/2025-09-13/adminui.md
  docs/archive/progress-reports/2025-09-13/ci-optimization.md
  docs/archive/progress-reports/2025-09-13/data_source_crawler.md
  docs/archive/projects/SECURITY_FINDINGS_REPORT.md
  docs/archive/projects/frontend-developer-global-analysis-plan.md
  docs/archive/security/SECURITY_FIXES_SUMMARY.md
  docs/archive/technical/CRATE_SPLIT_PLAN.md
  docs/archive/technical/CRAWLER_MONITORING_IMPLEMENTATION_PLAN.md
  docs/archive/technical/GLOBAL_ANALYSIS_SUMMARY.md
  docs/archive/technical/MCP_SERVER_ANALYSIS.md
  docs/archive/technical/WORLD_BANK_INTEGRATION_POST_MORTEM.md
  docs/deployment/PRIVATE_CHART_API.md
  docs/development/GLOBAL_ANALYSIS_UI_ROADMAP.md
  docs/development/e2e-testing-strategy.md
  docs/projects/SECURITY_IMPLEMENTATION_PLAN.md
  docs/projects/global-analysis-ui-phase1.md
  docs/roadmap/README.md
  docs/security/COMPREHENSIVE_SECURITY_ASSESSMENT_REPORT.md
  docs/security/SECURITY_ASSESSMENT_REPORT.md
  docs/technical/SECRETS_MANAGEMENT.md
  super-secret-projects/EDGAR_INGESTION.md
Due: none

Upgrade PostgreSQL to 18 and use RETURNING OLD/NEW for data point upserts (#159)
  .github/workflows/ci-core.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/playwright-tests-comprehensive.yml
  README.md
  backend/README.md
  backend/crates/econ-graph-core/src/test_utils.rs
  backend/crates/econ-graph-core/tests/schema_validation_test.rs
  backend/crates/econ-graph-core/tests/world_bank_integration_tests.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-mcp/tests/mcp_server_integration_tests.rs
  ci/docker/docker-compose.best-practice.yml
  ci/docker/docker-compose.test.yml
  ci/docker/docker-compose.unified.yml
  docker-compose.yml
  docs/security/DEPLOYMENT_GUIDE.md
  docs/technical/TESTING_STRATEGY.md
  scripts/test-e2e-locally.sh
  scripts/test-e2e-simple.sh
  scripts/test-e2e.sh
  terraform/modules/postgresql/main.tf
Due: rust-fmt, rust-clippy

Drop the public.uuidv7() shim and require PostgreSQL 18
  backend/migrations/2025-02-02-000002_upgrade_to_postgres_18_uuidv7/down.sql
  backend/migrations/2026-09-26-000003_drop_uuidv7_shim/down.sql
  backend/migrations/2026-09-26-000003_drop_uuidv7_shim/up.sql
Due: migration-date-order-check

Add admin UI roadmap
  docs/roadmap/admin-ui.md
Due: none

Filter data points by latest revision and asOf in SQL
  backend/crates/econ-graph-core/src/models/data_point.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
Due: rust-fmt, rust-clippy

Refuse to start without a JWT signing secret
  .github/workflows/ci-core.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/playwright-tests-comprehensive.yml
  backend/crates/econ-graph-auth/src/auth/services.rs
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/config.rs
  scripts/debug-backend-startup.sh
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
