Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

docs: add comprehensive DNS troubleshooting and status documentation
  CLOUDFLARE_INTEGRATION_STATUS.md
  docs/deployment/CLUSTER_DNS_TROUBLESHOOTING.md
Due: none

fix: run prettier formatting on admin-frontend and frontend
  admin-frontend/package-lock.json
  admin-frontend/package.json
  admin-frontend/src/components/sec/CompanySearch.tsx
  admin-frontend/src/components/sec/SecCrawlerManager.tsx
  admin-frontend/src/components/sec/__tests__/CompanySearch.test.tsx
  admin-frontend/src/components/sec/__tests__/SecCrawlerManager.test.tsx
  admin-frontend/src/hooks/useCompanySearch.ts
  admin-frontend/src/hooks/useSecCrawler.ts
  admin-frontend/src/types/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/financial/FinancialDataViewer.tsx
  frontend/src/hooks/useFinancialData.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Fix quality checks: resolve ESLint warnings and errors
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/financial/FinancialDashboard.tsx
  frontend/src/components/financial/RatioExplanationModal.tsx
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Convert Jest to Vitest in test files and documentation
  admin-frontend/src/components/sec/__tests__/CompanySearch.test.tsx
  admin-frontend/src/components/sec/__tests__/SecCrawlerManager.test.tsx
Due: none

Fix ESLint jsdoc plugin configuration
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit

Fix TypeScript errors in both admin-frontend and frontend
  admin-frontend/src/components/sec/__tests__/CompanySearch.test.tsx
  admin-frontend/src/components/sec/__tests__/SecCrawlerManager.test.tsx
  admin-frontend/tsconfig.json
  docs/development/SEC_CRAWLER_DEVELOPER_GUIDE.md
  frontend/src/hooks/useFinancialData.ts
  tests/test-config.md
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Fix ESLint package.json scripts to use configuration file
  frontend/package.json
Due: npm-audit

feat: add production SSL ingress configuration to Terraform
  terraform/modules/ingress/main.tf
Due: none

Fix Apollo Client imports and Jest to Vitest conversion
  admin-frontend/src/components/sec/__tests__/CompanySearch.test.tsx
  admin-frontend/src/components/sec/__tests__/SecCrawlerManager.test.tsx
Due: none

fix: remove redundant JSDoc validation step from CI
  .github/workflows/ci-core.yml
Due: none

Significant progress on test fixes
  admin-frontend/src/components/sec/__tests__/CompanySearch.test.tsx
Due: none

Fix CompanySearch test failures and add comprehensive ARIA labels
  admin-frontend/src/components/sec/CompanySearch.tsx
  admin-frontend/src/components/sec/__tests__/CompanySearch.test.tsx
Due: none

feat: integrate Let's Encrypt with Cloudflare DNS-01 challenge (#152)
  CLOUDFLARE_INTEGRATION_STATUS.md
  LETSENCRYPT_CLOUDFLARE_INTEGRATION_SUMMARY.md
  docs/deployment/CLUSTER_DNS_TROUBLESHOOTING.md
  docs/deployment/LETSENCRYPT_CLOUDFLARE_DNS01_INTEGRATION.md
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/monitoring/letsencrypt-cloudflare-dns01.yaml
  scripts/deploy/setup-letsencrypt-cloudflare.sh
  scripts/deploy/test-letsencrypt-cloudflare.sh
  terraform/main.tf
  terraform/modules/ingress/main.tf
  terraform/terraform.tfvars.example
Due: none

feat: optimize Cargo compilation with --workspace flag
  .github/workflows/ci-core.yml
  .github/workflows/ci-experimental.yml
  .github/workflows/crawler-integration-test.yml
  .github/workflows/playwright-tests-comprehensive.yml
  backend/Dockerfile
Due: none

🔄 Force GitHub Actions workflow cache refresh
  .github/workflows/accessibility-tests.yml
  .github/workflows/ci-core.yml
  .github/workflows/ci-experimental.yml
  .github/workflows/crawler-integration-test.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/playwright-tests-comprehensive.yml
  .github/workflows/playwright-tests-deployed.yml
  .github/workflows/playwright-tests.yml
  .github/workflows/ramdisk-build-cache.yml
  .github/workflows/security.yml
  .github/workflows/update-cost-analysis.yml
  ci/docs/workflow-status-report.md
Due: none

fix: ensure backend build cache always runs on main
  .github/workflows/ci-core.yml
Due: none

feat: Enhance Global Analysis UI with comprehensive improvements
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/global/ColorLegend.tsx
  frontend/src/components/global/CountrySelectionPanel.tsx
  frontend/src/components/global/EnhancedInteractiveWorldMap.tsx
  frontend/src/components/global/MapControls.tsx
  frontend/src/components/global/MapLegend.tsx
  frontend/src/components/global/README.md
  frontend/src/components/global/StatisticalAnalysis.tsx
  frontend/src/components/global/USAGE_GUIDE.md
  frontend/src/components/global/__tests__/GlobalAnalysisIntegration.test.tsx
  frontend/src/components/global/__tests__/InteractiveWorldMap.test.tsx
  frontend/src/components/global/accessibility-utils.ts
  frontend/src/components/global/error-handling-utils.tsx
  frontend/src/components/global/examples/GlobalAnalysisExample.tsx
  frontend/src/components/global/hooks/__tests__/useCountryData.test.ts
  frontend/src/components/global/hooks/__tests__/useWorldMap.test.ts
  frontend/src/components/global/hooks/useWorldMap.ts
  frontend/src/components/global/performance-utils.ts
  frontend/src/test-utils/__tests__/global-analysis-schema-validation.test.ts
  frontend/src/test-utils/d3-testing-utils.ts
  frontend/src/test-utils/mocks/graphql-response-loader.ts
  frontend/src/test-utils/mocks/graphql-responses/get_correlation_network/error.json
  frontend/src/test-utils/mocks/graphql-responses/get_correlation_network/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_countries_with_economic_data/error.json
  frontend/src/test-utils/mocks/graphql-responses/get_countries_with_economic_data/loading.json
  frontend/src/test-utils/mocks/graphql-responses/get_countries_with_economic_data/success.json
  frontend/src/test-utils/mocks/graphql-responses/get_global_events_with_impacts/error.json
  frontend/src/test-utils/mocks/graphql-responses/get_global_events_with_impacts/success.json
  frontend/src/types/globalAnalysis.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

fix: resolve ESLint issues in Global Analysis components
  frontend/src/components/global/ColorLegend.tsx
  frontend/src/components/global/CountrySelectionPanel.tsx
  frontend/src/components/global/EnhancedInteractiveWorldMap.tsx
  frontend/src/components/global/MapControls.tsx
  frontend/src/components/global/StatisticalAnalysis.tsx
  frontend/src/components/global/__tests__/GlobalAnalysisIntegration.test.tsx
  frontend/src/components/global/__tests__/InteractiveWorldMap.test.tsx
  frontend/src/components/global/examples/GlobalAnalysisExample.tsx
  frontend/src/components/global/hooks/__tests__/useWorldMap.test.ts
  frontend/src/components/global/performance-utils.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

crawler: define public interfaces for consolidated crawler (A0)
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/error.rs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/policy.rs
  backend/crates/econ-graph-crawler/src/rate_limit.rs
  backend/crates/econ-graph-crawler/src/source.rs
Due: rust-fmt, rust-clippy

Make crawl_queue a correct shared job queue
  backend/crates/econ-graph-backend/src/integration_tests.rs
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-core/src/models/crawl_queue/tests.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-services/src/services/crawler/comprehensive_crawler.rs
  backend/crates/econ-graph-services/src/services/crawler/legacy_crawler_service.rs
  backend/crates/econ-graph-services/src/services/queue_service.rs
  backend/migrations/2026-09-25-000001_fix_crawl_queue/down.sql
  backend/migrations/2026-09-25-000001_fix_crawl_queue/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

ci: add backend-workspace-tests job running every workspace test
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-services/src/services/series_discovery/census/integration_tests.rs
Due: rust-fmt, rust-clippy

Add crawl_queue started_at/finished_at; split required CI queue tests
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-services/src/services/queue_service.rs
  backend/migrations/2026-09-25-000002_crawl_queue_timing/down.sql
  backend/migrations/2026-09-25-000002_crawl_queue_timing/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

crawler: implement HttpFetcher and per-source rate limiter (A3)
  backend/Cargo.toml
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/rate_limit.rs
Due: rust-fmt, rust-clippy, rust-audit

crawler: adapter contract test kit (feature testkit)
  backend/Cargo.toml
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/testkit/contract.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  backend/crates/econ-graph-crawler/src/testkit/mod.rs
Due: rust-fmt, rust-clippy, rust-audit

crawler: enable demo contract tests; add sources module scaffold
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
Due: rust-fmt, rust-clippy

crawler: BLS v2 adapter (A7)
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/tests/fixtures/bls/cpi_monthly.json
  backend/crates/econ-graph-crawler/tests/fixtures/bls/eci_quarterly.json
  backend/crates/econ-graph-crawler/tests/fixtures/bls/not_processed_threshold.json
  backend/crates/econ-graph-crawler/tests/fixtures/bls/series_does_not_exist.json
  backend/crates/econ-graph-crawler/tests/fixtures/bls/surveys.json
Due: rust-fmt, rust-clippy

crawler: add FRED source adapter
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/tests/fixtures/fred/error_bad_variable.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/error_series_does_not_exist.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/observations_gdp.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/series_gdp.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/series_search_empty.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/series_search_page1.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/series_search_page2.json
Due: rust-fmt, rust-clippy

crawler: queue worker, shared persistence and crawler-worker binary (A5)
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/src/bin/crawler_worker.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

crawler: include scrubbed body in HTTP status errors; make FRED re-crawls idempotent
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
Due: rust-fmt, rust-clippy

deploy: crawler-worker image, k8s Deployment, and crawler alert fixes
  backend/.dockerignore
  backend/Dockerfile
  k8s/manifests/crawler-worker.yaml
  k8s/monitoring/prometheus-rules-crawler.yaml
  scripts/deploy/build-images.sh
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/teardown.sh
Due: none

crawler: port 10 hardcoded discovery modules to StaticCatalogAdapter
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/src/sources/static_catalogs.rs
Due: rust-fmt, rust-clippy

crawler: World Bank, IMF, Census, BEA, FHFA source adapters (A10a)
  backend/crates/econ-graph-crawler/src/sources/bea.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/sources/imf.rs
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/tests/fixtures/bea/dataset_list.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/error_invalid_userid.json
  backend/crates/econ-graph-crawler/tests/fixtures/census/bds_estab_us.json
  backend/crates/econ-graph-crawler/tests/fixtures/census/geography.json
  backend/crates/econ-graph-crawler/tests/fixtures/census/variables.json
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/hpi_ca_page1.json
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/hpi_ca_page2.json
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/hpi_national.json
  backend/crates/econ-graph-crawler/tests/fixtures/imf/dataflow.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/country_indicator.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/error_invalid_value.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/indicator_single.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/indicators_page1.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/indicators_page2.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/topic_indicators.json
Due: rust-fmt, rust-clippy

sec-crawler: run on the shared HttpFetcher and crawl_queue (A11)
  backend/Cargo.toml
  backend/crates/econ-graph-crawler-worker/Cargo.toml
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-sec-crawler/Cargo.toml
  backend/crates/econ-graph-sec-crawler/src/bin/sec_company_crawler.rs
  backend/crates/econ-graph-sec-crawler/src/bin/sec_crawler.rs
  backend/crates/econ-graph-sec-crawler/src/crawler.rs
  backend/crates/econ-graph-sec-crawler/src/handler.rs
  backend/crates/econ-graph-sec-crawler/src/handler/tests.rs
  backend/crates/econ-graph-sec-crawler/src/lib.rs
  backend/crates/econ-graph-sec-crawler/src/rate_limiter.rs
  backend/crates/econ-graph-sec-crawler/src/submissions.rs
  backend/crates/econ-graph-sec-crawler/test_data/sec_mock/submissions_CIK0009999901.json
Due: rust-fmt, rust-clippy, rust-audit

crawler: enqueue-only API, DB-derived crawler status, new crawler CLI (A8)
  backend/crates/econ-graph-backend/Cargo.toml
  backend/crates/econ-graph-backend/src/integration_tests.rs
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-crawler/src/bin/crawler.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/status.rs
  backend/crates/econ-graph-graphql/Cargo.toml
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/imports.rs
  backend/crates/econ-graph-graphql/src/types.rs
Due: rust-fmt, rust-clippy

Convert Postgres enum columns to VARCHAR + CHECK so diesel inserts work
  backend/crates/econ-graph-core/src/models/financial_statement.rs
  backend/crates/econ-graph-core/src/models/financial_statement/tests.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-sec-crawler/src/handler/tests.rs
  backend/migrations/2026-09-25-000003_enum_columns_to_varchar/down.sql
  backend/migrations/2026-09-25-000003_enum_columns_to_varchar/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

crawler-worker: /metrics + /healthz server, queue metrics and alerts
  backend/crates/econ-graph-crawler-worker/Cargo.toml
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler-worker/src/metrics.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-metrics/src/crawler.rs
  k8s/manifests/crawler-worker.yaml
  k8s/monitoring/prometheus-rules-crawler.yaml
Due: rust-fmt, rust-clippy

Remove unused terraform crawler module
  terraform/README.md
  terraform/main.tf
  terraform/modules/crawler/main.tf
  terraform/terraform.tfvars.example
Due: none

CI: require crawler clippy, drop jobs for deleted tests
  .github/workflows/ci-core.yml
  .github/workflows/crawler-integration-test.yml
Due: none
