Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

Reject tokens whose subject is not a user id
  backend/crates/econ-graph-auth/Cargo.toml
  backend/crates/econ-graph-auth/src/auth/services.rs
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Allow CORS only from configured frontend origins
  backend/crates/econ-graph-auth/src/auth/routes.rs
  backend/crates/econ-graph-backend/src/main.rs
  k8s/manifests/backend-deployment.yaml
Due: rust-fmt, rust-clippy

Restrict the user query to the caller's own record or an admin
  backend/crates/econ-graph-graphql/src/graphql/query.rs
Due: rust-fmt, rust-clippy

Index series search with a weighted tsvector and pg_trgm
  backend/crates/econ-graph-core/src/models/search.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/search_service.rs
  backend/migrations/2026-09-26-000004_series_search/down.sql
  backend/migrations/2026-09-26-000004_series_search/up.sql
  docs/technical/FULLTEXT_SEARCH.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Require a signed-in user's token on /mcp
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Add auth, plans and permissions roadmap
  docs/roadmap/auth-plans-permissions.md
Due: none

Authenticate the user query before parsing its id
  backend/crates/econ-graph-graphql/src/graphql/query.rs
Due: rust-fmt, rust-clippy

Filter data points by latest revision and asOf in SQL
  backend/crates/econ-graph-core/src/models/data_point.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
Due: rust-fmt, rust-clippy

Add federation roadmap
  docs/roadmap/federation.md
Due: none

Refuse to start without a JWT signing secret (#180)
  .github/workflows/ci-core.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/playwright-tests-comprehensive.yml
  backend/crates/econ-graph-auth/src/auth/services.rs
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/config.rs
  scripts/debug-backend-startup.sh
Due: rust-fmt, rust-clippy

Refuse to start without a JWT signing secret (#180) (#180)
  .github/workflows/ci-core.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/playwright-tests-comprehensive.yml
  backend/crates/econ-graph-auth/src/auth/services.rs
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/config.rs
  scripts/debug-backend-startup.sh
Due: rust-fmt, rust-clippy

Drop the public.uuidv7() shim and require PostgreSQL 18 (#164)
  backend/migrations/2025-02-02-000002_upgrade_to_postgres_18_uuidv7/down.sql
  backend/migrations/2026-09-26-000003_drop_uuidv7_shim/down.sql
  backend/migrations/2026-09-26-000003_drop_uuidv7_shim/up.sql
Due: migration-date-order-check

Check rustdoc in CI with warnings as errors
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-crawler-worker/src/main.rs
Due: rust-fmt, rust-clippy

Check rustdoc in CI with warnings as errors (#189)
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-crawler-worker/src/main.rs
Due: rust-fmt, rust-clippy

Allow CORS only from configured frontend origins (#182)
  backend/crates/econ-graph-auth/src/auth/routes.rs
  backend/crates/econ-graph-backend/src/main.rs
  k8s/manifests/backend-deployment.yaml
Due: rust-fmt, rust-clippy

Add a roadmap index that consolidates the old plan docs
  docs/README.md
  docs/roadmap/README.md
Due: none

Add Keycloak with the econ-graph dev realm to docker-compose
  config/keycloak/dev/econ-graph-users-0.json
  config/keycloak/econ-graph-realm.json
  docker-compose.yml
  scripts/keycloak/dev-token.sh
Due: none

Tighten flag check after self-review
  config/flags/README.md
  scripts/check-flags/check.js
  scripts/check-flags/cli.js
  scripts/check-flags/schema.js
  scripts/check-flags/test/check.test.js
  scripts/check-flags/test/fixtures/dev-changes-state/dev.flagd.json
  scripts/check-flags/test/fixtures/dev-changes-state/flags.flagd.json
  scripts/check-flags/test/fixtures/dev-with-targeting/dev.flagd.json
  scripts/check-flags/test/fixtures/dev-with-targeting/flags.flagd.json
  scripts/check-flags/test/fixtures/experiment-malformed-remove-by/dev.flagd.json
  scripts/check-flags/test/fixtures/experiment-malformed-remove-by/flags.flagd.json
  scripts/check-flags/test/fixtures/inherited-default-variant/dev.flagd.json
  scripts/check-flags/test/fixtures/inherited-default-variant/flags.flagd.json
  scripts/check-flags/test/fixtures/schema-bad-targeting/flags.flagd.json
  scripts/check-flags/test/fixtures/unknown-metadata-key/dev.flagd.json
  scripts/check-flags/test/fixtures/unknown-metadata-key/flags.flagd.json
  scripts/check-flags/test/fixtures/valid-dev-variants-reordered/dev.flagd.json
  scripts/check-flags/test/fixtures/valid-dev-variants-reordered/flags.flagd.json
Due: none

Add a roadmap index that consolidates the old plan docs (#179)
  docs/README.md
  docs/roadmap/README.md
Due: none

Archive finished and superseded plan docs, delete duplicates
  LETSENCRYPT_CLOUDFLARE_INTEGRATION_SUMMARY.md
  ci/README.md
  ci/docs/README.md
  docs/README.md
  docs/archive/CLOUDFLARE_INTEGRATION_STATUS.md
  docs/archive/README.md
  docs/archive/ci/docs/CI_FAILURE_ANALYSIS_AND_FIXES.md
  docs/archive/ci/docs/E2E_TEST_FAILURE_ANALYSIS.md
  docs/archive/development/NEAR_TERM_FEATURES.md
  docs/archive/development/SEC_EDGAR_XBRL_IMPLEMENTATION_PLAN.md
  docs/archive/development/vitest-migration-plan.md
  docs/archive/progress-reports/2025-09-13/adminui.md
  docs/archive/progress-reports/2025-09-13/ci-optimization.md
  docs/archive/progress-reports/2025-09-13/data_source_crawler.md
  docs/archive/projects/SECURITY_FINDINGS_REPORT.md
  docs/archive/projects/frontend-developer-global-analysis-plan.md
  docs/archive/security/SECURITY_FIXES_SUMMARY.md
  docs/archive/technical/CRATE_SPLIT_PLAN.md
  docs/archive/technical/CRAWLER_MONITORING_IMPLEMENTATION_PLAN.md
  docs/archive/technical/GLOBAL_ANALYSIS_SUMMARY.md
  docs/archive/technical/MCP_SERVER_ANALYSIS.md
  docs/archive/technical/WORLD_BANK_INTEGRATION_POST_MORTEM.md
  docs/deployment/PRIVATE_CHART_API.md
  docs/development/GLOBAL_ANALYSIS_UI_ROADMAP.md
  docs/development/e2e-testing-strategy.md
  docs/projects/SECURITY_IMPLEMENTATION_PLAN.md
  docs/projects/global-analysis-ui-phase1.md
  docs/roadmap/README.md
  docs/security/COMPREHENSIVE_SECURITY_ASSESSMENT_REPORT.md
  docs/security/SECURITY_ASSESSMENT_REPORT.md
  docs/technical/SECRETS_MANAGEMENT.md
  super-secret-projects/EDGAR_INGESTION.md
Due: none

Archive finished and superseded plan docs, delete duplicates (#187)
  LETSENCRYPT_CLOUDFLARE_INTEGRATION_SUMMARY.md
  ci/README.md
  ci/docs/README.md
  docs/README.md
  docs/archive/CLOUDFLARE_INTEGRATION_STATUS.md
  docs/archive/README.md
  docs/archive/ci/docs/CI_FAILURE_ANALYSIS_AND_FIXES.md
  docs/archive/ci/docs/E2E_TEST_FAILURE_ANALYSIS.md
  docs/archive/development/NEAR_TERM_FEATURES.md
  docs/archive/development/SEC_EDGAR_XBRL_IMPLEMENTATION_PLAN.md
  docs/archive/development/vitest-migration-plan.md
  docs/archive/progress-reports/2025-09-13/adminui.md
  docs/archive/progress-reports/2025-09-13/ci-optimization.md
  docs/archive/progress-reports/2025-09-13/data_source_crawler.md
  docs/archive/projects/SECURITY_FINDINGS_REPORT.md
  docs/archive/projects/frontend-developer-global-analysis-plan.md
  docs/archive/security/SECURITY_FIXES_SUMMARY.md
  docs/archive/technical/CRATE_SPLIT_PLAN.md
  docs/archive/technical/CRAWLER_MONITORING_IMPLEMENTATION_PLAN.md
  docs/archive/technical/GLOBAL_ANALYSIS_SUMMARY.md
  docs/archive/technical/MCP_SERVER_ANALYSIS.md
  docs/archive/technical/WORLD_BANK_INTEGRATION_POST_MORTEM.md
  docs/deployment/PRIVATE_CHART_API.md
  docs/development/GLOBAL_ANALYSIS_UI_ROADMAP.md
  docs/development/e2e-testing-strategy.md
  docs/projects/SECURITY_IMPLEMENTATION_PLAN.md
  docs/projects/global-analysis-ui-phase1.md
  docs/roadmap/README.md
  docs/security/COMPREHENSIVE_SECURITY_ASSESSMENT_REPORT.md
  docs/security/SECURITY_ASSESSMENT_REPORT.md
  docs/technical/SECRETS_MANAGEMENT.md
  super-secret-projects/EDGAR_INGESTION.md
Due: none

Move flag check to its own workflow; tighten tags and build variants
  .github/workflows/ci-core.yml
  .github/workflows/feature-flags.yml
  config/flags/README.md
  scripts/check-flags/check.js
  scripts/check-flags/cli.js
  scripts/check-flags/schema.js
  scripts/check-flags/test/check.test.js
Due: none

Filter data points by latest revision and asOf in SQL
  backend/crates/econ-graph-core/src/models/data_point.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
  docs/api/GRAPHQL_API.md
Due: rust-fmt, rust-clippy

Mark shipped trains with train-N tags, not version tags
  .github/workflows/feature-flags.yml
  config/flags/README.md
  scripts/check-flags/check.js
  scripts/check-flags/cli.js
  scripts/check-flags/test/check.test.js
Due: none

Document pushing train-N tags
  config/flags/README.md
Due: none

Batch fetch in the crawler adapter contract and worker
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-core/src/models/crawl_queue/tests.rs
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/policy.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Frontend flags are __FLAGS__.<key>
  config/flags/README.md
  scripts/check-flags/check.js
Due: none

Add datasets table and dataset columns on series
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-backend/src/integration_tests.rs
  backend/crates/econ-graph-core/src/models/crawl_attempt.rs
  backend/crates/econ-graph-core/src/models/dataset.rs
  backend/crates/econ-graph-core/src/models/dataset/tests.rs
  backend/crates/econ-graph-core/src/models/economic_series.rs
  backend/crates/econ-graph-core/src/models/economic_series/tests.rs
  backend/crates/econ-graph-core/src/models/mod.rs
  backend/crates/econ-graph-core/src/models/series_metadata.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/migrations/2026-09-26-000100_datasets/down.sql
  backend/migrations/2026-09-26-000100_datasets/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Batch review fixes: breaker sees per-series rate limits, scaled scan, per-job durations, docs
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/policy.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Reject tokens whose subject is not a user id (#181)
  backend/crates/econ-graph-auth/Cargo.toml
  backend/crates/econ-graph-auth/src/auth/services.rs
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Adapter dataset contract
  backend/Cargo.toml
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/data/datasets/README.md
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/sources/bea.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/src/sources/imf.rs
  backend/crates/econ-graph-crawler/src/sources/static_catalogs.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/src/testkit/contract.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy, rust-audit

Delete known-bad SEC crawler code
  backend/crates/econ-graph-core/src/models/financial_statement.rs
  backend/crates/econ-graph-core/src/models/xbrl_taxonomy_schema.rs
  backend/crates/econ-graph-sec-crawler/README.md
  backend/crates/econ-graph-sec-crawler/scripts/enhanced_arelle_parser.py
  backend/crates/econ-graph-sec-crawler/scripts/simple_arelle_parser.py
  backend/crates/econ-graph-sec-crawler/src/bin/sec_crawler.rs
  backend/crates/econ-graph-sec-crawler/src/crawler.rs
  backend/crates/econ-graph-sec-crawler/src/dts_manager.rs
  backend/crates/econ-graph-sec-crawler/src/models.rs
  backend/crates/econ-graph-sec-crawler/src/storage.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
  backend/crates/econ-graph-sec-crawler/tests/xbrl_financial_integration_tests.rs
  scripts/test_arelle.py
Due: rust-fmt, rust-clippy

Add shared country reference file and loader
  backend/Dockerfile
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/Cargo.toml
  backend/crates/econ-graph-core/data/countries.csv
  backend/crates/econ-graph-core/src/lib.rs
  backend/crates/econ-graph-core/src/reference.rs
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/scripts/build_countries_csv.py
  ci/docker/e2e/Dockerfile.optimized
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/crawler-worker.yaml
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
