Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

Name the shared code lists a component may reference
  backend/crates/econ-graph-core/src/models/dataset.rs
  backend/crates/econ-graph-core/src/models/dataset/tests.rs
Due: rust-fmt, rust-clippy

Exact redirect URIs, e2e origin, default roles, review round 2 fixes
  config/keycloak/README.md
  config/keycloak/dev/econ-graph-users-0.json
  config/keycloak/econ-graph-realm.json
  docker-compose.yml
  k8s/README.md
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/manifests/keycloak/deployment.yaml
  k8s/manifests/keycloak/ingress.yaml
  scripts/deploy/deploy.sh
  terraform/modules/ingress/main.tf
Due: none

Add the data source coverage roadmap
  docs/roadmap/data-sources.md
Due: none

Update roadmap item 13 state for #236
  docs/roadmap/releases.md
Due: none

Return only the latest revision from recentDataPoints
  backend/crates/econ-graph-graphql/src/types.rs
Due: rust-fmt, rust-clippy

FHFA: fetch the HPI master CSV as dataset fhfa_hpi
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/data/datasets/fhfa.toml
  backend/crates/econ-graph-crawler/data/us_states.csv
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/README.md
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/hpi_ca_page1.json
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/hpi_ca_page2.json
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/hpi_master.csv
  backend/crates/econ-graph-crawler/tests/fixtures/fhfa/hpi_national.json
  docs/roadmap/releases.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  docs/technical/RATE_LIMIT_SOURCES.md
Due: rust-fmt, rust-clippy

Batch fetch in the crawler adapter contract and worker
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-core/src/models/crawl_queue/tests.rs
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/policy.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  docs/roadmap/releases.md
Due: rust-fmt, rust-clippy

Filter data points by latest revision and asOf in SQL
  backend/crates/econ-graph-core/src/models/data_point.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
  docs/api/GRAPHQL_API.md
  docs/roadmap/releases.md
Due: rust-fmt, rust-clippy

Act as the signed-in user in the collaboration API
  backend/crates/econ-graph-graphql/src/graphql/context.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/imports.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
Due: rust-fmt, rust-clippy

Move credentials out of the k8s manifests
  docs/deployment/DEPLOYMENT_RESTART.md
  docs/deployment/K8S_RESTART_COMMANDS.md
  docs/deployment/KUBERNETES_DEPLOYMENT.md
  docs/roadmap/README.md
  docs/security/DEPLOYMENT_GUIDE.md
  k8s/README.md
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/configmap.yaml
  k8s/manifests/crawler-worker.yaml
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/manifests/postgres-deployment.yaml
  k8s/manifests/postgres-init.yaml
  k8s/manifests/secret.yaml
  k8s/monitoring/grafana-statefulset.yaml
  k8s/monitoring/letsencrypt-cloudflare-dns01.yaml
  scripts/deploy/create-secrets.sh
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/setup-local-k8s.sh
  scripts/deploy/setup-port-forwarding.sh
  scripts/deploy/teardown.sh
  scripts/test-monitoring.sh
Due: none

Rate-limit /graphql at the ingress
  docs/deployment/DEPLOYMENT_RESTART.md
  docs/deployment/K8S_RESTART_COMMANDS.md
  docs/roadmap/README.md
  k8s/README.md
  k8s/manifests/graphql-ingress.yaml
  k8s/manifests/ingress.yaml
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/teardown.sh
Due: none

BLS: series list from a data file, batched requests, API key
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/data/bls_series.csv
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/tests/fixtures/bls/batch_mixed.json
  backend/crates/econ-graph-crawler/tests/fixtures/bls/surveys.json
  docs/roadmap/releases.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: rust-fmt, rust-clippy

Remove ingress CORS annotations; the backend owns CORS
  docs/deployment/INGRESS_ROUTING_TROUBLESHOOTING.md
  docs/projects/SECURITY_IMPLEMENTATION_PLAN.md
  docs/roadmap/README.md
  k8s/manifests/frontend-ingress.yaml
  k8s/manifests/ingress-cloudflare-dns01.yaml
  k8s/manifests/ingress.yaml
  k8s/manifests/security-configmap.yaml
  k8s/manifests/ssl-ingress.yaml
  terraform/modules/ingress/main.tf
Due: none

Add admin UI roadmap
  docs/roadmap/admin-ui.md
Due: none

Mark DATA-3 (batch fetch, #213) merged in the release roadmap
  docs/roadmap/releases.md
Due: none

Add federation roadmap
  docs/roadmap/federation.md
Due: none

Remove imports left unused by the Arelle/large-object deletion
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
Due: rust-fmt, rust-clippy

Expose datasets and series dimensions in GraphQL
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/datasets.rs
  backend/crates/econ-graph-graphql/src/graphql/datasets_db_tests.rs
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
Due: rust-fmt, rust-clippy

Series page on real data
  docs/roadmap/analysis-workspace.md
  frontend/src/components/charts/InteractiveChart.tsx
  frontend/src/components/charts/__tests__/InteractiveChart.test.tsx
  frontend/src/hooks/__mocks__/useSeriesData.ts
  frontend/src/hooks/useSeriesData.ts
  frontend/src/pages/SeriesDetail.tsx
  frontend/src/pages/__tests__/SeriesDetail.test.tsx
  frontend/src/pages/__tests__/fixtures/seriesDetail.ts
  frontend/src/utils/__tests__/dates.test.ts
  frontend/src/utils/dates.ts
  frontend/src/utils/graphql.ts
  frontend/src/utils/transformations.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

Share core's known codelists, test the dataset key collision path end to end
  backend/crates/econ-graph-crawler/data/datasets/README.md
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Add auth, plans and permissions roadmap
  docs/roadmap/auth-plans-permissions.md
Due: none

docs: fix stale terraform docs for PEM certs and removed password defaults
  terraform/README.md
  terraform/terraform.tfvars.example
Due: none

Add the fine-grained role catalog and authorize()
  backend/crates/econ-graph-auth/src/bin/econ-graph-roles.rs
  backend/crates/econ-graph-auth/src/lib.rs
  backend/crates/econ-graph-auth/src/roles.rs
  backend/crates/econ-graph-graphql/src/graphql/context.rs
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
  backend/crates/econ-graph-graphql/src/graphql/types.rs
  backend/crates/econ-graph-graphql/src/imports.rs
  backend/crates/econ-graph-graphql/src/security/server.rs
Due: rust-fmt, rust-clippy

docs: clarify PROXY protocol is typically L4, forwarded headers L7
  k8s/manifests/graphql-ingress.yaml
Due: none

World Bank WDI fetch
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/data/datasets/world_bank.toml
  backend/crates/econ-graph-crawler/data/wdi_indicators.csv
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank/tests.rs
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/country_indicator.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/gdp_per_capita.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/indicator_single.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/indicators_page1.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/indicators_page2.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/inflation.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/population.json
  backend/crates/econ-graph-crawler/tests/fixtures/world_bank/topic_indicators.json
  frontend/tests/e2e/release/fixtures.ts
Due: rust-fmt, rust-clippy, typescript-check

Fix CodeRabbit finding: keep collected data when an omitted series is named in a "no data" message
  backend/crates/econ-graph-crawler/src/sources/bls.rs
Due: rust-fmt, rust-clippy

Harden BLS response parsing against explicit nulls; fix OER/rent base-year label
  backend/crates/econ-graph-crawler/data/bls_series.csv
  backend/crates/econ-graph-crawler/src/sources/bls.rs
Due: rust-fmt, rust-clippy

Add the release end-to-end stack: Playwright release project on Postgres 18, seeded from fixtures
  .github/workflows/release-e2e.yml
  .gitignore
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  docker-compose.release-e2e.yml
  frontend/playwright.config.ts
  frontend/playwright.mobile.config.ts
  frontend/playwright.release.config.ts
  frontend/tests/e2e/release/README.md
  frontend/tests/e2e/release/auth/sign-in.spec.ts
  frontend/tests/e2e/release/fixtures.ts
  frontend/tests/e2e/release/smoke.spec.ts
  frontend/vite.config.ts
  scripts/release-e2e.sh
Due: rust-fmt, rust-clippy, typescript-check

Flag validate_xbrl_document reports as parse-only; fail on zero facts
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Store FRED observation vintages from ALFRED
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/policy.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-crawler/tests/fixtures/fred/README.md
  backend/crates/econ-graph-crawler/tests/fixtures/fred/observations_gdp.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/observations_gdp_since_2026-04-28.json
  backend/crates/econ-graph-crawler/tests/soak.rs
Due: rust-fmt, rust-clippy

Validate database_password in main.tf; fix the postgres-only placeholder list
  terraform/README.md
  terraform/main.tf
  terraform/postgres-only.tf
  terraform/terraform.tfvars.example
Due: none

Add QA-only Keycloak users and a CI check that keeps dev/QA data out of k8s
  .github/workflows/ci-core.yml
  config/keycloak/README.md
  config/keycloak/qa/econ-graph-users-1.json
  docker-compose.qa-users.yml
  scripts/keycloak/check-no-dev-users-in-k8s.sh
Due: none

Correct the DS-1/DS-3 roadmap row: both PRs are still open, not merged
  docs/roadmap/releases.md
Due: none

Accept any-case true/TRUE for ENABLE_GRAPHQL_PLAYGROUND
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Drop roadmap doc edit (Linear tracks status)
  docs/roadmap/releases.md
Due: none

Sign in through Keycloak with oidc-client-ts in the frontend
  .github/workflows/ci-core.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/silent-callback.html
  frontend/src/App.tsx
  frontend/src/__tests__/e2e-user-workflows.test.tsx
  frontend/src/auth/ResetQueriesOnUserChange.tsx
  frontend/src/auth/__tests__/oidcConfig.test.ts
  frontend/src/auth/__tests__/silentCallback.test.ts
  frontend/src/auth/accessToken.ts
  frontend/src/auth/oidcConfig.ts
  frontend/src/auth/silentCallback.ts
  frontend/src/components/auth/LoginDialog.tsx
  frontend/src/components/auth/UserProfile.tsx
  frontend/src/components/auth/__tests__/LoginDialog.test.tsx
  frontend/src/components/auth/__tests__/UserProfile.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/contexts/__tests__/ThemeContext.test.tsx
  frontend/src/contexts/__tests__/oidcClientMessages.test.ts
  frontend/src/pages/AuthCallback.tsx
  frontend/src/pages/__tests__/AuthCallback.test.tsx
  frontend/src/setupTests.integration.ts
  frontend/src/setupTests.vitest.ts
  frontend/src/utils/graphql.ts
  frontend/src/vite-env.d.ts
  frontend/tests/e2e/authentication.spec.ts
  frontend/tests/e2e/comprehensive/complete-workflow.spec.ts
  frontend/tests/e2e/user-preferences.spec.ts
  frontend/vite.config.ts
  k8s/manifests/frontend-deployment.yaml
  k8s/manifests/security-configmap.yaml
  k8s/manifests/ssl-ingress.yaml
  scripts/deploy/build-images.sh
  terraform/modules/ingress/main.tf
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit
