Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

fix(accessibility): run real audits and compiled database startup
  .github/workflows/accessibility-tests.yml
  admin-frontend/src/App.tsx
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/database.rs
  frontend/.eslintcache
  frontend/src/pages/About.tsx
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc

fix(ci): install audit tools without incompatible source dependencies
  .github/workflows/ci-core.yml
Due: none

fix(ci): use prebuilt audit tools and pin compatible diesel CLI
  .github/workflows/ci-core.yml
Due: none

fix(docker): match the CI Rust toolchain and runtime Debian release
  backend/Dockerfile
Due: none

fix(sec): wire the compiled GraphQL API and repair client contracts
  admin-frontend/src/components/sec/CompanySearch.tsx
  admin-frontend/src/components/sec/SecCrawlerManager.tsx
  admin-frontend/src/components/sec/__tests__/SecCrawlerManager.test.tsx
  admin-frontend/src/hooks/useCompanySearch.ts
  admin-frontend/src/hooks/useSecCrawler.ts
  admin-frontend/src/types/index.ts
  backend/crates/econ-graph-graphql/src/graphql/mod.rs
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/sec_api_tests.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-sec-crawler/Cargo.toml
  backend/crates/econ-graph-services/Cargo.toml
  backend/crates/econ-graph-services/src/services/company_service.rs
  backend/crates/econ-graph-services/src/services/financial_statement_service.rs
  backend/crates/econ-graph-services/src/services/mod.rs
  backend/crates/econ-graph-services/src/services/sec_crawler_service.rs
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/src/hooks/useFinancialData.ts
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Fix search frequency filter to match source-specific frequency text (#342)
  backend/crates/econ-graph-core/src/models/economic_series.rs
  backend/crates/econ-graph-core/src/models/economic_series/tests.rs
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/mod.rs
  backend/crates/econ-graph-services/src/services/search_service.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
Due: rust-fmt, rust-clippy

docs: correct v4.0 local onboarding and linked guides
  README.md
  backend/README.md
  backend/crates/econ-graph-crawler/README.md
  backend/crates/econ-graph-services/README.md
  backend/scripts/README.md
  docs/api/GRAPHQL_API.md
  docs/business/PRODUCT_SUMMARY_2025.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: none

Fetch BEA table titles from BEA's own reference data
  backend/crates/econ-graph-crawler/data/bea_tables.csv
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/sources/bea.rs
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_table_titles.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/nipa_table_titles_t10105.json
  backend/crates/econ-graph-crawler/tests/fixtures/bea/regional_table_titles.json
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  docs/data-sources/bea.md
  frontend/tests/e2e/release/fixtures.ts
Due: rust-fmt, rust-clippy, typescript-check

Refuse to revert the v4.0.0 baseline
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
  backend/migrations/2026-10-01-000100_v4_0_baseline/down.sql
  backend/scripts/compare_migrations.sh
  docs/development/MIGRATIONS.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Fix search frequency filter to match source-specific frequency text
  backend/crates/econ-graph-core/src/models/economic_series.rs
  backend/crates/econ-graph-core/src/models/economic_series/tests.rs
  backend/crates/econ-graph-graphql/schema.graphql
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/mod.rs
  backend/crates/econ-graph-services/src/services/search_service.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
Due: rust-fmt, rust-clippy

Squash the pre-v4.0.0 migrations into one baseline
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
  backend/migrations/2025-02-01-000001_consolidated_initial_schema/up.sql
  backend/migrations/2025-02-02-000002_upgrade_to_postgres_18_uuidv7/down.sql
  backend/migrations/2025-02-02-000002_upgrade_to_postgres_18_uuidv7/up.sql
  backend/migrations/2026-09-25-000001_fix_crawl_queue/down.sql
  backend/migrations/2026-09-25-000001_fix_crawl_queue/up.sql
  backend/migrations/2026-09-25-000002_crawl_queue_timing/down.sql
  backend/migrations/2026-09-25-000002_crawl_queue_timing/up.sql
  backend/migrations/2026-09-25-000003_annotation_type_values/down.sql
  backend/migrations/2026-09-25-000003_annotation_type_values/up.sql
  backend/migrations/2026-09-26-000001_drop_redundant_indexes/down.sql
  backend/migrations/2026-09-26-000001_drop_redundant_indexes/up.sql
  backend/migrations/2026-09-26-000003_drop_uuidv7_shim/down.sql
  backend/migrations/2026-09-26-000003_drop_uuidv7_shim/up.sql
  backend/migrations/2026-09-26-000004_series_search/down.sql
  backend/migrations/2026-09-26-000004_series_search/up.sql
  backend/migrations/2026-09-26-000100_datasets/down.sql
  backend/migrations/2026-09-26-000100_datasets/up.sql
  backend/migrations/2026-09-26-233000_stable_seed_series_ids/down.sql
  backend/migrations/2026-09-26-233000_stable_seed_series_ids/up.sql
  backend/migrations/2026-09-27-000001_annotation_visibility_enum/down.sql
  backend/migrations/2026-09-27-000001_annotation_visibility_enum/up.sql
  backend/migrations/2026-09-28-000001_census_api_key_required/down.sql
  backend/migrations/2026-09-28-000001_census_api_key_required/up.sql
  backend/migrations/2026-09-30-000100_unique_chart_collaborators/down.sql
  backend/migrations/2026-09-30-000100_unique_chart_collaborators/up.sql
  backend/migrations/2026-10-01-000100_series_dataset_required/down.sql
  backend/migrations/2026-10-01-000100_series_dataset_required/up.sql
  backend/migrations/2026-10-01-000100_v4_0_baseline/down.sql
  backend/migrations/2026-10-01-000100_v4_0_baseline/up.sql
  backend/scripts/README.md
  backend/scripts/compare_migrations.sh
  backend/scripts/create_consolidated_migration.py
  backend/scripts/schema_snapshot.sql
  docs/development/MIGRATIONS.md
  docs/development/RELEASE_PROCESS.md
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/FULLTEXT_SEARCH.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Test that an incomplete World Bank discovery is retried in full
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank/tests.rs
Due: rust-fmt, rust-clippy

Address CodeRabbit: run the readiness test's deletion inside a rolled-back transaction
  backend/crates/econ-graph-core/src/database.rs
Due: rust-fmt, rust-clippy

Exclude confirmed-NotFound series from crawl coverage
  backend/crates/econ-graph-crawler/README.md
  backend/crates/econ-graph-crawler/src/coverage.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Fix readiness test to exercise the real schema-check error path and avoid leaving a pooled connection mid-transaction on panic
  backend/crates/econ-graph-core/src/database.rs
Due: rust-fmt, rust-clippy

Fix admin-frontend npm audit failures with overrides and narrow allowlist gate
  .github/workflows/ci-core.yml
  .pre-commit-config.yaml
  admin-frontend/package-lock.json
  admin-frontend/package.json
  admin-frontend/scripts/__tests__/check-npm-audit.test.ts
  admin-frontend/scripts/check-npm-audit.mjs
  admin-frontend/scripts/npm-audit-allowlist.json
Due: none

Fix frontend npm audit failures: source-map-js high, sprintf-js moderate
  .github/workflows/ci-core.yml
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/__tests__/check-npm-audit.test.ts
  frontend/scripts/check-npm-audit.mjs
  frontend/scripts/npm-audit-allowlist.json
Due: typescript-check, npm-audit

Split /health into /livez and /readyz probes
  backend/crates/econ-graph-backend/src/main.rs
  backend/crates/econ-graph-core/src/database.rs
  backend/crates/econ-graph-core/src/lib.rs
  k8s/manifests/backend-deployment.yaml
Due: rust-fmt, rust-clippy

Skip unchanged FHFA, FRED and World Bank data on scheduled re-crawls
  backend/Cargo.lock
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/src/adapter.rs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/persist/validator_tests.rs
  backend/crates/econ-graph-crawler/src/sources/bea.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/census.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank.rs
  backend/crates/econ-graph-crawler/src/sources/world_bank/tests.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/migrations/2026-10-02-000400_fetch_validators/down.sql
  backend/migrations/2026-10-02-000400_fetch_validators/up.sql
Due: rust-fmt, rust-clippy, rust-audit, migration-date-order-check

Fold the release/v4.0 migrations into the v4.0.0 baseline
  backend/crates/econ-graph-core/src/models/data_source.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/migrations/2026-10-02-000100_reference_file_cache/down.sql
  backend/migrations/2026-10-02-000100_reference_file_cache/up.sql
  backend/migrations/2026-10-02-000200_drop_us_states_codelist/down.sql
  backend/migrations/2026-10-02-000200_drop_us_states_codelist/up.sql
  backend/migrations/2026-10-02-000250_seed_reference_codes/down.sql
  backend/migrations/2026-10-02-000250_seed_reference_codes/up.sql
  backend/migrations/2026-10-02-000300_reference_file_cache_payload/down.sql
  backend/migrations/2026-10-02-000300_reference_file_cache_payload/up.sql
  backend/migrations/2026-10-02-000400_fetch_validators/down.sql
  backend/migrations/2026-10-02-000400_fetch_validators/up.sql
  backend/migrations/2026-10-02-000500_enable_r1_data_sources/down.sql
  backend/migrations/2026-10-02-000500_enable_r1_data_sources/up.sql
  backend/migrations/2026-10-02-000500_v4_0_baseline/down.sql
  backend/migrations/2026-10-02-000500_v4_0_baseline/up.sql
  docs/development/MIGRATIONS.md
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/FULLTEXT_SEARCH.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Document databases that skip the fold because migrations merged out of order
  backend/crates/econ-graph-core/src/database.rs
  backend/scripts/compare_migrations.sh
  docs/development/MIGRATIONS.md
Due: rust-fmt, rust-clippy

Skip unchanged reference files by Last-Modified and body hash, and seed those validators
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/reference_file.rs
  backend/crates/econ-graph-crawler/src/sources/bea.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/migrations/2026-10-06-000100_seed_reference_validators/down.sql
  backend/migrations/2026-10-06-000100_seed_reference_validators/up.sql
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: rust-fmt, rust-clippy, migration-date-order-check

Reserve the FHFA master download before reading stored validators
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/testkit/mod.rs
Due: rust-fmt, rust-clippy

Harden check-npm-audit.mjs's shared --dir/--allowlist CLI
  frontend/scripts/__tests__/check-npm-audit.test.ts
  frontend/scripts/check-npm-audit.mjs
Due: typescript-check

Reject a flag value that looks like another flag in check-npm-audit.mjs
  frontend/scripts/__tests__/check-npm-audit.test.ts
  frontend/scripts/check-npm-audit.mjs
Due: typescript-check

Fix admin-frontend npm audit failures: 1 high + 5 critical
  .github/workflows/ci-core.yml
  .pre-commit-config.yaml
  admin-frontend/package-lock.json
  admin-frontend/package.json
  admin-frontend/scripts/npm-audit-allowlist.json
  frontend/scripts/__tests__/check-npm-audit.test.ts
  frontend/scripts/check-npm-audit.mjs
Due: typescript-check
