Repository jmalicki/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, github-actions-validate, docker-compose-validate, rust-audit, npm-audit

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  github-actions-validate: any of: ^\.github/workflows/.*\.yml$|^ci/workflows/.*\.yml$
  docker-compose-validate: any of: ^ci/docker/.*\.yml$|^docker-compose.*\.yml$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$

feat: add GitHub Actions workflow validation to pre-commit hooks
  .pre-commit-config.yaml
  scripts/validate-github-actions.py
Due: none

Clean up dead CI/CD workflows and excessive infrastructure
  .github/workflows/ci-original-backup.yml
  .github/workflows/instant-path-test.yml
  .github/workflows/minimal-cc-test.yml
  .github/workflows/quick-path-test.yml
  .github/workflows/release.yml.disabled
  .github/workflows/test-correct-env.yml
  .github/workflows/test-path-fix.yml
  .github/workflows/test-shell-expansion.yml
  .github/workflows/test-simple-expansion.yml
  .github/workflows/test-simple-fix.yml
  .github/workflows/test-yaml-env.yml
  ci/docs/charts/README.md
  ci/docs/charts/ci-job-dependencies.svg
  ci/docs/charts/complete-ci-pipeline.svg
  ci/docs/charts/current-workflow.svg
  ci/docs/charts/docker-architecture.svg
  ci/docs/charts/optimized-workflow.svg
  ci/docs/charts/performance-comparison.svg
  ci/docs/charts/separated-workflow.svg
  ci/docs/charts/test-architecture.svg
  ci/docs/diagrams/ci-job-dependencies.mmd
  ci/docs/diagrams/complete-ci-pipeline.mmd
  ci/docs/diagrams/current-workflow.mmd
  ci/docs/diagrams/docker-architecture.mmd
  ci/docs/diagrams/optimized-workflow.mmd
  ci/docs/diagrams/performance-comparison.mmd
  ci/docs/diagrams/separated-workflow.mmd
  ci/docs/diagrams/test-architecture.mmd
  ci/scripts/embed-charts-in-markdown.sh
  ci/scripts/generate-charts-python.py
  ci/scripts/generate-visual-charts.sh
  ci/scripts/generate-workflow-diagrams.sh
  ci/scripts/run-tests-unified.sh
  ci/workflows/e2e-tests-optimized.yml
  ci/workflows/e2e-tests-separated.yml
  ci/workflows/e2e-tests-unified.yml
Due: github-actions-validate

Update CI workflows README to reflect cleanup
  .github/workflows/README.md
Due: none

Clean up dead CI/CD workflows and excessive infrastructure (#50)
  .github/workflows/README.md
  .github/workflows/ci-original-backup.yml
  .github/workflows/instant-path-test.yml
  .github/workflows/minimal-cc-test.yml
  .github/workflows/quick-path-test.yml
  .github/workflows/release.yml.disabled
  .github/workflows/test-correct-env.yml
  .github/workflows/test-path-fix.yml
  .github/workflows/test-shell-expansion.yml
  .github/workflows/test-simple-expansion.yml
  .github/workflows/test-simple-fix.yml
  .github/workflows/test-yaml-env.yml
  ci/docs/charts/README.md
  ci/docs/charts/ci-job-dependencies.svg
  ci/docs/charts/complete-ci-pipeline.svg
  ci/docs/charts/current-workflow.svg
  ci/docs/charts/docker-architecture.svg
  ci/docs/charts/optimized-workflow.svg
  ci/docs/charts/performance-comparison.svg
  ci/docs/charts/separated-workflow.svg
  ci/docs/charts/test-architecture.svg
  ci/docs/diagrams/ci-job-dependencies.mmd
  ci/docs/diagrams/complete-ci-pipeline.mmd
  ci/docs/diagrams/current-workflow.mmd
  ci/docs/diagrams/docker-architecture.mmd
  ci/docs/diagrams/optimized-workflow.mmd
  ci/docs/diagrams/performance-comparison.mmd
  ci/docs/diagrams/separated-workflow.mmd
  ci/docs/diagrams/test-architecture.mmd
  ci/scripts/embed-charts-in-markdown.sh
  ci/scripts/generate-charts-python.py
  ci/scripts/generate-visual-charts.sh
  ci/scripts/generate-workflow-diagrams.sh
  ci/scripts/run-tests-unified.sh
  ci/workflows/e2e-tests-optimized.yml
  ci/workflows/e2e-tests-separated.yml
  ci/workflows/e2e-tests-unified.yml
Due: github-actions-validate

chore: add profraw files to .gitignore and remove tracked profraw file
  .gitignore
  backend/build_rs_cov.profraw
Due: none

docs: comprehensive MCP server and CI pipeline documentation
  MCP_CI_PIPELINE.md
  MCP_SERVER.md
  VIBE_CODING.md
Due: none

docs: add comprehensive Chart API Service documentation
  CHART_API_SERVICE.md
Due: none

feat: integrate MCP server tests into main CI pipeline
  .github/workflows/ci-core.yml
  MCP_SERVER.md
  VIBE_CODING.md
  backend/Cargo.toml
  backend/build_rs_cov.profraw
  backend/src/main.rs
  backend/src/mcp_server.rs
  backend/tests/mcp_server_integration_tests.rs
Due: rust-fmt, rust-clippy, github-actions-validate, rust-audit

fix: add missing MCP server tests and update CI pipeline
  .github/workflows/ci-core.yml
  backend/src/mcp_server.rs
Due: rust-fmt, rust-clippy, github-actions-validate

feat: implement comprehensive MCP server integration tests with real database
  backend/src/mcp_server.rs
  backend/tests/mcp_server_integration_tests.rs
Due: rust-fmt, rust-clippy

fix: resolve pre-commit hook issues and complete MCP server rebase
  .github/workflows/crawler-integration-test.yml
Due: github-actions-validate

feat: comprehensive MCP server implementation with CI integration and documentation (#48)
  .github/workflows/ci-core.yml
  .github/workflows/crawler-integration-test.yml
  .gitignore
  CHART_API_SERVICE.md
  MCP_CI_PIPELINE.md
  MCP_SERVER.md
  VIBE_CODING.md
  backend/Cargo.toml
  backend/src/main.rs
  backend/src/mcp_server.rs
  backend/tests/mcp_server_integration_tests.rs
Due: rust-fmt, rust-clippy, github-actions-validate, rust-audit

fix: remove broken CI workflows with no triggers
  .github/workflows/ci-build.yml
  .github/workflows/ci-integration.yml
  .github/workflows/ci-security.yml
Due: github-actions-validate

docs: update releng engineer persona with CI workflow maintenance insights
  personas/releng-engineer.md
Due: none

docs: update CI workflows README to reflect current state
  .github/workflows/README.md
Due: none

trigger: force GitHub to refresh workflow cache
  .github/workflows/ci-core.yml
Due: github-actions-validate

docs: Reorganize documentation into logical structure
  README.md
  demo-tools/create-20-minute-comprehensive-demo.sh
  demo-tools/create-comprehensive-investor-pitch.sh
  demo-tools/create-comprehensive-video-demo.sh
  demo-tools/create-full-20-minute-video-demo.sh
  docs/README.md
  docs/api/GRAPHQL_API.md
  docs/business/INVESTOR_PITCH.md
  docs/business/PRIVACY_POLICY.md
  docs/business/ROADMAP.md
  docs/deployment/CHART_API_SERVICE.md
  docs/deployment/DEPLOYMENT_RESTART.md
  docs/deployment/K8S_RESTART_COMMANDS.md
  docs/deployment/PRIVATE_CHART_API.md
  docs/development/CI_CD_PIPELINE.md
  docs/development/CI_OPTIMIZATION_NOTES.md
  docs/development/PRECOMMIT_SETUP.md
  docs/development/VIBE_CODING.md
  docs/monitoring/README.md
  docs/technical/ADMIN_SECURITY.md
  docs/technical/BLS_API_EXPERIMENTAL_FINDINGS.md
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/CRATE_SPLIT_PLAN.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  docs/technical/CRAWLER_POLITENESS.md
  docs/technical/CRAWLER_TUNING_GUIDE.md
  docs/technical/DEVELOPER_GUIDE_DATABASE.md
  docs/technical/FRONTEND_SUMMARY.md
  docs/technical/FULLTEXT_SEARCH.md
  docs/technical/MCP_CI_PIPELINE.md
  docs/technical/MCP_SERVER.md
  docs/technical/MCP_SERVER_ANALYSIS.md
  docs/technical/RATE_LIMIT_SOURCES.md
  docs/technical/TESTING_STRATEGY.md
  docs/technical/WORLD_BANK_API_EXPERIMENTAL_FINDINGS.md
  docs/technical/WORLD_BANK_INTEGRATION_POST_MORTEM.md
  docs/testing/DATABASE_TESTING.md
  docs/testing/e2e-test-report.md
  k8s/monitoring/README.md
Due: none

docs: Reorganize documentation into logical structure (#53)
  README.md
  demo-tools/create-20-minute-comprehensive-demo.sh
  demo-tools/create-comprehensive-investor-pitch.sh
  demo-tools/create-comprehensive-video-demo.sh
  demo-tools/create-full-20-minute-video-demo.sh
  docs/README.md
  docs/api/GRAPHQL_API.md
  docs/business/INVESTOR_PITCH.md
  docs/business/PRIVACY_POLICY.md
  docs/business/ROADMAP.md
  docs/deployment/CHART_API_SERVICE.md
  docs/deployment/DEPLOYMENT_RESTART.md
  docs/deployment/K8S_RESTART_COMMANDS.md
  docs/deployment/PRIVATE_CHART_API.md
  docs/development/CI_CD_PIPELINE.md
  docs/development/CI_OPTIMIZATION_NOTES.md
  docs/development/PRECOMMIT_SETUP.md
  docs/development/VIBE_CODING.md
  docs/monitoring/README.md
  docs/technical/ADMIN_SECURITY.md
  docs/technical/BLS_API_EXPERIMENTAL_FINDINGS.md
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/CRATE_SPLIT_PLAN.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  docs/technical/CRAWLER_POLITENESS.md
  docs/technical/CRAWLER_TUNING_GUIDE.md
  docs/technical/DEVELOPER_GUIDE_DATABASE.md
  docs/technical/FRONTEND_SUMMARY.md
  docs/technical/FULLTEXT_SEARCH.md
  docs/technical/MCP_CI_PIPELINE.md
  docs/technical/MCP_SERVER.md
  docs/technical/MCP_SERVER_ANALYSIS.md
  docs/technical/RATE_LIMIT_SOURCES.md
  docs/technical/TESTING_STRATEGY.md
  docs/technical/WORLD_BANK_API_EXPERIMENTAL_FINDINGS.md
  docs/technical/WORLD_BANK_INTEGRATION_POST_MORTEM.md
  docs/testing/DATABASE_TESTING.md
  docs/testing/e2e-test-report.md
  k8s/monitoring/README.md
Due: none

fix: remove broken CI workflows causing GitHub Actions failures (#52)
  .github/workflows/README.md
  .github/workflows/ci-core.yml
  personas/releng-engineer.md
Due: github-actions-validate

fix: resolve GitHub Actions workflow parsing failures
  .github/workflows/ci-core.yml
  .github/workflows/ci-experimental.yml
  .github/workflows/crawler-integration-test.yml
  .github/workflows/playwright-tests-comprehensive.yml
  .github/workflows/playwright-tests-deployed.yml
  .github/workflows/playwright-tests.yml
  .github/workflows/ramdisk-build-cache.yml
  .github/workflows/security.yml
  scripts/cleanup-orphaned-workflows.sh
  scripts/fix-github-workflow-cache.sh
  workflow-status-report.md
Due: github-actions-validate

fix: remove invalid e2e-analysis-tests job causing workflow parsing failure
  .github/workflows/ci-core.yml
Due: github-actions-validate

feat: implement enhanced Prometheus metrics and Grafana dashboard
  backend/Cargo.toml
  backend/src/main.rs
  backend/src/metrics_enhanced.rs
  backend/src/metrics_service.rs
  grafana-dashboards/econgraph-backend-metrics.json
Due: rust-fmt, rust-clippy, rust-audit

docs: update VIBE_CODING.md with enhanced metrics implementation progress
  VIBE_CODING.md
Due: none

Fix license compliance issues and update CI/CD documentation
  backend/deny.toml
  docs/development/CI_CD_PIPELINE.md
  personas/releng-engineer.md
Due: none

Fix license compliance issues and update CI/CD documentation (#55)
  backend/deny.toml
  docs/development/CI_CD_PIPELINE.md
  personas/releng-engineer.md
Due: none

fix: resolve GitHub Actions workflow parsing failures
  .github/workflows/README.md
  .github/workflows/ci-core.yml
  personas/releng-engineer.md
  scripts/validate-workflows.sh
Due: github-actions-validate

refactor: rename workflow validation script for clarity
  .github/workflows/README.md
  personas/releng-engineer.md
  scripts/validate-ci-workflows.sh
Due: none

refactor: move CI/CD validation script to modular ci/ directory
  .github/workflows/README.md
  ci/README.md
  ci/scripts/validate-ci-workflows.sh
  personas/ai-developer-standards.md
  personas/releng-engineer.md
Due: none

feat: Add comprehensive global analysis UI roadmap and implementation plan
  README.md
  docs/README.md
  docs/business/ROADMAP.md
  docs/development/GLOBAL_ANALYSIS_ROADMAP.md
  docs/development/GLOBAL_ANALYSIS_UI_ROADMAP.md
  docs/development/NEAR_TERM_FEATURES.md
  personas/product-manager.md
  projects/global-analysis-ui-phase1.md
Due: none

feat: Add comprehensive global analysis UI roadmap and implementation plan (#56)
  .github/workflows/README.md
  .github/workflows/ci-core.yml
  .github/workflows/ci-experimental.yml
  .github/workflows/crawler-integration-test.yml
  .github/workflows/playwright-tests-comprehensive.yml
  .github/workflows/playwright-tests-deployed.yml
  .github/workflows/playwright-tests.yml
  .github/workflows/ramdisk-build-cache.yml
  .github/workflows/security.yml
  README.md
  ci/README.md
  ci/scripts/validate-ci-workflows.sh
  docs/README.md
  docs/business/ROADMAP.md
  docs/development/GLOBAL_ANALYSIS_ROADMAP.md
  docs/development/GLOBAL_ANALYSIS_UI_ROADMAP.md
  docs/development/NEAR_TERM_FEATURES.md
  personas/ai-developer-standards.md
  personas/product-manager.md
  personas/releng-engineer.md
  projects/global-analysis-ui-phase1.md
  scripts/cleanup-orphaned-workflows.sh
  scripts/fix-github-workflow-cache.sh
  workflow-status-report.md
Due: github-actions-validate

fix: resolve YAML parsing issues in validation scripts
  .github/workflows/ci-core.yml
  .github/workflows/ci-experimental.yml
  .github/workflows/crawler-integration-test.yml
  .github/workflows/playwright-tests-comprehensive.yml
  .github/workflows/playwright-tests-deployed.yml
  .github/workflows/playwright-tests.yml
  .github/workflows/ramdisk-build-cache.yml
  .github/workflows/security.yml
  ci/scripts/validate-ci-workflows.sh
  scripts/fix-github-workflow-cache.sh
  workflow-status-report.md
Due: github-actions-validate

feat: Configure CI/CD to skip on documentation-only changes
  .github/workflows/ci-core.yml
  docs/TEST_DOCUMENTATION.md
Due: github-actions-validate

test: Add documentation change to verify path filtering
  docs/TEST_DOCUMENTATION.md
Due: none

feat: Configure CI/CD to skip on documentation-only changes (#57)
  .github/workflows/ci-core.yml
  docs/TEST_DOCUMENTATION.md
Due: github-actions-validate

fix: Remove .github/workflows/README.md from paths-ignore to allow workflow changes
  .github/workflows/ci-core.yml
Due: github-actions-validate

feat: create frontend developer persona and global analysis implementation plan
  personas/frontend-developer.md
  projects/frontend-developer-global-analysis-plan.md
Due: none
