Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

rust-fmt:
  name: Rust Format Fix
  entry: bash -c 'cd backend && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 600'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-jsdoc:
  name: Frontend JSDoc Validation
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx}" --rule "jsdoc/require-jsdoc:warn" --rule "jsdoc/require-description:warn" --rule "jsdoc/require-param:warn" --rule "jsdoc/require-returns:warn" --max-warnings 100'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

migration-date-order-check:
  name: Database Migration Date Order Check
  entry: bash -c 'cd backend && python3 scripts/check_migration_order.py'
  language: system
  pass_filenames: false

style: format taxonomy rollback assertion
  backend/crates/econ-graph-sec-crawler/src/storage.rs
Due: rust-fmt, rust-clippy

Format annotation deletion regression test
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
Due: rust-fmt, rust-clippy

Apply CI rustfmt output to comment authorization
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
Due: rust-fmt, rust-clippy

Apply Rust formatter output to chart sharing regression tests
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
Due: rust-fmt, rust-clippy

style(crawler): apply rustfmt to lease regressions
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Use typed Diesel updates in retire_unlisted instead of raw sql_query
  backend/crates/econ-graph-crawler/src/persist.rs
Due: rust-fmt, rust-clippy

Declare FRED and BLS datasets
  backend/Cargo.lock
  backend/crates/econ-graph-crawler/data/datasets/bls.toml
  backend/crates/econ-graph-crawler/data/datasets/fred.toml
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/src/dataset.rs
  backend/crates/econ-graph-crawler/src/reference.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/src/testkit/echo.rs
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
Due: rust-fmt, rust-clippy, rust-audit

Report crawler coverage and freshness, and alert on them
  .github/workflows/ci-core.yml
  backend/Cargo.lock
  backend/Dockerfile
  backend/crates/econ-graph-crawler-worker/Cargo.toml
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler-worker/src/metrics.rs
  backend/crates/econ-graph-crawler/src/cli.rs
  backend/crates/econ-graph-crawler/src/coverage.rs
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
  backend/crates/econ-graph-crawler/src/status.rs
  backend/crates/econ-graph-metrics/src/crawler.rs
  docs/monitoring/crawler-coverage-runbook.md
  k8s/monitoring/check-prometheus-rules.sh
  k8s/monitoring/prometheus-config.yaml
  k8s/monitoring/prometheus-deployment.yaml
  k8s/monitoring/prometheus-rules-crawler.yaml
  k8s/monitoring/tests/crawler-coverage.test.yaml
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
Due: rust-fmt, rust-clippy, rust-audit

Restore PostgreSQL dollar quoting in regression fixture
  backend/crates/econ-graph-services/src/services/collaboration_service.rs
Due: rust-fmt, rust-clippy

Fix ambiguous rustdoc link to substr sql function
  backend/crates/econ-graph-crawler/src/persist.rs
Due: rust-fmt, rust-clippy

fix: fit taxonomy SHA-256 digest into database hash column
  backend/crates/econ-graph-sec-crawler/src/storage.rs
Due: rust-fmt, rust-clippy

fix(crawler): fence result writes and transitions in one lease transaction
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

style(crawler): format lease fence and select explicit transaction isolation
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Format taxonomy storage regression query
  backend/crates/econ-graph-sec-crawler/src/storage.rs
Due: rust-fmt, rust-clippy

Require opt-in XBRL storage statistics regression in PostgreSQL CI
  .github/workflows/ci-core.yml
Due: none

docs: align README.md local setup with current backend and frontend
  README.md
Due: none

docs: align backend/README.md local setup with current backend and frontend
  backend/README.md
Due: none

docs(admin): correct Vite setup commands and configuration guidance
  admin-frontend/README.md
Due: none

docs: correct deployment and monitoring instructions
  docs/deployment/K8S_DEPLOYMENT_GUIDE.md
Due: none

docs: correct deployment and monitoring instructions
  docs/monitoring/README.md
Due: none

docs: correct GraphQL loader and schema reference claims
  docs/api/GRAPHQL_API.md
Due: none

docs: document actual database test helpers and lifecycle
  docs/testing/DATABASE_TESTING.md
Due: none

docs: distinguish frontend dev sign-in from backend anonymous access
  README.md
Due: none

docs: describe database alert without an active-state filter
  docs/monitoring/README.md
Due: none

docs: distinguish HTTP request caches from retained-schema caches
  docs/api/GRAPHQL_API.md
Due: none

fix(ci): keep change-selection job successful on protected branches (#293)
  .github/workflows/ci-core.yml
  ci/docs/CI_FAILURE_TROUBLESHOOTING.md
  docs/development/CI_CD_PIPELINE.md
Due: none

FHFA: dedupe concurrent master-file downloads
  backend/Cargo.lock
  backend/crates/econ-graph-crawler/src/error.rs
  backend/crates/econ-graph-crawler/src/sources/bls.rs
  backend/crates/econ-graph-crawler/src/sources/fhfa.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy, rust-audit

fix(crawler): drop trailing blank lines from cargo fmt
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

FHFA: fix the release e2e seed for the new CSV adapter
  backend/crates/econ-graph-crawler/src/bin/seed_fixtures.rs
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
Due: rust-fmt, rust-clippy

FHFA: update release e2e fixture expectations for the new CSV adapter
  frontend/tests/e2e/release/fixtures.ts
Due: typescript-check

Retire AI development savings promotion and archive cost output
  .github/workflows/update-cost-analysis.yml
  README.md
  data/README.md
  data/cost-analysis.json
  demo-tools/PROFESSIONAL_DEMO_SUMMARY.md
  docs/README.md
  docs/archive/generated/development-costs/analysis.md
  docs/business/COST_ASSUMPTIONS_AND_PRODUCTIVITY_ANALYSIS.md
  docs/business/INVESTOR_PITCH.md
  docs/business/PRODUCT_SUMMARY_2025.md
  docs/ci/COST_ANALYSIS_AUTOMATION.md
  docs/development/VIBE_CODING.md
  docs/roadmap/README.md
  scripts/cost_analysis.py
  scripts/tests/test_cost_analysis.py
  scripts/webhook-cost-update.py
Due: none

test: reproduce cancelled crawler status transaction leak
  backend/crates/econ-graph-crawler/src/status.rs
Due: rust-fmt, rust-clippy

style: keep status regression module rustfmt clean
  backend/crates/econ-graph-crawler/src/status.rs
Due: rust-fmt, rust-clippy

Require database-backed user administration authorization regressions
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-graphql/src/graphql/authorization_tests.rs
Due: rust-fmt, rust-clippy

style: apply rustfmt layout to cancellation regression
  backend/crates/econ-graph-crawler/src/status.rs
Due: rust-fmt, rust-clippy

fix(crawler): give the release e2e seed a fixture with every vintage
  backend/crates/econ-graph-crawler/tests/fixtures/e2e-seed.json
  backend/crates/econ-graph-crawler/tests/fixtures/fred/README.md
  backend/crates/econ-graph-crawler/tests/fixtures/fred/observations_gdp_e2e.json
Due: none

fix: track crawler status transactions for cancellation cleanup
  backend/crates/econ-graph-crawler/src/status.rs
Due: rust-fmt, rust-clippy

docs: correct backend command directories and startup prerequisites
  backend/scripts/README.md
Due: none

docs: correct backend command directories and startup prerequisites
  backend/crates/econ-graph-crawler/README.md
Due: none

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$
