Repository EconGraph/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, rust-audit, npm-audit, migration-date-order-check

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-jsdoc: any of: ^frontend/src/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
  migration-date-order-check: any of: ^backend/migrations/.*\.sql$

Docs and scripts: describe the queue-based crawler
  backend/README.md
  backend/crates/econ-graph-crawler/README.md
  backend/crates/econ-graph-sec-crawler/Cargo.toml
  backend/scripts/README.md
  backend/scripts/populate_catalogs.sh
  docs/README.md
  docs/technical/BLS_API_EXPERIMENTAL_FINDINGS.md
  docs/technical/CENSUS_BDS_INTEGRATION.md
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  docs/technical/CRAWLER_DEPLOYMENT_GUIDE.md
  docs/technical/CRAWLER_POLITENESS.md
  docs/technical/CRAWLER_TUNING_GUIDE.md
  personas/backend-engineer.md
Due: none

crawler: A13 soak/rate test (two workers vs mocked FRED/BLS) and governor burst check
  backend/crates/econ-graph-crawler/tests/soak.rs
Due: rust-fmt, rust-clippy

Crawler: refresh scheduler enqueues due series and weekly discovery
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/README.md
  backend/crates/econ-graph-crawler/src/lib.rs
  backend/crates/econ-graph-crawler/src/scheduler.rs
Due: rust-fmt, rust-clippy

crawler: strict in-house GCRA limiter, scrub-then-truncate snippets, CI/Docker/doc cleanup
  .github/workflows/ci-core.yml
  .github/workflows/ci-core.yml.backup
  backend/Dockerfile
  backend/crates/econ-graph-crawler/Cargo.toml
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/rate_limit.rs
  backend/crates/econ-graph-crawler/tests/soak.rs
  config/ci-env.config
  docs/technical/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
Due: rust-fmt, rust-clippy

crawler: lease-guarded queue transitions, revision lookback, queue retention
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-core/src/models/crawl_queue/tests.rs
  backend/crates/econ-graph-crawler-worker/src/main.rs
  backend/crates/econ-graph-crawler/src/policy.rs
  backend/crates/econ-graph-crawler/src/worker.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-services/src/services/queue_service.rs
Due: rust-fmt, rust-clippy

crawler: fix soak test for WorkerConfig.queue_retention; rustfmt
  backend/crates/econ-graph-crawler/src/sources/fred.rs
  backend/crates/econ-graph-crawler/src/sources/mod.rs
  backend/crates/econ-graph-crawler/tests/soak.rs
Due: rust-fmt, rust-clippy

core: rustfmt financial_statement tests
  backend/crates/econ-graph-core/src/models/financial_statement/tests.rs
Due: rust-fmt, rust-clippy

Fix CI for crawler consolidation on rustc 1.89
  .github/workflows/ci-core.yml
  .github/workflows/ramdisk-build-cache.yml
  .github/workflows/security.yml
  backend/crates/econ-graph-crawler-worker/src/metrics.rs
  backend/crates/econ-graph-crawler/src/http.rs
  backend/crates/econ-graph-crawler/src/persist.rs
Due: rust-fmt, rust-clippy

Upgrade Rust to 1.98.1 and dependencies to latest releases
  .github/workflows/ci-core.yml
  .github/workflows/ci-core.yml.backup
  .github/workflows/ci-experimental.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/ramdisk-build-cache.yml
  backend/Cargo.toml
  backend/Dockerfile
  backend/crates/econ-graph-core/src/models/data_point.rs
  backend/crates/econ-graph-core/src/models/data_point/tests.rs
  backend/crates/econ-graph-core/tests/schema_validation_test.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/graphql/schema.rs
  backend/crates/econ-graph-graphql/src/security/whitelist.rs
  backend/crates/econ-graph-metrics/Cargo.toml
  backend/crates/econ-graph-sec-crawler/Cargo.toml
  backend/crates/econ-graph-sec-crawler/src/crawler.rs
  backend/crates/econ-graph-sec-crawler/src/dts_manager.rs
  backend/crates/econ-graph-sec-crawler/src/storage.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-services/src/services/crawler/series_downloader.rs
  backend/crates/econ-graph-services/src/services/global_analysis_service.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
  backend/deny.toml
  ci/docker/e2e/Dockerfile.optimized
  docs/development/CI_CD_PIPELINE.md
  docs/development/CI_OPTIMIZATION_NOTES.md
  rust-toolchain.toml
Due: rust-fmt, rust-clippy, rust-audit

Ignore RUSTSEC-2026-0258 (h2 0.3 via warp 0.3) with rationale
  backend/.cargo/audit.toml
  backend/deny.toml
Due: none

Serve the backend HTTP/1.1-only so h2 0.3 is never reachable
  backend/.cargo/audit.toml
  backend/crates/econ-graph-backend/Cargo.toml
  backend/crates/econ-graph-backend/src/main.rs
  backend/deny.toml
Due: rust-fmt, rust-clippy

Pin Rust Docker builders to bookworm to match their runtimes
  backend/Dockerfile
  ci/docker/e2e/Dockerfile.optimized
Due: none

Upgrade frontend tooling and Node to 24 LTS; clear npm audit
  .github/workflows/accessibility-tests.yml
  .github/workflows/ci-core.yml
  .github/workflows/playwright-tests-comprehensive.yml
  .github/workflows/playwright-tests-deployed.yml
  .github/workflows/playwright-tests.yml
  .github/workflows/security.yml
  .github/workflows/update-cost-analysis.yml
  admin-frontend/Dockerfile
  admin-frontend/eslint.config.js
  admin-frontend/package-lock.json
  admin-frontend/package.json
  admin-frontend/src/pages/__tests__/CrawlerConfig.test.tsx
  admin-frontend/src/pages/__tests__/CrawlerLogs.test.tsx
  admin-frontend/src/services/graphqlClient.ts
  admin-frontend/src/setupTests.ts
  admin-frontend/tsconfig.json
  chart-api-service/Dockerfile
  ci/docker/Dockerfile.test
  ci/docker/e2e/Dockerfile
  ci/docker/e2e/Dockerfile.optimized
  frontend/.storybook/main.ts
  frontend/Dockerfile
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/charts/InteractiveChart.tsx
  frontend/src/components/charts/InteractiveChartWithCollaboration.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/setupTests.integration.ts
  frontend/src/setupTests.vitest.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  frontend/vitest.integration.config.ts
Due: frontend-prettier, frontend-eslint, typescript-check, frontend-jsdoc, npm-audit

Keep the peer address in backend request logs
  backend/crates/econ-graph-backend/src/main.rs
Due: rust-fmt, rust-clippy

Docs: match the upgraded toolchain and the queue-based Census adapter
  README.md
  admin-frontend/README.md
  backend/README.md
  docs/ci/COST_ANALYSIS_AUTOMATION.md
  docs/deployment/CHART_API_SERVICE.md
  docs/security/DEPLOYMENT_GUIDE.md
  docs/security/IMPLEMENTATION_DETAILS.md
  docs/technical/CENSUS_BDS_INTEGRATION.md
Due: none

Upsert data points in one statement with RETURNING OLD/NEW
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
Due: rust-fmt, rust-clippy

Upgrade PostgreSQL to 18 everywhere
  .github/workflows/ci-core.yml
  .github/workflows/e2e-tests-nightly.yml
  .github/workflows/playwright-tests-comprehensive.yml
  README.md
  backend/README.md
  backend/crates/econ-graph-core/src/test_utils.rs
  backend/crates/econ-graph-core/tests/schema_validation_test.rs
  backend/crates/econ-graph-core/tests/world_bank_integration_tests.rs
  backend/crates/econ-graph-mcp/tests/mcp_server_integration_tests.rs
  ci/docker/docker-compose.best-practice.yml
  ci/docker/docker-compose.test.yml
  ci/docker/docker-compose.unified.yml
  docker-compose.yml
  docs/security/DEPLOYMENT_GUIDE.md
  docs/technical/TESTING_STRATEGY.md
  scripts/test-e2e-locally.sh
  scripts/test-e2e-simple.sh
  scripts/test-e2e.sh
  terraform/modules/postgresql/main.tf
Due: rust-fmt, rust-clippy

Drop 17 redundant indexes
  backend/migrations/2026-09-26-000001_drop_redundant_indexes/down.sql
  backend/migrations/2026-09-26-000001_drop_redundant_indexes/up.sql
Due: migration-date-order-check

Convert Postgres enum columns to VARCHAR + CHECK so diesel inserts work
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-core/src/models/financial_statement.rs
  backend/crates/econ-graph-core/src/models/financial_statement/tests.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/migrations/2026-09-25-000003_enum_columns_to_varchar/down.sql
  backend/migrations/2026-09-25-000003_enum_columns_to_varchar/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Make crawl_queue a correct shared job queue
  backend/crates/econ-graph-backend/src/integration_tests.rs
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-core/src/models/crawl_queue/tests.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-services/src/services/crawler/comprehensive_crawler.rs
  backend/crates/econ-graph-services/src/services/crawler/legacy_crawler_service.rs
  backend/crates/econ-graph-services/src/services/queue_service.rs
  backend/migrations/2026-09-25-000001_fix_crawl_queue/down.sql
  backend/migrations/2026-09-25-000001_fix_crawl_queue/up.sql
  backend/migrations/2026-09-25-000002_crawl_queue_timing/down.sql
  backend/migrations/2026-09-25-000002_crawl_queue_timing/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Store data point revisions as non-overlapping vintages
  backend/crates/econ-graph-core/src/models/data_point.rs
  backend/crates/econ-graph-core/src/models/data_point/tests.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-crawler/src/persist.rs
  backend/crates/econ-graph-crawler/src/worker/tests.rs
  backend/crates/econ-graph-graphql/src/graphql/dataloaders.rs
  backend/crates/econ-graph-graphql/src/graphql/query.rs
  backend/crates/econ-graph-graphql/src/types.rs
  backend/crates/econ-graph-services/src/services/series_service.rs
  backend/migrations/2026-09-26-000002_data_point_vintages/down.sql
  backend/migrations/2026-09-26-000002_data_point_vintages/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Keep extra annotation_type values in the enum rollback
  backend/migrations/2026-09-25-000003_enum_columns_to_varchar/down.sql
  backend/src/schema.rs
Due: rust-fmt, rust-clippy, migration-date-order-check

Address #162 review: guarded legacy transitions, finished_at, test DB guard
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-core/src/models/crawl_queue/tests.rs
  backend/crates/econ-graph-services/src/services/crawler/comprehensive_crawler.rs
  backend/crates/econ-graph-services/src/services/crawler/legacy_crawler_service.rs
  backend/crates/econ-graph-services/src/services/queue_service.rs
Due: rust-fmt, rust-clippy

Restore backend/src/schema.rs
  backend/src/schema.rs
Due: rust-fmt, rust-clippy

Drop 17 redundant indexes (#160)
  backend/migrations/2026-09-26-000001_drop_redundant_indexes/down.sql
  backend/migrations/2026-09-26-000001_drop_redundant_indexes/up.sql
Due: migration-date-order-check

Fence crawl_queue leases with a per-claim token
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-core/src/models/crawl_queue/tests.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-services/src/services/crawler/legacy_crawler_service.rs
  backend/migrations/2026-09-25-000002_crawl_queue_timing/down.sql
  backend/migrations/2026-09-25-000002_crawl_queue_timing/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Keep native Postgres enums and bind the Rust enums to them
  backend/crates/econ-graph-core/src/enums.rs
  backend/crates/econ-graph-core/src/models/financial_statement/tests.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-sec-crawler/src/dts_manager.rs
  backend/migrations/2026-09-25-000003_annotation_type_values/down.sql
  backend/migrations/2026-09-25-000003_annotation_type_values/up.sql
  backend/migrations/2026-09-25-000003_enum_columns_to_varchar/down.sql
  backend/migrations/2026-09-25-000003_enum_columns_to_varchar/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

queue_service: lease-guarded transitions for claimed items
  backend/crates/econ-graph-services/src/services/queue_service.rs
Due: rust-fmt, rust-clippy

Map new annotation_type labels to original ones on rollback
  backend/migrations/2026-09-25-000003_annotation_type_values/down.sql
Due: migration-date-order-check

Make crawl_queue a correct shared job queue (#162)
  backend/crates/econ-graph-backend/src/integration_tests.rs
  backend/crates/econ-graph-core/src/models/crawl_queue.rs
  backend/crates/econ-graph-core/src/models/crawl_queue/tests.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-services/src/services/crawler/comprehensive_crawler.rs
  backend/crates/econ-graph-services/src/services/crawler/legacy_crawler_service.rs
  backend/crates/econ-graph-services/src/services/queue_service.rs
  backend/migrations/2026-09-25-000001_fix_crawl_queue/down.sql
  backend/migrations/2026-09-25-000001_fix_crawl_queue/up.sql
  backend/migrations/2026-09-25-000002_crawl_queue_timing/down.sql
  backend/migrations/2026-09-25-000002_crawl_queue_timing/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Bind Rust enums to the native Postgres enum types so diesel inserts work (#161)
  .github/workflows/ci-core.yml
  backend/crates/econ-graph-core/src/enums.rs
  backend/crates/econ-graph-core/src/models/financial_statement.rs
  backend/crates/econ-graph-core/src/models/financial_statement/tests.rs
  backend/crates/econ-graph-core/src/schema.rs
  backend/crates/econ-graph-sec-crawler/src/dts_manager.rs
  backend/migrations/2026-09-25-000003_annotation_type_values/down.sql
  backend/migrations/2026-09-25-000003_annotation_type_values/up.sql
Due: rust-fmt, rust-clippy, migration-date-order-check

Run backend tests on pushes to main
  .github/workflows/ci-core.yml
Due: none

Fix SEC crawler file-size parsing and XBRL cache hits dropping data
  backend/crates/econ-graph-sec-crawler/src/utils.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Use prebuilt CI tools and a Cargo.lock-keyed Rust cache
  .github/workflows/ci-core.yml
Due: none

Run the database-backed backend tests in one job
  .github/workflows/ci-core.yml
Due: none

Harden SEC size parsing and the XBRL cache per review
  backend/crates/econ-graph-sec-crawler/src/utils.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

graphql: require admin for triggerCrawl
  backend/crates/econ-graph-graphql/src/graphql/mutation.rs
Due: rust-fmt, rust-clippy

Key XBRL cache by path too, skip caching racy parses, exact u64 sizes
  backend/crates/econ-graph-sec-crawler/src/utils.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser.rs
  backend/crates/econ-graph-sec-crawler/src/xbrl_parser_tests.rs
Due: rust-fmt, rust-clippy

Verify the diesel CLI download against its release checksum
  .github/workflows/ci-core.yml
Due: none
